In [1]:
#! pip install pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\RAW files\\Stage1_Sales_SAL_SOBKNG_TB.csv')

C:\Users\15442\AppData\Local\Temp\ipykernel_12500\1563139292.py:1: DtypeWarning: Columns (35,80) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\RAW files\\Stage1_Sales_SAL_SOBKNG_TB.csv')

In [4]:
df.shape

(953389, 81)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 81 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BKNG_DLR_NO             953388 non-null  object
 1   BKNG_NO                 953388 non-null  object
 2   BKNG_CORP_NO            953388 non-null  object
 3   BKNG_CMPN_NO            953388 non-null  object
 4   BKNG_DATE               953388 non-null  object
 5   BKNG_MODEL_CODE         953388 non-null  object
 6   BKNG_VRNT_CODE          953388 non-null  float64
 7   BKNG_COLOR_CODE         953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE   167443 non-null  float64
 9   BKNG_VRNT_PRICE         942063 non-null  float64
 10  BKNG_AMT                17799 non-null   float64
 11  BKNG_RCPT_TOTAL_AMT     906449 non-null  float64
 12  BKNG_RCPT_CMPLT_YN      953388 non-null  object
 13  BKNG_ALCN_DATE          507786 non-null  object
 14  BKNG_ALCN_VIN           505379 non-null  object
 15  BKNG_FNCE_TYPE          943447 non-null  float64
 16  BKNG_FNCE_YN            0 non-null       float64
 17  BKNG_FNCER_CODE         441412 non-null  object
 18  BKNG_DSA_NAME           6473 non-null    object
 19  BKNG_LOAN_AMT           518776 non-null  float64
 20  BKNG_TENOR_NMTHS        22050 non-null   float64
 21  BKNG_FILE_NO            0 non-null       float64
 22  BKNG_DO_NO              0 non-null       float64
 23  BKNG_DO_AMT             26839 non-null   float64
 24  BKNG_DO_DATE            44926 non-null   object
 25  BKNG_IFA_AMT            0 non-null       float64
 26  BKNG_INVGT_DATE         0 non-null       float64
 27  BKNG_FLGN_DATE          0 non-null       float64
 28  BKNG_PADS_DATE          0 non-null       float64
 29  BKNG_FNLA_DATE          0 non-null       float64
 30  BKNG_INVGT_STAT         0 non-null       float64
 31  BKNG_CNCL_TYPE          0 non-null       float64
 32  BKNG_CNCL_DATE          1906 non-null    float64
 33  BKNG_CNCL_RMRKS         0 non-null       float64
 34  BKNG_ENQRY_NO           953388 non-null  object
 35  BKNG_EMP_NO             1 non-null       object
 36  BKNG_CUST_NO            0 non-null       float64
 37  BKNG_CRTE_DTIME         953388 non-null  object
 38  BKNG_CRTE_EMP_NO        953388 non-null  object
 39  BKNG_UPDT_DTIME         953388 non-null  object
 40  BKNG_UPDT_EMP_NO        953388 non-null  object
 41  BKNG_RADS_DATE          17799 non-null   object
 42  BKNG_DO_ISSD_BY         27956 non-null   float64
 43  BKNG_DO_CMMT_PMNT_DATE  26309 non-null   object
 44  BKNG_DO_ISSR_NAME       0 non-null       float64
 45  BKNG_DBRS_DATE          0 non-null       float64
 46  BKNG_EXPTD_DBRS_DATE    0 non-null       float64
 47  BKNG_CMTD_DLVRY_DATE    170220 non-null  object
 48  BKNG_RACK_RATE          3370 non-null    float64
 49  BKNG_DSA_CMSN           495228 non-null  float64
 50  BKNG_BRKR_PYMT_TYPE     36 non-null      float64
 51  BKNG_BRKR_PYMT_AMT      0 non-null       float64
 52  BKNG_SALE_TYPE          518116 non-null  float64
 53  BKNG_ADVNC_EMI          518776 non-null  float64
 54  BKNG_IFA_DATE           0 non-null       float64
 55  BKNG_BASIC_PRICE        518779 non-null  float64
 56  BKNG_TAX_PRCNT          518779 non-null  float64
 57  BKNG_EDCE_PRCNT         518779 non-null  float64
 58  BKNG_HYPO_NAME          441201 non-null  object
 59  BKNG_RFND_TOTAL_AMT     951015 non-null  float64
 60  BKNG_CGST_PRCNT         518776 non-null  float64
 61  BKNG_SGST_PRCNT         518776 non-null  float64
 62  BKNG_IGST_PRCNT         518776 non-null  float64
 63  BKNG_INTCOLOR_CODE      953378 non-null  object
 64  BKNG_BILL_TO_NAME       110447 non-null  object
 65  BKNG_BILL_TO_ADDR       109509 non-null  object
 66  BKNG_BILL_TO_STATE      110381 non-null  object
 67  BKNG_BILL_TO_CITY       110365 non-null  object
 68  BKNG_BILL_TO_TEHSIL     104185 non-null  object
 69  BKNG_BILL_TO_VILLAGE    16487 non-null   object
 70  BKNG_BILL_TO_PIN        110353 non-null  float64
 71  BKNG_SHIP_TO_NAME       92280 non-null   object
 72  BKNG_SHIP_TO_ADDR       78880 non-null   object
 73  BKNG_SHIP_TO_STATE      87284 non-null   object
 74  BKNG_SHIP_TO_CITY       87193 non-null   object
 75  BKNG_SHIP_TO_TEHSIL     71220 non-null   object
 76  BKNG_SHIP_TO_VILLAGE    16251 non-null   object
 77  BKNG_SHIP_TO_PIN        87012 non-null   float64
 78  BKNG_FINCR_BRANCH_NM    97039 non-null   object
 79  BKNG_RMRKS              6641 non-null    object
 80  BKNG_SRC_FLG            555044 non-null  object
dtypes: float64(42), object(39)
memory usage: 589.2+ MB

In [6]:
#check null values sum
df.isna().sum()

BKNG_DLR_NO                  1
BKNG_NO                      1
BKNG_CORP_NO                 1
BKNG_CMPN_NO                 1
BKNG_DATE                    1
                         ...
BKNG_SHIP_TO_VILLAGE    937138
BKNG_SHIP_TO_PIN        866377
BKNG_FINCR_BRANCH_NM    856350
BKNG_RMRKS              946748
BKNG_SRC_FLG            398345
Length: 81, dtype: int64

In [7]:
#append the null values column name in list
list = []
for i in df:
    if df[i].isna().sum() == 953389:
        list.append(i)

In [8]:
#list with nulls
list

['BKNG_FNCE_YN',
 'BKNG_FILE_NO',
 'BKNG_DO_NO',
 'BKNG_IFA_AMT',
 'BKNG_INVGT_DATE',
 'BKNG_FLGN_DATE',
 'BKNG_PADS_DATE',
 'BKNG_FNLA_DATE',
 'BKNG_INVGT_STAT',
 'BKNG_CNCL_TYPE',
 'BKNG_CNCL_RMRKS',
 'BKNG_CUST_NO',
 'BKNG_DO_ISSR_NAME',
 'BKNG_DBRS_DATE',
 'BKNG_EXPTD_DBRS_DATE',
 'BKNG_BRKR_PYMT_AMT',
 'BKNG_IFA_DATE']

In [9]:
#drop the colummn having nulls
df.drop(['BKNG_FNCE_YN',
 'BKNG_FILE_NO',
 'BKNG_DO_NO',
 'BKNG_IFA_AMT',
 'BKNG_INVGT_DATE',
 'BKNG_FLGN_DATE',
 'BKNG_PADS_DATE',
 'BKNG_FNLA_DATE',
 'BKNG_INVGT_STAT',
 'BKNG_CNCL_TYPE',
 'BKNG_CNCL_RMRKS',
 'BKNG_DO_ISSR_NAME',
 'BKNG_DBRS_DATE',
 'BKNG_EXPTD_DBRS_DATE',
 'BKNG_BRKR_PYMT_AMT',
 'BKNG_IFA_DATE'], axis=1, inplace = True)

In [10]:
df.shape

(953389, 65)

In [11]:
#column after null removal
df.columns

Index(['BKNG_DLR_NO', 'BKNG_NO', 'BKNG_CORP_NO', 'BKNG_CMPN_NO', 'BKNG_DATE',
       'BKNG_MODEL_CODE', 'BKNG_VRNT_CODE', 'BKNG_COLOR_CODE',
       'BKNG_EXPCT_DLVRY_DATE', 'BKNG_VRNT_PRICE', 'BKNG_AMT',
       'BKNG_RCPT_TOTAL_AMT', 'BKNG_RCPT_CMPLT_YN', 'BKNG_ALCN_DATE',
       'BKNG_ALCN_VIN', 'BKNG_FNCE_TYPE', 'BKNG_FNCER_CODE', 'BKNG_DSA_NAME',
       'BKNG_LOAN_AMT', 'BKNG_TENOR_NMTHS', 'BKNG_DO_AMT', 'BKNG_DO_DATE',
       'BKNG_CNCL_DATE', 'BKNG_ENQRY_NO', 'BKNG_EMP_NO', 'BKNG_CUST_NO',
       'BKNG_CRTE_DTIME', 'BKNG_CRTE_EMP_NO', 'BKNG_UPDT_DTIME',
       'BKNG_UPDT_EMP_NO', 'BKNG_RADS_DATE', 'BKNG_DO_ISSD_BY',
       'BKNG_DO_CMMT_PMNT_DATE', 'BKNG_CMTD_DLVRY_DATE', 'BKNG_RACK_RATE',
       'BKNG_DSA_CMSN', 'BKNG_BRKR_PYMT_TYPE', 'BKNG_SALE_TYPE',
       'BKNG_ADVNC_EMI', 'BKNG_BASIC_PRICE', 'BKNG_TAX_PRCNT',
       'BKNG_EDCE_PRCNT', 'BKNG_HYPO_NAME', 'BKNG_RFND_TOTAL_AMT',
       'BKNG_CGST_PRCNT', 'BKNG_SGST_PRCNT', 'BKNG_IGST_PRCNT',
       'BKNG_INTCOLOR_CODE', 'BKNG_BILL_TO_NAME', 'BKNG_BILL_TO_ADDR',
       'BKNG_BILL_TO_STATE', 'BKNG_BILL_TO_CITY', 'BKNG_BILL_TO_TEHSIL',
       'BKNG_BILL_TO_VILLAGE', 'BKNG_BILL_TO_PIN', 'BKNG_SHIP_TO_NAME',
       'BKNG_SHIP_TO_ADDR', 'BKNG_SHIP_TO_STATE', 'BKNG_SHIP_TO_CITY',
       'BKNG_SHIP_TO_TEHSIL', 'BKNG_SHIP_TO_VILLAGE', 'BKNG_SHIP_TO_PIN',
       'BKNG_FINCR_BRANCH_NM', 'BKNG_RMRKS', 'BKNG_SRC_FLG'],
      dtype='object')

In [12]:
# list2 = ['BKNG_DLR_NO',
#  'BKNG_NO',
#  'BKNG_CORP_NO',
#  'BKNG_CMPN_NO',
#  'BKNG_DATE',
#  'BKNG_MODEL_CODE',
#  'BKNG_VRNT_CODE',
#  'BKNG_COLOR_CODE',
#  'BKNG_EXPCT_DLVRY_DATE',
#  'BKNG_VRNT_PRICE',
#  'BKNG_AMT',
#  'BKNG_RCPT_TOTAL_AMT',
#  'BKNG_ALCN_DATE',
#  'BKNG_FNCE_TYPE',
#  'BKNG_FNCE_YN',
#  'BKNG_DSA_NAME',
#  'BKNG_DO_AMT',
#  'BKNG_CNCL_DATE',
#  'BKNG_CNCL_RMRKS',
#  'BKNG_ENQRY_NO',
#  'BKNG_EMP_NO',
#  'BKNG_CUST_NO',
#  'BKNG_CRTE_DTIME',
#  'BKNG_CRTE_EMP_NO',
#  'BKNG_UPDT_DTIME',
#  'BKNG_CMTD_DLVRY_DATE',
#  'BKNG_SALE_TYPE',
#  'BKNG_INTCOLOR_CODE',
#  'BKNG_BILL_TO_STATE',
#  'BKNG_BILL_TO_CITY',
#  'BKNG_BILL_TO_TEHSIL',
#  'BKNG_BILL_TO_VILLAGE',
#  'BKNG_RMRKS',
#  'BKNG_SRC_FLG']

In [13]:
#comparing the name(from google sheet) and removing extras
list3 = []
for i in df:
    list2 = ['BKNG_DLR_NO',
 'BKNG_NO',
 'BKNG_CORP_NO',
 'BKNG_CMPN_NO',
 'BKNG_DATE',
 'BKNG_MODEL_CODE',
 'BKNG_VRNT_CODE',
 'BKNG_COLOR_CODE',
 'BKNG_EXPCT_DLVRY_DATE',
 'BKNG_VRNT_PRICE',
 'BKNG_AMT',
 'BKNG_RCPT_TOTAL_AMT',
 'BKNG_ALCN_DATE',
 'BKNG_FNCE_TYPE',
 'BKNG_FNCE_YN',
 'BKNG_DSA_NAME',
 'BKNG_DO_AMT',
 'BKNG_CNCL_DATE',
 'BKNG_CNCL_RMRKS',
 'BKNG_ENQRY_NO',
 'BKNG_EMP_NO',
 'BKNG_CUST_NO',
 'BKNG_CRTE_DTIME',
 'BKNG_CRTE_EMP_NO',
 'BKNG_UPDT_DTIME',
 'BKNG_CMTD_DLVRY_DATE',
 'BKNG_SALE_TYPE',
 'BKNG_INTCOLOR_CODE',
 'BKNG_BILL_TO_STATE',
 'BKNG_BILL_TO_CITY',
 'BKNG_BILL_TO_TEHSIL',
 'BKNG_BILL_TO_VILLAGE',
 'BKNG_RMRKS',
 'BKNG_SRC_FLG']
    for j in list2:
        if i == j:
            list3.append(df[i])         #I hadn't taken df list will contain column name

In [14]:
updt_df  = pd.DataFrame(list3)

In [15]:
updt_df.shape

(32, 953389)

In [16]:
#Transpose the df
new_df = updt_df.T

In [17]:
new_df

,BKNG_DLR_NO,BKNG_NO,BKNG_CORP_NO,BKNG_CMPN_NO,BKNG_DATE,BKNG_MODEL_CODE,BKNG_VRNT_CODE,BKNG_COLOR_CODE,BKNG_EXPCT_DLVRY_DATE,BKNG_VRNT_PRICE,...,BKNG_UPDT_DTIME,BKNG_CMTD_DLVRY_DATE,BKNG_SALE_TYPE,BKNG_INTCOLOR_CODE,BKNG_BILL_TO_STATE,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG
0,TRDL101,B201900001,A10VA,K,2019-07-16,TI,123.0,GWP,NaN,NaN,...,22-09-19 18:47,NaN,NaN,GYT,NaN,NaN,NaN,NaN,NaN,NaN
1,TRUP403,B201900002,A10VA,K,2019-07-16,TI,7.0,KDG,NaN,0.0,...,26-08-19 14:19,NaN,NaN,WK,UTTAR PRADESH,Ghaziabad,Ghaziabad,NaN,NaN,NaN
2,TRUP403,B201900003,A10VA,K,2019-07-16,TI,123.0,A6R,NaN,0.0,...,06-09-19 15:25,NaN,NaN,WK,UTTAR PRADESH,NOIDA,Noida,NaN,NaN,NaN
3,TRTN403,B201900001,A10VA,K,2019-07-16,TI,6.0,GWP,NaN,0.0,...,24-01-20 00:15,NaN,NaN,WK,NaN,NaN,NaN,NaN,NaN,NaN
4,TRDL404,B201900004,A10VA,K,2019-07-16,TI,208.0,GWP,NaN,1699000.0,...,23-10-19 15:58,NaN,50.0,GYT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953384,TRMH104,B202206106,A10VA,K,2022-08-07,TI,123.0,A6R,NaN,0.0,...,07-08-22 18:48,NaN,NaN,GYT,NaN,NaN,NaN,NaN,NaN,MOB
953385,TRDL407,B202207751,A10VA,K,2022-08-07,SX,322.0,A6R,NaN,0.0,...,07-08-22 18:54,NaN,NaN,WK,NaN,NaN,NaN,NaN,NaN,MOB
953386,TRHR304,B202207491,A10VA,K,2022-08-07,SX,322.0,A6R,NaN,0.0,...,07-08-22 19:32,NaN,NaN,WK,NaN,NaN,NaN,NaN,NaN,MOB
953387,TRKA301,B202208498,A10VA,K,2022-08-07,SX,279.0,KCS,NaN,0.0,...,07-08-22 19:41,NaN,NaN,GYT,NaN,NaN,NaN,NaN,NaN,MOB
953388,TRMH406,B202204927,A10VA,K,2022-08-07,SX,304.0,GWP,NaN,0.0,...,07-08-22 19:59,NaN,NaN,GYT,NaN,NaN,NaN,NaN,NaN,MOB

In [18]:
new_df.shape

(953389, 32)

In [19]:
column_indices = [0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31]
new_names = ['Dealer_No',
 'Booking_No',
 'Corporation_No',
 'Company_No',
 'BKNG_DATE',
 'Model_Code',
 'TRIM_Code',
 'Ext.Colour_Code',
 'BKNG_EXPCT_DLVRY_DATE',
 'BKNG_VRNT_PRICE',
 'BKNG_AMT',
 'BKNG_RCPT_TOTAL_AMT',
 'BKNG_ALCN_DATE',
 'BKNG_FNCE_TYPE',
 'BKNG_DSA_NAME',
 'BKNG_DO_AMT',
 'BKNG_CNCL_DATE',
 'Link_Enquiry_No',
 'BKNG_EMP_NO',
 'Customer_No',
 'BKNG_CRTE_DTIME',
 'BKNG_CRTE_EMP_NO',
 'BKNG_UPDT_DTIME',
 'BKNG_CMTD_DLVRY_DATE',
 'BKNG_SALE_TYPE',
 'Int.Colour_Code',
 'BKNG_BILL_TO_STATE',
 'BKNG_BILL_TO_CITY',
 'BKNG_BILL_TO_TEHSIL',
 'BKNG_BILL_TO_VILLAGE',
 'BKNG_RMRKS',
 'BKNG_SRC_FLG']
old_names = new_df.columns[column_indices]
new_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [20]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  object
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  object
 9   BKNG_VRNT_PRICE        942063 non-null  object
 10  BKNG_AMT               17799 non-null   object
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  object
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  object
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   object
 16  BKNG_CNCL_DATE         1906 non-null    object
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       object
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  object
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           555044 non-null  object
dtypes: object(32)
memory usage: 232.8+ MB

In [21]:
new_df.shape

(953389, 32)

In [22]:
new_df['BKNG_AMT']

0         25000.0
1             NaN
2             NaN
3             NaN
4             NaN
           ...
953384        NaN
953385        NaN
953386        NaN
953387        NaN
953388        NaN
Name: BKNG_AMT, Length: 953389, dtype: object

In [23]:
new_df['BKNG_AMT'] = new_df['BKNG_AMT'].fillna(0)

In [24]:
new_df['BKNG_AMT']

0         25000.0
1             0.0
2             0.0
3             0.0
4             0.0
           ...
953384        0.0
953385        0.0
953386        0.0
953387        0.0
953388        0.0
Name: BKNG_AMT, Length: 953389, dtype: float64

In [25]:
new_df["BKNG_AMT"] = new_df["BKNG_AMT"].astype(int)

In [26]:
new_df['BKNG_AMT']

0         25000
1             0
2             0
3             0
4             0
          ...
953384        0
953385        0
953386        0
953387        0
953388        0
Name: BKNG_AMT, Length: 953389, dtype: int32

In [27]:
new_df.rename(columns={"BKNG_AMT":"Booking_Amt"},inplace = True)

In [28]:
new_df['Booking_Amt']

0         25000
1             0
2             0
3             0
4             0
          ...
953384        0
953385        0
953386        0
953387        0
953388        0
Name: Booking_Amt, Length: 953389, dtype: int32

In [29]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 32 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  object
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  object
 9   BKNG_VRNT_PRICE        942063 non-null  object
 10  Booking_Amt            953389 non-null  int32
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  object
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  object
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   object
 16  BKNG_CNCL_DATE         1906 non-null    object
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       object
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  object
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           555044 non-null  object
dtypes: int32(1), object(31)
memory usage: 229.1+ MB

In [30]:
new_df["BKNG_SRC_FLG"] = new_df["BKNG_SRC_FLG"].astype(str)

In [31]:
new_df["BKNG_SRC_FLG"]

0         nan
1         nan
2         nan
3         nan
4         nan
         ...
953384    MOB
953385    MOB
953386    MOB
953387    MOB
953388    MOB
Name: BKNG_SRC_FLG, Length: 953389, dtype: object

In [32]:
BKNG_SRC_FLG_list = []
for i in new_df["BKNG_SRC_FLG"]:
        BKNG_SRC_FLG_list.append(i)

In [33]:
for i in range(len(BKNG_SRC_FLG_list)):
    if BKNG_SRC_FLG_list[i] == 'MOB':
        BKNG_SRC_FLG_list[i] = 'MySales'

In [34]:
for i in range(len(BKNG_SRC_FLG_list)):
    if BKNG_SRC_FLG_list[i] != 'nan' and BKNG_SRC_FLG_list[i] != 'MySales':
        BKNG_SRC_FLG_list[i] = 'Online'
    elif BKNG_SRC_FLG_list[i] == 'nan':
        BKNG_SRC_FLG_list[i] = 'DMS'

In [35]:
# BKNG_SRC_FLG_list[-50:-1]

In [36]:
# for i in range(len(BKNG_SRC_FLG_list)):
#     if BKNG_SRC_FLG_list[i] == 'Online':
#         print(i)

In [37]:
# BKNG_SRC_FLG_list[140602]

In [38]:
# new_df.shape

In [39]:
new_df['Booking_Source_Type'] = BKNG_SRC_FLG_list

In [40]:
new_df['Booking_Source_Type']

0             DMS
1             DMS
2             DMS
3             DMS
4             DMS
           ...
953384    MySales
953385    MySales
953386    MySales
953387    MySales
953388    MySales
Name: Booking_Source_Type, Length: 953389, dtype: object

In [41]:
# new_df.info()

In [42]:
new_df['Booking_Source'] = new_df['BKNG_SRC_FLG'].apply(lambda x: 'MOBILE' if x == 'MOB' else x.upper())

In [43]:
new_df['Booking_Source']

0            NAN
1            NAN
2            NAN
3            NAN
4            NAN
           ...
953384    MOBILE
953385    MOBILE
953386    MOBILE
953387    MOBILE
953388    MOBILE
Name: Booking_Source, Length: 953389, dtype: object

In [44]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 34 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  object
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  object
 9   BKNG_VRNT_PRICE        942063 non-null  object
 10  Booking_Amt            953389 non-null  int32
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  object
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  object
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   object
 16  BKNG_CNCL_DATE         1906 non-null    object
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       object
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  object
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           953389 non-null  object
 32  Booking_Source_Type    953389 non-null  object
 33  Booking_Source         953389 non-null  object
dtypes: int32(1), object(33)
memory usage: 243.7+ MB

In [45]:
new_df['Dealer_Booking'] = new_df['Dealer_No']+new_df['Booking_No']

In [46]:
new_df['Dealer_Booking']

0         TRDL101B201900001
1         TRUP403B201900002
2         TRUP403B201900003
3         TRTN403B201900001
4         TRDL404B201900004
                ...
953384    TRMH104B202206106
953385    TRDL407B202207751
953386    TRHR304B202207491
953387    TRKA301B202208498
953388    TRMH406B202204927
Name: Dealer_Booking, Length: 953389, dtype: object

In [47]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  object
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  object
 9   BKNG_VRNT_PRICE        942063 non-null  object
 10  Booking_Amt            953389 non-null  int32
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  object
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  object
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   object
 16  BKNG_CNCL_DATE         1906 non-null    object
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       object
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  object
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           953389 non-null  object
 32  Booking_Source_Type    953389 non-null  object
 33  Booking_Source         953389 non-null  object
 34  Dealer_Booking         953387 non-null  object
dtypes: int32(1), object(34)
memory usage: 250.9+ MB

In [48]:
new_df

,Dealer_No,Booking_No,Corporation_No,Company_No,BKNG_DATE,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,BKNG_VRNT_PRICE,...,Int.Colour_Code,BKNG_BILL_TO_STATE,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,Dealer_Booking
0,TRDL101,B201900001,A10VA,K,2019-07-16,TI,123.0,GWP,NaN,NaN,...,GYT,NaN,NaN,NaN,NaN,NaN,nan,DMS,NAN,TRDL101B201900001
1,TRUP403,B201900002,A10VA,K,2019-07-16,TI,7.0,KDG,NaN,0.0,...,WK,UTTAR PRADESH,Ghaziabad,Ghaziabad,NaN,NaN,nan,DMS,NAN,TRUP403B201900002
2,TRUP403,B201900003,A10VA,K,2019-07-16,TI,123.0,A6R,NaN,0.0,...,WK,UTTAR PRADESH,NOIDA,Noida,NaN,NaN,nan,DMS,NAN,TRUP403B201900003
3,TRTN403,B201900001,A10VA,K,2019-07-16,TI,6.0,GWP,NaN,0.0,...,WK,NaN,NaN,NaN,NaN,NaN,nan,DMS,NAN,TRTN403B201900001
4,TRDL404,B201900004,A10VA,K,2019-07-16,TI,208.0,GWP,NaN,1699000.0,...,GYT,NaN,NaN,NaN,NaN,NaN,nan,DMS,NAN,TRDL404B201900004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953384,TRMH104,B202206106,A10VA,K,2022-08-07,TI,123.0,A6R,NaN,0.0,...,GYT,NaN,NaN,NaN,NaN,NaN,MOB,MySales,MOBILE,TRMH104B202206106
953385,TRDL407,B202207751,A10VA,K,2022-08-07,SX,322.0,A6R,NaN,0.0,...,WK,NaN,NaN,NaN,NaN,NaN,MOB,MySales,MOBILE,TRDL407B202207751
953386,TRHR304,B202207491,A10VA,K,2022-08-07,SX,322.0,A6R,NaN,0.0,...,WK,NaN,NaN,NaN,NaN,NaN,MOB,MySales,MOBILE,TRHR304B202207491
953387,TRKA301,B202208498,A10VA,K,2022-08-07,SX,279.0,KCS,NaN,0.0,...,GYT,NaN,NaN,NaN,NaN,NaN,MOB,MySales,MOBILE,TRKA301B202208498
953388,TRMH406,B202204927,A10VA,K,2022-08-07,SX,304.0,GWP,NaN,0.0,...,GYT,NaN,NaN,NaN,NaN,NaN,MOB,MySales,MOBILE,TRMH406B202204927

In [49]:
# new_df.to_csv("C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\Stage1_Sales_SAL_SOBKNG_TB(m).csv",index=False)

In [50]:
# new_df['Booking_Source_Type'] = new_df['BKNG_SRC_FLG']

In [51]:
# new_df['BKNG_SRC_FLG']

In [52]:
# new_df['Booking_Source_Type']

In [53]:
# if (new_df['Booking_Source_Type'].str.len() > 0):
#     if (new_df['Booking_Source_Type'] != 'MOB'):
#          new_df['Booking_Source_Type'] = 'Online'

In [54]:
# new_df.loc[new_df['Booking_Source_Type'] == "MOB", "Booking_Source_Type"] = 'MySales'
# ------------------------------------------------------------------------------------------------------------------------------
# for i in new_df['Booking_Source_Type']:
#     if i == 'MOB':
#         i = 'MySales'
#     else:
#         if len(i)>0:
#             i = 'Online'
#         else:
#             i = 'DMS'
# ------------------------------------------------------------------------------------------------------------------------------
# for i in new_df['Booking_Source_Type']:
#     if len(i)>0 and i!=MySales:
#             new_df.loc[len(new_df['Booking_Source_Type']) > 0, "Booking_Source_Type"] = 'Online'
#         else:
#             i = 'DMS'

In [55]:
# new_df['Booking_Source_Type'].apply(lambda x: 'MySales' if x == 'MOB' else 
#                                     new_df['Booking_Source_Type'].apply(lambda y: 'Online' if y > 0 and y!= 'MySales' else 'DMS' ) )

In [56]:
# new_df['Booking_Source_Type'] = new_df.apply(lambda x: 'MySales' if new_df['Booking_Source_Type'] == 'MOB' else ('Online' if new_df['Booking_Source_Type'].apply(len) > 0 else 'DMS'))

In [57]:
# for i in new_df['Booking_Source_Type']:
#     if i == 'MOB':
#         i = 'MySales'
#     else:
#         if len(i) > 0:
#             i = 'Online'
#         else:
#             i = 'DMS'
    
# if new_df['Booking_Source_Type'] == 'MOB':
#     new_df['Booking_Source_Type'] = 'MySales'
# else:
#     if new_df['Booking_Source_Type'].apply(len) > 0:
#         new_df['Booking_Source_Type'] = 'Online'
#     else:
#         new_df['Booking_Source_Type'] = 'DMS'

In [58]:
# import numpy as np

In [59]:
# if 'MOB' in new_df['Booking_Source_Type'].values:
#     new_df['Booking_Source_Type'].replace('MOB','MySales',inplace = True)
# elif 'nan' in new_df['Booking_Source_Type'].values:
#     new_df['Booking_Source_Type'].replace('nan','DMS',inplace = True)
# else:
#     new_df['Booking_Source_Type'] = np.where((new_df['Booking_Source_Type']!= 'MySales') & (new_df['Booking_Source_Type']!= 'DMS')  ,'Online')

In [60]:
# new_df['Booking_Source_Type']

In [61]:
# if 'MOB' in new_df['Booking_Source_Type'].values:
#      new_df['Booking_Source_Type'].replace('MOB','MySales',inplace = True)
# else:
#     if len(new_df['Booking_Source_Type']) > 0:
#         new_df['Booking_Source_Type'] = 'Online'
#     else:
#         new_df['Booking_Source_Type'] = 'DMS'

In [62]:
# ---------------------------------------------------------------------------------------------------------
# STEP 1 OVER
# ---------------------------------------------------------------------------------------------------------

In [63]:
# Now here for applyMap

In [64]:
for_apply_df = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\RAW files\\Stage1_Sales_RO_Booking.csv')

C:\Users\15442\AppData\Local\Temp\ipykernel_12500\3779543387.py:1: DtypeWarning: Columns (31,39,96) have mixed types. Specify dtype option on import or set low_memory=False.
  for_apply_df = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\RAW files\\Stage1_Sales_RO_Booking.csv')

In [65]:
for_apply_df.shape

(953461, 105)

In [66]:
for_apply_df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 105 columns):
 #    Column                  Dtype
---   ------                  -----
 0    Occup_Key               object
 1    CMM_CODE                float64
 2    Comp_key                object
 3    EQRY_MAKER_CODE         object
 4    Join_KEY                object
 5    CSPM_CHRG_SALES_EMP_NO  object
 6    Booking Month           object
 7    REGION                  object
 8    BKNG_DLR_NO             object
 9    TRADE_NAME              object
 10   DEALER_CITY             object
 11   EQRY_ENQRY_NO           object
 12   EQRY_PRESENT_CAR_YN     object
 13   EQRY_DATE               object
 14   EQRY_STAT               object
 15   EQRY_CLSE_DATE          object
 16   EQRY_SRC_CODE           object
 17   EQRY_CTGR_CODE          float64
 18   EQRY_SUB_SRC_CODE       object
 19   CSPM_CUST_NO            object
 20   CSPM_CUST_FULL_NAME     object
 21   M_MOBL_PHONE_NO         float64
 22   CSPM_EMAIL              object
 23   CUSTOMER_TYPE           object
 24   MODEL                   object
 25   ENGINE_TYPE             object
 26   TRANSMISSION            object
 27   TRANSMISSION1           object
 28   KEC                     object
 29   KEC_CODE                object
 30   ADDR                    object
 31   PIN_CODE                object
 32   CITY_CODE               object
 33   STCD_CODE               object
 34   BOOKING_ADD1            object
 35   BOOKING_ADD2            object
 36   BOOKING_ADD3            object
 37   BOOKING_STATE           object
 38   BOOKING_CITY            object
 39   BOOKING_PIN             object
 40   EXCHANGE_REQUIRED       object
 41   EQRY_EXCHG_MODEL_CODE   object
 42   EQRY_EXCHG_SRC_CODE     float64
 43   EQRY_CORP_NAME          object
 44   EQRY_EXPCT_PRICE        float64
 45   EQRY_QUOTD_PRICE        float64
 46   EQRY_P_MODL_YEAR        object
 47   EQRY_EVAL_YN            object
 48   EQRY_EXCH_DN            object
 49   EQRY_FINAL_BP           float64
 50   EQRY_CMPN_NO            object
 51   EQRY_CORP_NO            object
 52   EQRY_LISTD_CORP         object
 53   EQRY_CUST_NO            object
 54   EQRY_DLR_NO             object
 55   CSPM_BRTH_DATE          object
 56   REGISTER_CORP           object
 57   EXISTING_CAR            object
 58   FINANCE_REQUIRED        object
 59   BKNG_NO                 object
 60   BOOKING_DATE            object
 61   BKNG_AMT                float64
 62   BOOKING_STATUS          float64
 63   RCPT_NO                 object
 64   RCPT_AMT                object
 65   PAYMENT_TYPE            object
 66   REGISTRATION_NAME       object
 67   EQRY_SR_NUM_REAL        object
 68   BOOKING_TYPE            object
 69   GRP_VRNT_CD             object
 70   EXT_COLOR_NAME          object
 71   INT_COLOR_NAME          object
 72   FINANCIER               object
 73   MODE_OF_PURCHASE        object
 74   BOOKING_CREATION_DATE   object
 75   BOOKING_CREATION_TIME   object
 76   BOOKING_UPDATE_DATE     object
 77   BOOKING_UPDATE_TIME     object
 78   TEST_DRIVE_DATE         object
 79   REQST_TYPE              object
 80   ENQUIRY_CATEGORY        float64
 81   VEHICLE_BOOKED_COUNT    float64
 82   LOSS_DATE               object
 83   LOSS_REMARK             object
 84   LOSS_REASON             object
 85   LOSS_DUETO              object
 86   LOSS_DUETO_DETAIL       object
 87   TEAM_LEADER             object
 88   REBKNG_CNT              float64
 89   RCNT_REBKNG_DT          object
 90   MOB_EMAIL_DATE          object
 91   DMS_EMAIL_DATE          object
 92   MOB_DOCK                float64
 93   VRNT_SPEC_CODE          object
 94   DMS_DOCK                float64
 95   ORDER DATE              float64
 96   ORDER_TYPE              object
 97   OEM                     object
 98   MODL_MAKER_CODE         object
 99   MODL_MODEL_CODE         object
 100  OEM_MODEL               object
 101  CMM_GRP_CODE            object
 102  CMM_CODE_NAME           object
 103  CUDT_JOB_CODE           object
 104  Occ_Name                object
dtypes: float64(15), object(90)
memory usage: 763.8+ MB

In [67]:
for_apply_df['Dealer_Booking'] = for_apply_df['BKNG_DLR_NO'] + for_apply_df['BKNG_NO']

In [68]:
for_apply_df['Dealer_Booking']

0         TRUP403B201900001
1         TRUP403B201900009
2         TRUP403B201900044
3         TRUP403B202002961
4         TRUP403B201900011
                ...
953456    TRHP501B202201066
953457    TRMH502B202201296
953458    TRMH404B202204636
953459    TRKA304B202208511
953460    TRJH501B202200585
Name: Dealer_Booking, Length: 953461, dtype: object

In [69]:
for_apply_df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 106 columns):
 #    Column                  Dtype
---   ------                  -----
 0    Occup_Key               object
 1    CMM_CODE                float64
 2    Comp_key                object
 3    EQRY_MAKER_CODE         object
 4    Join_KEY                object
 5    CSPM_CHRG_SALES_EMP_NO  object
 6    Booking Month           object
 7    REGION                  object
 8    BKNG_DLR_NO             object
 9    TRADE_NAME              object
 10   DEALER_CITY             object
 11   EQRY_ENQRY_NO           object
 12   EQRY_PRESENT_CAR_YN     object
 13   EQRY_DATE               object
 14   EQRY_STAT               object
 15   EQRY_CLSE_DATE          object
 16   EQRY_SRC_CODE           object
 17   EQRY_CTGR_CODE          float64
 18   EQRY_SUB_SRC_CODE       object
 19   CSPM_CUST_NO            object
 20   CSPM_CUST_FULL_NAME     object
 21   M_MOBL_PHONE_NO         float64
 22   CSPM_EMAIL              object
 23   CUSTOMER_TYPE           object
 24   MODEL                   object
 25   ENGINE_TYPE             object
 26   TRANSMISSION            object
 27   TRANSMISSION1           object
 28   KEC                     object
 29   KEC_CODE                object
 30   ADDR                    object
 31   PIN_CODE                object
 32   CITY_CODE               object
 33   STCD_CODE               object
 34   BOOKING_ADD1            object
 35   BOOKING_ADD2            object
 36   BOOKING_ADD3            object
 37   BOOKING_STATE           object
 38   BOOKING_CITY            object
 39   BOOKING_PIN             object
 40   EXCHANGE_REQUIRED       object
 41   EQRY_EXCHG_MODEL_CODE   object
 42   EQRY_EXCHG_SRC_CODE     float64
 43   EQRY_CORP_NAME          object
 44   EQRY_EXPCT_PRICE        float64
 45   EQRY_QUOTD_PRICE        float64
 46   EQRY_P_MODL_YEAR        object
 47   EQRY_EVAL_YN            object
 48   EQRY_EXCH_DN            object
 49   EQRY_FINAL_BP           float64
 50   EQRY_CMPN_NO            object
 51   EQRY_CORP_NO            object
 52   EQRY_LISTD_CORP         object
 53   EQRY_CUST_NO            object
 54   EQRY_DLR_NO             object
 55   CSPM_BRTH_DATE          object
 56   REGISTER_CORP           object
 57   EXISTING_CAR            object
 58   FINANCE_REQUIRED        object
 59   BKNG_NO                 object
 60   BOOKING_DATE            object
 61   BKNG_AMT                float64
 62   BOOKING_STATUS          float64
 63   RCPT_NO                 object
 64   RCPT_AMT                object
 65   PAYMENT_TYPE            object
 66   REGISTRATION_NAME       object
 67   EQRY_SR_NUM_REAL        object
 68   BOOKING_TYPE            object
 69   GRP_VRNT_CD             object
 70   EXT_COLOR_NAME          object
 71   INT_COLOR_NAME          object
 72   FINANCIER               object
 73   MODE_OF_PURCHASE        object
 74   BOOKING_CREATION_DATE   object
 75   BOOKING_CREATION_TIME   object
 76   BOOKING_UPDATE_DATE     object
 77   BOOKING_UPDATE_TIME     object
 78   TEST_DRIVE_DATE         object
 79   REQST_TYPE              object
 80   ENQUIRY_CATEGORY        float64
 81   VEHICLE_BOOKED_COUNT    float64
 82   LOSS_DATE               object
 83   LOSS_REMARK             object
 84   LOSS_REASON             object
 85   LOSS_DUETO              object
 86   LOSS_DUETO_DETAIL       object
 87   TEAM_LEADER             object
 88   REBKNG_CNT              float64
 89   RCNT_REBKNG_DT          object
 90   MOB_EMAIL_DATE          object
 91   DMS_EMAIL_DATE          object
 92   MOB_DOCK                float64
 93   VRNT_SPEC_CODE          object
 94   DMS_DOCK                float64
 95   ORDER DATE              float64
 96   ORDER_TYPE              object
 97   OEM                     object
 98   MODL_MAKER_CODE         object
 99   MODL_MODEL_CODE         object
 100  OEM_MODEL               object
 101  CMM_GRP_CODE            object
 102  CMM_CODE_NAME           object
 103  CUDT_JOB_CODE           object
 104  Occ_Name                object
 105  Dealer_Booking          object
dtypes: float64(15), object(91)
memory usage: 771.1+ MB

In [70]:
list = []
for i in for_apply_df:
    if i != 'Dealer_Booking' and i != 'MOB_EMAIL_DATE' and i!= 'DMS_EMAIL_DATE':
        list.append(i)

In [71]:
list

['Occup_Key',
 'CMM_CODE',
 'Comp_key',
 'EQRY_MAKER_CODE',
 'Join_KEY',
 'CSPM_CHRG_SALES_EMP_NO',
 'Booking Month',
 'REGION',
 'BKNG_DLR_NO',
 'TRADE_NAME',
 'DEALER_CITY',
 'EQRY_ENQRY_NO',
 'EQRY_PRESENT_CAR_YN',
 'EQRY_DATE',
 'EQRY_STAT',
 'EQRY_CLSE_DATE',
 'EQRY_SRC_CODE',
 'EQRY_CTGR_CODE',
 'EQRY_SUB_SRC_CODE',
 'CSPM_CUST_NO',
 'CSPM_CUST_FULL_NAME',
 'M_MOBL_PHONE_NO',
 'CSPM_EMAIL',
 'CUSTOMER_TYPE',
 'MODEL',
 'ENGINE_TYPE',
 'TRANSMISSION',
 'TRANSMISSION1',
 'KEC',
 'KEC_CODE',
 'ADDR',
 'PIN_CODE',
 'CITY_CODE',
 'STCD_CODE',
 'BOOKING_ADD1',
 'BOOKING_ADD2',
 'BOOKING_ADD3',
 'BOOKING_STATE',
 'BOOKING_CITY',
 'BOOKING_PIN',
 'EXCHANGE_REQUIRED',
 'EQRY_EXCHG_MODEL_CODE',
 'EQRY_EXCHG_SRC_CODE',
 'EQRY_CORP_NAME',
 'EQRY_EXPCT_PRICE',
 'EQRY_QUOTD_PRICE',
 'EQRY_P_MODL_YEAR',
 'EQRY_EVAL_YN',
 'EQRY_EXCH_DN',
 'EQRY_FINAL_BP',
 'EQRY_CMPN_NO',
 'EQRY_CORP_NO',
 'EQRY_LISTD_CORP',
 'EQRY_CUST_NO',
 'EQRY_DLR_NO',
 'CSPM_BRTH_DATE',
 'REGISTER_CORP',
 'EXISTING_CAR',
 'FINANCE_REQUIRED',
 'BKNG_NO',
 'BOOKING_DATE',
 'BKNG_AMT',
 'BOOKING_STATUS',
 'RCPT_NO',
 'RCPT_AMT',
 'PAYMENT_TYPE',
 'REGISTRATION_NAME',
 'EQRY_SR_NUM_REAL',
 'BOOKING_TYPE',
 'GRP_VRNT_CD',
 'EXT_COLOR_NAME',
 'INT_COLOR_NAME',
 'FINANCIER',
 'MODE_OF_PURCHASE',
 'BOOKING_CREATION_DATE',
 'BOOKING_CREATION_TIME',
 'BOOKING_UPDATE_DATE',
 'BOOKING_UPDATE_TIME',
 'TEST_DRIVE_DATE',
 'REQST_TYPE',
 'ENQUIRY_CATEGORY',
 'VEHICLE_BOOKED_COUNT',
 'LOSS_DATE',
 'LOSS_REMARK',
 'LOSS_REASON',
 'LOSS_DUETO',
 'LOSS_DUETO_DETAIL',
 'TEAM_LEADER',
 'REBKNG_CNT',
 'RCNT_REBKNG_DT',
 'MOB_DOCK',
 'VRNT_SPEC_CODE',
 'DMS_DOCK',
 'ORDER DATE',
 'ORDER_TYPE',
 'OEM',
 'MODL_MAKER_CODE',
 'MODL_MODEL_CODE',
 'OEM_MODEL',
 'CMM_GRP_CODE',
 'CMM_CODE_NAME',
 'CUDT_JOB_CODE',
 'Occ_Name']

In [72]:
for_apply_df.drop(['Occup_Key',
 'CMM_CODE',
 'Comp_key',
 'EQRY_MAKER_CODE',
 'Join_KEY',
 'CSPM_CHRG_SALES_EMP_NO',
 'Booking Month',
 'REGION',
 'BKNG_DLR_NO',
 'TRADE_NAME',
 'DEALER_CITY',
 'EQRY_ENQRY_NO',
 'EQRY_PRESENT_CAR_YN',
 'EQRY_DATE',
 'EQRY_STAT',
 'EQRY_CLSE_DATE',
 'EQRY_SRC_CODE',
 'EQRY_CTGR_CODE',
 'EQRY_SUB_SRC_CODE',
 'CSPM_CUST_NO',
 'CSPM_CUST_FULL_NAME',
 'M_MOBL_PHONE_NO',
 'CSPM_EMAIL',
 'CUSTOMER_TYPE',
 'MODEL',
 'ENGINE_TYPE',
 'TRANSMISSION',
 'TRANSMISSION1',
 'KEC',
 'KEC_CODE',
 'ADDR',
 'PIN_CODE',
 'CITY_CODE',
 'STCD_CODE',
 'BOOKING_ADD1',
 'BOOKING_ADD2',
 'BOOKING_ADD3',
 'BOOKING_STATE',
 'BOOKING_CITY',
 'BOOKING_PIN',
 'EXCHANGE_REQUIRED',
 'EQRY_EXCHG_MODEL_CODE',
 'EQRY_EXCHG_SRC_CODE',
 'EQRY_CORP_NAME',
 'EQRY_EXPCT_PRICE',
 'EQRY_QUOTD_PRICE',
 'EQRY_P_MODL_YEAR',
 'EQRY_EVAL_YN',
 'EQRY_EXCH_DN',
 'EQRY_FINAL_BP',
 'EQRY_CMPN_NO',
 'EQRY_CORP_NO',
 'EQRY_LISTD_CORP',
 'EQRY_CUST_NO',
 'EQRY_DLR_NO',
 'CSPM_BRTH_DATE',
 'REGISTER_CORP',
 'EXISTING_CAR',
 'FINANCE_REQUIRED',
 'BKNG_NO',
 'BOOKING_DATE',
 'BKNG_AMT',
 'BOOKING_STATUS',
 'RCPT_NO',
 'RCPT_AMT',
 'PAYMENT_TYPE',
 'REGISTRATION_NAME',
 'EQRY_SR_NUM_REAL',
 'BOOKING_TYPE',
 'GRP_VRNT_CD',
 'EXT_COLOR_NAME',
 'INT_COLOR_NAME',
 'FINANCIER',
 'MODE_OF_PURCHASE',
 'BOOKING_CREATION_DATE',
 'BOOKING_CREATION_TIME',
 'BOOKING_UPDATE_DATE',
 'BOOKING_UPDATE_TIME',
 'TEST_DRIVE_DATE',
 'REQST_TYPE',
 'ENQUIRY_CATEGORY',
 'VEHICLE_BOOKED_COUNT',
 'LOSS_DATE',
 'LOSS_REMARK',
 'LOSS_REASON',
 'LOSS_DUETO',
 'LOSS_DUETO_DETAIL',
 'TEAM_LEADER',
 'REBKNG_CNT',
 'RCNT_REBKNG_DT',
 'MOB_DOCK',
 'VRNT_SPEC_CODE',
 'DMS_DOCK',
 'ORDER DATE',
 'ORDER_TYPE',
 'OEM',
 'MODL_MAKER_CODE',
 'MODL_MODEL_CODE',
 'OEM_MODEL',
 'CMM_GRP_CODE',
 'CMM_CODE_NAME',
 'CUDT_JOB_CODE',
 'Occ_Name'], axis=1, inplace = True)

In [73]:
for_apply_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MOB_EMAIL_DATE  256450 non-null  object
 1   DMS_EMAIL_DATE  429549 non-null  object
 2   Dealer_Booking  953460 non-null  object
dtypes: object(3)
memory usage: 21.8+ MB

In [74]:
# /////////////////////////////////////////////////
# Now I got the columns for applyMap
# I just have to merge new_df and for_apply_df
# /////////////////////////////////////////////////

In [75]:
new_df.shape

(953389, 35)

In [76]:
for_apply_df.shape

(953461, 3)

In [77]:
dummy_for_map1 = for_apply_df.copy()

In [78]:
dummy_for_map1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MOB_EMAIL_DATE  256450 non-null  object
 1   DMS_EMAIL_DATE  429549 non-null  object
 2   Dealer_Booking  953460 non-null  object
dtypes: object(3)
memory usage: 21.8+ MB

In [79]:
dummy_for_map1.drop(['DMS_EMAIL_DATE'], axis=1, inplace = True)

In [80]:
dummy_for_map1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MOB_EMAIL_DATE  256450 non-null  object
 1   Dealer_Booking  953460 non-null  object
dtypes: object(2)
memory usage: 14.5+ MB

In [81]:
applyMap1 = pd.merge(new_df, dummy_for_map1, how='left', on=['Dealer_Booking']).groupby(['Dealer_Booking']).first().reset_index()

In [82]:
applyMap1.shape

(953387, 36)

In [83]:
# result = applyMap1[applyMap1['Dealer_Booking']=='TRUP304B202102356']

In [84]:
# result

In [85]:
dummy_for_map2 = for_apply_df.copy()

In [86]:
dummy_for_map2.drop(['MOB_EMAIL_DATE'], axis=1, inplace = True)

In [87]:
dummy_for_map2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DMS_EMAIL_DATE  429549 non-null  object
 1   Dealer_Booking  953460 non-null  object
dtypes: object(2)
memory usage: 14.5+ MB

In [88]:
dummy_for_map2

             DMS_EMAIL_DATE     Dealer_Booking
0                       NaN  TRUP403B201900001
1                       NaN  TRUP403B201900009
2                       NaN  TRUP403B201900044
3                       NaN  TRUP403B202002961
4                       NaN  TRUP403B201900011
...                     ...                ...
953456                  NaN  TRHP501B202201066
953457  2022-06-08 18:12:00  TRMH502B202201296
953458  2022-06-08 16:16:00  TRMH404B202204636
953459                  NaN  TRKA304B202208511
953460                  NaN  TRJH501B202200585

[953461 rows x 2 columns]

In [89]:
applyMap2 = pd.merge(applyMap1, dummy_for_map2, how='left', on=['Dealer_Booking']).groupby(['Dealer_Booking']).first().reset_index()

In [90]:
# applyMap2.isna().sum()

In [91]:
applyMap2.shape

(953387, 37)

In [92]:
result1 = applyMap2[applyMap2['Dealer_Booking']=='TRTN102B202103016']

In [93]:
result1

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,BKNG_DATE,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_STATE,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE
723911,TRTN102B202103016,TRTN102,B202103016,A10VA,K,2021-10-25,SX,372.0,GWP,NaN,...,None,None,None,None,None,MOB,MySales,MOBILE,2021-10-27 14:17:00,2022-01-13 11:34:00

In [94]:
applyMap2['Booking_Date'] = pd.to_datetime(applyMap2['BKNG_DATE'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [95]:
applyMap2['Booking_Date']

0         14/08/2019
1         16/08/2019
2         16/08/2019
3         16/08/2019
4         16/08/2019
             ...
953382    15/07/2022
953383    15/07/2022
953384    18/07/2022
953385    25/07/2022
953386    05/08/2022
Name: Booking_Date, Length: 953387, dtype: object

In [96]:
applyMap2

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,BKNG_DATE,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE,Booking_Date
0,TRAP301B201900001,TRAP301,B201900001,A10VA,K,2019-08-14,TI,2.0,GWP,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,14/08/2019
1,TRAP301B201900002,TRAP301,B201900002,A10VA,K,2019-08-16,TI,7.0,GWP,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,16/08/2019
2,TRAP301B201900003,TRAP301,B201900003,A10VA,K,2019-08-16,TI,4.0,GWP,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,16/08/2019
3,TRAP301B201900004,TRAP301,B201900004,A10VA,K,2019-08-16,TI,4.0,KDG,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,16/08/2019
4,TRAP301B201900005,TRAP301,B201900005,A10VA,K,2019-08-16,TI,15.0,A6R,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,16/08/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953382,TRWB501B202200105,TRWB501,B202200105,A10VA,K,2022-07-15,TI,391.0,GWP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:58:00,15/07/2022
953383,TRWB501B202200106,TRWB501,B202200106,A10VA,K,2022-07-15,TY,354.0,GWP,NaN,...,SINGTAM,Singtam,None,None,nan,DMS,NAN,None,2022-07-18 17:44:00,15/07/2022
953384,TRWB501B202200107,TRWB501,B202200107,A10VA,K,2022-07-18,TY,350.0,ABP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-18 17:42:00,18/07/2022
953385,TRWB501B202200108,TRWB501,B202200108,A10VA,K,2022-07-25,TI,8.0,KCS,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:59:00,25/07/2022
953386,TRWB501B202200109,TRWB501,B202200109,A10VA,K,2022-08-05,SX,282.0,ABP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,None,05/08/2022

In [97]:
applyMap2.rename(columns = {'BKNG_DATE':'Link_Date'}, inplace = True)

In [98]:
applyMap2

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,Link_Date,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE,Booking_Date
0,TRAP301B201900001,TRAP301,B201900001,A10VA,K,2019-08-14,TI,2.0,GWP,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,14/08/2019
1,TRAP301B201900002,TRAP301,B201900002,A10VA,K,2019-08-16,TI,7.0,GWP,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,16/08/2019
2,TRAP301B201900003,TRAP301,B201900003,A10VA,K,2019-08-16,TI,4.0,GWP,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,16/08/2019
3,TRAP301B201900004,TRAP301,B201900004,A10VA,K,2019-08-16,TI,4.0,KDG,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,16/08/2019
4,TRAP301B201900005,TRAP301,B201900005,A10VA,K,2019-08-16,TI,15.0,A6R,NaN,...,None,None,None,None,nan,DMS,NAN,None,None,16/08/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953382,TRWB501B202200105,TRWB501,B202200105,A10VA,K,2022-07-15,TI,391.0,GWP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:58:00,15/07/2022
953383,TRWB501B202200106,TRWB501,B202200106,A10VA,K,2022-07-15,TY,354.0,GWP,NaN,...,SINGTAM,Singtam,None,None,nan,DMS,NAN,None,2022-07-18 17:44:00,15/07/2022
953384,TRWB501B202200107,TRWB501,B202200107,A10VA,K,2022-07-18,TY,350.0,ABP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-18 17:42:00,18/07/2022
953385,TRWB501B202200108,TRWB501,B202200108,A10VA,K,2022-07-25,TI,8.0,KCS,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:59:00,25/07/2022
953386,TRWB501B202200109,TRWB501,B202200109,A10VA,K,2022-08-05,SX,282.0,ABP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,None,05/08/2022

In [99]:
applyMap2['Booking_Amt']

0         25000
1             0
2             0
3             0
4             0
          ...
953382        0
953383        0
953384        0
953385        0
953386        0
Name: Booking_Amt, Length: 953387, dtype: int32

In [100]:
applyMap2['Booking_Status'] = applyMap2['Booking_Amt'].apply(lambda x: 'Without Payment' if x == 0 else 'Payment')

In [101]:
applyMap2

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,Link_Date,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE,Booking_Date,Booking_Status
0,TRAP301B201900001,TRAP301,B201900001,A10VA,K,2019-08-14,TI,2.0,GWP,NaN,...,None,None,None,nan,DMS,NAN,None,None,14/08/2019,Payment
1,TRAP301B201900002,TRAP301,B201900002,A10VA,K,2019-08-16,TI,7.0,GWP,NaN,...,None,None,None,nan,DMS,NAN,None,None,16/08/2019,Without Payment
2,TRAP301B201900003,TRAP301,B201900003,A10VA,K,2019-08-16,TI,4.0,GWP,NaN,...,None,None,None,nan,DMS,NAN,None,None,16/08/2019,Without Payment
3,TRAP301B201900004,TRAP301,B201900004,A10VA,K,2019-08-16,TI,4.0,KDG,NaN,...,None,None,None,nan,DMS,NAN,None,None,16/08/2019,Without Payment
4,TRAP301B201900005,TRAP301,B201900005,A10VA,K,2019-08-16,TI,15.0,A6R,NaN,...,None,None,None,nan,DMS,NAN,None,None,16/08/2019,Without Payment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953382,TRWB501B202200105,TRWB501,B202200105,A10VA,K,2022-07-15,TI,391.0,GWP,NaN,...,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:58:00,15/07/2022,Without Payment
953383,TRWB501B202200106,TRWB501,B202200106,A10VA,K,2022-07-15,TY,354.0,GWP,NaN,...,Singtam,None,None,nan,DMS,NAN,None,2022-07-18 17:44:00,15/07/2022,Without Payment
953384,TRWB501B202200107,TRWB501,B202200107,A10VA,K,2022-07-18,TY,350.0,ABP,NaN,...,None,None,None,MOB,MySales,MOBILE,None,2022-07-18 17:42:00,18/07/2022,Without Payment
953385,TRWB501B202200108,TRWB501,B202200108,A10VA,K,2022-07-25,TI,8.0,KCS,NaN,...,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:59:00,25/07/2022,Without Payment
953386,TRWB501B202200109,TRWB501,B202200109,A10VA,K,2022-08-05,SX,282.0,ABP,NaN,...,None,None,None,MOB,MySales,MOBILE,None,None,05/08/2022,Without Payment

In [102]:
applyMap2.shape

(953387, 39)

In [103]:
applyMap2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953387 entries, 0 to 953386
Data columns (total 39 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_Booking         953387 non-null  object
 1   Dealer_No              953387 non-null  object
 2   Booking_No             953387 non-null  object
 3   Corporation_No         953387 non-null  object
 4   Company_No             953387 non-null  object
 5   Link_Date              953387 non-null  object
 6   Model_Code             953387 non-null  object
 7   TRIM_Code              953387 non-null  float64
 8   Ext.Colour_Code        953386 non-null  object
 9   BKNG_EXPCT_DLVRY_DATE  167443 non-null  float64
 10  BKNG_VRNT_PRICE        942062 non-null  float64
 11  Booking_Amt            953387 non-null  int32
 12  BKNG_RCPT_TOTAL_AMT    906448 non-null  float64
 13  BKNG_ALCN_DATE         507785 non-null  object
 14  BKNG_FNCE_TYPE         943446 non-null  float64
 15  BKNG_DSA_NAME          6473 non-null    object
 16  BKNG_DO_AMT            26839 non-null   float64
 17  BKNG_CNCL_DATE         1906 non-null    float64
 18  Link_Enquiry_No        953387 non-null  object
 19  BKNG_EMP_NO            1 non-null       object
 20  Customer_No            0 non-null       object
 21  BKNG_CRTE_DTIME        953387 non-null  object
 22  BKNG_CRTE_EMP_NO       953387 non-null  object
 23  BKNG_UPDT_DTIME        953387 non-null  object
 24  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 25  BKNG_SALE_TYPE         518115 non-null  float64
 26  Int.Colour_Code        953377 non-null  object
 27  BKNG_BILL_TO_STATE     110381 non-null  object
 28  BKNG_BILL_TO_CITY      110365 non-null  object
 29  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 30  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 31  BKNG_RMRKS             6641 non-null    object
 32  BKNG_SRC_FLG           953387 non-null  object
 33  Booking_Source_Type    953387 non-null  object
 34  Booking_Source         953387 non-null  object
 35  MOB_EMAIL_DATE         256448 non-null  object
 36  DMS_EMAIL_DATE         429529 non-null  object
 37  Booking_Date           953387 non-null  object
 38  Booking_Status         953387 non-null  object
dtypes: float64(8), int32(1), object(30)
memory usage: 280.0+ MB

In [104]:
# applyMap2.to_csv("C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\sobkng(main).csv",index=False)

In [105]:
# ------------------------------------------
# STAGE 3
# ------------------------------------------

In [106]:
stage3 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL\\Sales_Team_Leader.csv')

In [107]:
stage3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3436397 entries, 0 to 3436396
Data columns (total 10 columns):
 #   Column                    Dtype
---  ------                    -----
 0   TEAM_LEADER               object
 1   TEAM_LEADER_JOINING_DATE  object
 2   TEAM_LEADER_LEAVE_DATE    object
 3   KEC                       object
 4   KEC_NAME                  object
 5   KEC_CODE                  object
 6   KEC_JOIN_DATE             object
 7   KEC_LEAVE_DATE            object
 8   EQRY_ENQRY_NO             object
 9   EQRY_DLR_NO               object
dtypes: object(10)
memory usage: 262.2+ MB

In [108]:
stage3['TEAM_LEADER'] = stage3["TEAM_LEADER"].map(str)

In [109]:
Team_Leader_Code = []
Team_Leader_Name = []
Active_Inactive = []

In [110]:
for i in stage3['TEAM_LEADER']:
    x = i.split(';')
    y = x[0]
    Team_Leader_Code.append(y)

In [111]:
Team_Leader_Code

['nan',
 'nan',
 'EUP4030014',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4050088',
 'EKA4050052',
 'nan',
 'nan',
 'ETS4030013',
 'ETS4010260',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EWB4020097',
 'nan',
 'nan',
 'EMH3020049',
 'EKA4050200',
 'ERJ4030107',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH3020049',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH3020049',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKL3040014',
 'nan',
 'nan',
 'EMH3020049',
 'EKA4050052',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EGJ3040104',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH4010017',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH3020049',
 'nan',
 'nan',
 'EDL4040133',
 'nan',
 'nan',
 'ERJ4030107',
 'nan',
 'nan',
 'EGJ3040104',
 'nan',
 'ERJ4020001',
 'ERJ4030107',
 'nan',
 'EWB4020013',
 'ECG3010015',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EGJ3060001',
 'nan',
 'EUP3010006',
 'nan',
 'nan',
 'EGJ3040104',
 'ERJ4030010',
 'EPB3010009',
 'nan',
 'EUP3010006',
 'EPB3020012',
 'nan',
 'ERJ4030107',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EOD3010080',
 'nan',
 'EUP3040115',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EOD3010080',
 'nan',
 'nan',
 'nan',
 'EOD3010131',
 'nan',
 'nan',
 'EOD3010080',
 'ERJ4010003',
 'nan',
 'EMH3020049',
 'nan',
 'EUP3010006',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EAP3040004',
 'nan',
 'nan',
 'nan',
 'EUP3010006',
 'ERJ4010106',
 'nan',
 'EHR3010002',
 'nan',
 'EDL4040133',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4050088',
 'EKA4050088',
 'EKA4050088',
 'nan',
 'nan',
 'nan',
 'EKA4050052',
 'EKA4050052',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ERJ4010106',
 'ERJ4030107',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKL3030062',
 'nan',
 'EKL3030062',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EPB3010020',
 'nan',
 'EGJ1010003',
 'EGJ3050064',
 'EGJ4010021',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4050088',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH3020049',
 'EKA4050052',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EDL3010251',
 'nan',
 'ERJ4030107',
 'EUP3070151',
 'ERJ4030107',
 'EKA4050052',
 'nan',
 'EKL3040014',
 'nan',
 'EGJ3040104',
 'nan',
 'EOD3010131',
 'EKL3030062',
 'nan',
 'EGJ3050016',
 'EKL3030062',
 'nan',
 'nan',
 'nan',
 'EAP3040007',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EDL3010251',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4010122',
 'nan',
 'nan',
 'EMH4010008',
 'nan',
 'EPB3010003',
 'EMP3010091',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EUP4030014',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EUP3040004',
 'EUP3040004',
 'EWB4020015',
 'nan',
 'EKA4030035',
 'nan',
 'EHR4010061',
 'EKA4010122',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EUP4030014',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EAS4010012',
 'EMP3010112',
 'nan',
 'nan',
 'ETN3060030',
 'EHR4050069',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ETS4030013',
 'ETN4010141',
 'nan',
 'ETS4030013',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH1040013',
 'nan',
 'nan',
 'ETS4030013',
 'nan',
 'nan',
 'nan',
 'EAP3040007',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4010118',
 'EMH4010008',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EAP3040004',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH1040013',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4010122',
 'nan',
 'nan',
 'nan',
 'ETS4010260',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EUP3040115',
 'EMH1040057',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4050088',
 'nan',
 'EAP4030016',
 'EKL3030062',
 'nan',
 'nan',
 'EMH4010017',
 'nan',
 'EMH4010008',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH3020049',
 'nan',
 'EAS4010012',
 'nan',
 'nan',
 'nan',
 'nan',
 'EWB4020015',
 'EMH3020049',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EAS4010012',
 'nan',
 'nan',
 'nan',
 'nan',
 'EWB4020015',
 'nan',
 'nan',
 'nan',
 'EOD3010080',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4050052',
 'EUP3040004',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ETS4030013',
 'nan',
 'nan',
 'nan',
 'ETS4030013',
 'EGJ3050016',
 'nan',
 'EOD3010080',
 'nan',
 'nan',
 'EOD3010080',
 'nan',
 'nan',
 'nan',
 'nan',
 'EWB4020014',
 'nan',
 'ERJ4030107',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ERJ4030005',
 'nan',
 'EWB4020097',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EHR3010002',
 'EMP3010091',
 'nan',
 'nan',
 'nan',
 'EHR3010002',
 'nan',
 'nan',
 'nan',
 'nan',
 'ETN4010010',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EHR3010002',
 'nan',
 'EUP3040004',
 'EMH1040013',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH3020049',
 'nan',
 'nan',
 'nan',
 'nan',
 'EUP4030014',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EPB3020014',
 'nan',
 'nan',
 'EPB3010003',
 'EPB3010020',
 'EGJ4010021',
 'EPB3010020',
 'nan',
 'nan',
 'EPB3010020',
 'ERJ4030010',
 'ETN4010141',
 'EPB3010020',
 'nan',
 'ERJ4030010',
 'nan',
 'ERJ4030010',
 'nan',
 'nan',
 'EMH4040170',
 'nan',
 'nan',
 'nan',
 'nan',
 'EGJ4040012',
 'nan',
 'nan',
 'nan',
 'EMH1020052',
 'nan',
 'nan',
 'nan',
 'EWB4020015',
 'nan',
 'nan',
 'nan',
 'EKA3040010',
 'nan',
 'EKL3030062',
 'nan',
 'nan',
 'EUP3010006',
 'nan',
 'nan',
 'EUP3010006',
 'nan',
 'nan',
 'EGJ4030002',
 'nan',
 'nan',
 'nan',
 'nan',
 'EOD3010080',
 'nan',
 'nan',
 'EPB3010020',
 'nan',
 'EUP3010006',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ERJ4030107',
 'EDL4040133',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH1020052',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EGJ4010021',
 'EMH3020049',
 'nan',
 'nan',
 'EAP3040007',
 'nan',
 'EPB3010020',
 'nan',
 'nan',
 'nan',
 'ERJ4030005',
 'nan',
 'nan',
 'ERJ4030010',
 'nan',
 'nan',
 'EPB3010020',
 'EWB4020013',
 'nan',
 'EMH1020052',
 'EPB3010003',
 'nan',
 'nan',
 'EMP3030002',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EUP3010006',
 'EGJ3040104',
 'nan',
 'nan',
 'EWB4020013',
 'EPB3010003',
 'nan',
 'nan',
 'EMP3020023',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ECH4010003',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ETS4030013',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH4040003',
 'EMH4040003',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH4070004',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH4070004',
 'EWB4020097',
 'nan',
 'nan',
 'EMH3020049',
 'nan',
 'EWB4020013',
 'nan',
 'EAP3040004',
 'nan',
 'ECH4010003',
 'nan',
 'nan',
 'nan',
 'EKA3010170',
 'EKA3010092',
 'EAP3040007',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKL3020137',
 'EKA4050088',
 'nan',
 'EMH1040005',
 'nan',
 'EMH4040170',
 'EMP3020054',
 'ETS4030013',
 'EMH1040005',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EHR4010061',
 'nan',
 'nan',
 'ERJ4010106',
 'nan',
 'nan',
 'EMH4070004',
 'nan',
 'EAP3040004',
 'nan',
 'nan',
 'EKL3020171',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA3010092',
 'nan',
 'nan',
 'EUP3040115',
 'nan',
 'EHR4050069',
 'nan',
 'nan',
 'EMH1040067',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EGJ3060001',
 'nan',
 'nan',
 'nan',
 'nan',
 'EDL4040133',
 'nan',
 'nan',
 'nan',
 'ECG3010015',
 'EMH4010017',
 'nan',
 'EMH4070004',
 'nan',
 'nan',
 'EKA4050052',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH3040008',
 'nan',
 'nan',
 'EGJ4040130',
 'EMH4070004',
 'nan',
 'EKL3020137',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EKA4010122',
 'nan',
 'nan',
 'nan',
 'EHP3010005',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH4040170',
 'nan',
 'nan',
 'nan',
 'nan',
 'EUP4030014',
 'nan',
 'nan',
 'EMH4010017',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ERJ4010003',
 'nan',
 'EGJ3060001',
 'ERJ4020001',
 'nan',
 'EUP3010006',
 'EOD3010080',
 'EKL3020137',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ETS4030013',
 'nan',
 'nan',
 'ETS4030013',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EGJ4040130',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EHR3010002',
 'nan',
 'nan',
 'EGJ3040104',
 'ERJ4010106',
 'nan',
 'nan',
 'EHR4050069',
 'nan',
 'nan',
 'nan',
 'EPB3010113',
 'EPB3010113',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EAP3040007',
 'nan',
 'EKL3040014',
 'nan',
 'EMH1040013',
 'nan',
 'EKA3010170',
 'EHP3010005',
 'EKL3030062',
 'nan',
 'nan',
 'EAS4010013',
 'EKL3020171',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EGJ3040104',
 'ERJ4010003',
 'nan',
 'ERJ4010106',
 'nan',
 'ERJ4010106',
 'nan',
 'nan',
 'EAP3040007',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH3040118',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EHR3020055',
 'EAS4010013',
 'EMH4010017',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH4060126',
 'nan',
 'nan',
 'EGJ3040104',
 'nan',
 'nan',
 'nan',
 'EUP4030263',
 'nan',
 'nan',
 'EHR4050069',
 'nan',
 'nan',
 'EPB3010009',
 'nan',
 'nan',
 'nan',
 'nan',
 'ETS4030013',
 'EKL3030062',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EAP3040007',
 'nan',
 'nan',
 'nan',
 'nan',
 'EGJ4030002',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'EMH4080154',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ECG3010015',
 'nan',
 'EHR3030049',
 'nan',
 'nan',
 'ECH4010003',
 'nan',
 'nan',
 'nan',
 'nan',
 ...]

In [112]:
stage3['Team_Leader_Code'] = Team_Leader_Code

In [113]:
for i in stage3['TEAM_LEADER']:
    x = i.split(';')
    if len(x) == 1:
        y = x[0]
        Team_Leader_Name.append(y)
    else:
        z = x[1]
        Team_Leader_Name.append(z.upper())

In [114]:
Team_Leader_Name

['nan',
 'nan',
 'VISHAL SHARMA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ASHWIN BELTHUR M',
 'CHETHAN R',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'PAILA GOPI KRISHNA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'AMIT UKIL',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'RANJITH J',
 'HIMMAT SINGH',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'JITHIN S',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'CHETHAN R',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'HARDIK HINGU',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'RAJSHRI PATARE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'nan',
 'SAQIB KHAN',
 'nan',
 'nan',
 'HIMMAT SINGH',
 'nan',
 'nan',
 'HARDIK HINGU',
 'nan',
 'ABHISHEK TRIPATHI',
 'HIMMAT SINGH',
 'nan',
 'SUVADEEP BHATTACHARYA',
 'UPENDRA SAHU',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ZUBER MIRZA',
 'nan',
 'KARUNESH GARG',
 'nan',
 'nan',
 'HARDIK HINGU',
 'VIJAY GURJAR',
 'PARVEEN UPPAL',
 'nan',
 'KARUNESH GARG',
 'PINAK SHARMA',
 'nan',
 'HIMMAT SINGH',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'DEEPAK KUMAR BHUYAN',
 'nan',
 'MANOJ CHAUDHARY',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'DEEPAK KUMAR BHUYAN',
 'nan',
 'nan',
 'nan',
 'SARADA PRASAN DASH',
 'nan',
 'nan',
 'DEEPAK KUMAR BHUYAN',
 'ASHISH KUMAR',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'KARUNESH GARG',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'J VINODH',
 'nan',
 'nan',
 'nan',
 'KARUNESH GARG',
 'ASHOK TATWAVEDI',
 'nan',
 'BIJENDER',
 'nan',
 'SAQIB KHAN',
 'nan',
 'nan',
 'nan',
 'nan',
 'ASHWIN BELTHUR M',
 'ASHWIN BELTHUR M',
 'ASHWIN BELTHUR M',
 'nan',
 'nan',
 'nan',
 'CHETHAN R',
 'CHETHAN R',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ASHOK TATWAVEDI',
 'HIMMAT SINGH',
 'nan',
 'nan',
 'nan',
 'nan',
 'HAREESH THIRUNILATHIL SASI',
 'nan',
 'HAREESH THIRUNILATHIL SASI',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'HARPREET SINGH',
 'nan',
 'MANISH TANK',
 'NIRANJAN KATARIYA',
 'GAURAV BHADAURIYA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ASHWIN BELTHUR M',
 'nan',
 'nan',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'CHETHAN R',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SACHIN GUPTA ',
 'nan',
 'HIMMAT SINGH',
 'KAPIL SINGH ',
 'HIMMAT SINGH',
 'CHETHAN R',
 'nan',
 'JITHIN S',
 'nan',
 'HARDIK HINGU',
 'nan',
 'SARADA PRASAN DASH',
 'HAREESH THIRUNILATHIL SASI',
 'nan',
 'PRAJESH D JOSHI',
 'HAREESH THIRUNILATHIL SASI',
 'nan',
 'nan',
 'nan',
 'E DHAMODHAR\t',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SACHIN GUPTA ',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SUSHMA VARUNA M',
 'nan',
 'nan',
 'SOHEL KHAN',
 'nan',
 'NITIN SHARMA',
 'ARSHAD',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'VISHAL SHARMA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ANKIT SHARMA',
 'ANKIT SHARMA',
 'MONALISA BHATTACHARJEE',
 'nan',
 'VIJAY SHARMA',
 'nan',
 'MAHESH SAINI',
 'SUSHMA VARUNA M',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'VISHAL SHARMA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'HIRAK JYOTI GOGOI',
 'DEEPAK KUMAR SINGH',
 'nan',
 'nan',
 'THIRUMALAIAPPAN V  T',
 'PULKIT AGGARWAL',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'LOURDUSAMY A',
 'nan',
 'ABHINAV DINTAKURTHI',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'DHIRAJ DATTATRAY KULKARNI',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'nan',
 'nan',
 'nan',
 'E DHAMODHAR\t',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SAIRAMA SK',
 'SOHEL KHAN',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'J VINODH',
 'nan',
 'nan',
 'nan',
 'nan',
 'DHIRAJ DATTATRAY KULKARNI',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SUSHMA VARUNA M',
 'nan',
 'nan',
 'nan',
 'PAILA GOPI KRISHNA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'MANOJ CHAUDHARY',
 'SUSHANT RAJARAM BODKE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ASHWIN BELTHUR M',
 'nan',
 'B SRINIVASARAO',
 'HAREESH THIRUNILATHIL SASI',
 'nan',
 'nan',
 'RAJSHRI PATARE',
 'nan',
 'SOHEL KHAN',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'HIRAK JYOTI GOGOI',
 'nan',
 'nan',
 'nan',
 'nan',
 'MONALISA BHATTACHARJEE',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'HIRAK JYOTI GOGOI',
 'nan',
 'nan',
 'nan',
 'nan',
 'MONALISA BHATTACHARJEE',
 'nan',
 'nan',
 'nan',
 'DEEPAK KUMAR BHUYAN',
 'nan',
 'nan',
 'nan',
 'nan',
 'CHETHAN R',
 'ANKIT SHARMA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'nan',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'PRAJESH D JOSHI',
 'nan',
 'DEEPAK KUMAR BHUYAN',
 'nan',
 'nan',
 'DEEPAK KUMAR BHUYAN',
 'nan',
 'nan',
 'nan',
 'nan',
 'SOUNANDA SEN',
 'nan',
 'HIMMAT SINGH',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'MANVENDRA SINGH PANWAR',
 'nan',
 'AMIT UKIL',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'BIJENDER',
 'ARSHAD',
 'nan',
 'nan',
 'nan',
 'BIJENDER',
 'nan',
 'nan',
 'nan',
 'nan',
 'REVATHI C',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'BIJENDER',
 'nan',
 'ANKIT SHARMA',
 'DHIRAJ DATTATRAY KULKARNI',
 'nan',
 'nan',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'nan',
 'nan',
 'nan',
 'VISHAL SHARMA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ANIMESH SHARMA',
 'nan',
 'nan',
 'NITIN SHARMA',
 'HARPREET SINGH',
 'GAURAV BHADAURIYA',
 'HARPREET SINGH',
 'nan',
 'nan',
 'HARPREET SINGH',
 'VIJAY GURJAR',
 'LOURDUSAMY A',
 'HARPREET SINGH',
 'nan',
 'VIJAY GURJAR',
 'nan',
 'VIJAY GURJAR',
 'nan',
 'nan',
 'AMIT MOHANKANT KHAPARDE ',
 'nan',
 'nan',
 'nan',
 'nan',
 'BHAVIN VIJAYBHAI DESAI',
 'nan',
 'nan',
 'nan',
 'VIVEK BABHARE',
 'nan',
 'nan',
 'nan',
 'MONALISA BHATTACHARJEE',
 'nan',
 'nan',
 'nan',
 'CHANDAN',
 'nan',
 'HAREESH THIRUNILATHIL SASI',
 'nan',
 'nan',
 'KARUNESH GARG',
 'nan',
 'nan',
 'KARUNESH GARG',
 'nan',
 'nan',
 'HIREN ARIWALA',
 'nan',
 'nan',
 'nan',
 'nan',
 'DEEPAK KUMAR BHUYAN',
 'nan',
 'nan',
 'HARPREET SINGH',
 'nan',
 'KARUNESH GARG',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'HIMMAT SINGH',
 'SAQIB KHAN',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'VIVEK BABHARE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'GAURAV BHADAURIYA',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'nan',
 'E DHAMODHAR\t',
 'nan',
 'HARPREET SINGH',
 'nan',
 'nan',
 'nan',
 'MANVENDRA SINGH PANWAR',
 'nan',
 'nan',
 'VIJAY GURJAR',
 'nan',
 'nan',
 'HARPREET SINGH',
 'SUVADEEP BHATTACHARYA',
 'nan',
 'VIVEK BABHARE',
 'NITIN SHARMA',
 'nan',
 'nan',
 'ABHISHEK DIXIT',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'KARUNESH GARG',
 'HARDIK HINGU',
 'nan',
 'nan',
 'SUVADEEP BHATTACHARYA',
 'NITIN SHARMA',
 'nan',
 'nan',
 'RAHUL GOLE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'KUNAL MAGGU',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'nan',
 'nan',
 'nan',
 'nan',
 'SUNIL\xa0\xa0 NAGPURE',
 'SUNIL\xa0\xa0 NAGPURE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ROHIT RAVINDRA KORE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ROHIT RAVINDRA KORE',
 'AMIT UKIL',
 'nan',
 'nan',
 'SANJAY MOTIRAM MUNGE ',
 'nan',
 'SUVADEEP BHATTACHARYA',
 'nan',
 'J VINODH',
 'nan',
 'KUNAL MAGGU',
 'nan',
 'nan',
 'nan',
 'L SANTHOSH KUMAR',
 'SAMPATH',
 'E DHAMODHAR\t',
 'nan',
 'nan',
 'nan',
 'nan',
 'SIRIL R S',
 'ASHWIN BELTHUR M',
 'nan',
 'SATYAJEET CHANDRAKANT KAPSE',
 'nan',
 'AMIT MOHANKANT KHAPARDE ',
 'GYANESHWAR SINGH',
 'ABHINAV DINTAKURTHI',
 'SATYAJEET CHANDRAKANT KAPSE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'MAHESH SAINI',
 'nan',
 'nan',
 'ASHOK TATWAVEDI',
 'nan',
 'nan',
 'ROHIT RAVINDRA KORE',
 'nan',
 'J VINODH',
 'nan',
 'nan',
 'SINOY K JOSEPH',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SAMPATH',
 'nan',
 'nan',
 'MANOJ CHAUDHARY',
 'nan',
 'PULKIT AGGARWAL',
 'nan',
 'nan',
 'SHIVANAND REVANSIDDHA CHOLLE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ZUBER MIRZA',
 'nan',
 'nan',
 'nan',
 'nan',
 'SAQIB KHAN',
 'nan',
 'nan',
 'nan',
 'UPENDRA SAHU',
 'RAJSHRI PATARE',
 'nan',
 'ROHIT RAVINDRA KORE',
 'nan',
 'nan',
 'CHETHAN R',
 'nan',
 'nan',
 'nan',
 'nan',
 'KUMAR VITTHAL KIWADI',
 'nan',
 'nan',
 'SANDIP WANKHEDE',
 'ROHIT RAVINDRA KORE',
 'nan',
 'SIRIL R S',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SUSHMA VARUNA M',
 'nan',
 'nan',
 'nan',
 'SHASHI KANT',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'AMIT MOHANKANT KHAPARDE ',
 'nan',
 'nan',
 'nan',
 'nan',
 'VISHAL SHARMA',
 'nan',
 'nan',
 'RAJSHRI PATARE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ASHISH KUMAR',
 'nan',
 'ZUBER MIRZA',
 'ABHISHEK TRIPATHI',
 'nan',
 'KARUNESH GARG',
 'DEEPAK KUMAR BHUYAN',
 'SIRIL R S',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SANDIP WANKHEDE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'BIJENDER',
 'nan',
 'nan',
 'HARDIK HINGU',
 'ASHOK TATWAVEDI',
 'nan',
 'nan',
 'PULKIT AGGARWAL',
 'nan',
 'nan',
 'nan',
 'SOURABH BHATIA',
 'SOURABH BHATIA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'E DHAMODHAR\t',
 'nan',
 'JITHIN S',
 'nan',
 'DHIRAJ DATTATRAY KULKARNI',
 'nan',
 'L SANTHOSH KUMAR',
 'SHASHI KANT',
 'HAREESH THIRUNILATHIL SASI',
 'nan',
 'nan',
 'PRASENJIT MAJUMDER',
 'SINOY K JOSEPH',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'HARDIK HINGU',
 'ASHISH KUMAR',
 'nan',
 'ASHOK TATWAVEDI',
 'nan',
 'ASHOK TATWAVEDI',
 'nan',
 'nan',
 'E DHAMODHAR\t',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SANJAY VIJAY BHOSALE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SACHIN RANA',
 'PRASENJIT MAJUMDER',
 'RAJSHRI PATARE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ROHAN MALI',
 'nan',
 'nan',
 'HARDIK HINGU',
 'nan',
 'nan',
 'nan',
 'MANISH SHARMA',
 'nan',
 'nan',
 'PULKIT AGGARWAL',
 'nan',
 'nan',
 'PARVEEN UPPAL',
 'nan',
 'nan',
 'nan',
 'nan',
 'ABHINAV DINTAKURTHI',
 'HAREESH THIRUNILATHIL SASI',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'E DHAMODHAR\t',
 'nan',
 'nan',
 'nan',
 'nan',
 'HIREN ARIWALA',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'SHYAM LAXMAN BODKE ',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'UPENDRA SAHU',
 'nan',
 'GAGAN KUMAR',
 'nan',
 'nan',
 'KUNAL MAGGU',
 'nan',
 'nan',
 'nan',
 'nan',
 ...]

In [115]:
for i in stage3['TEAM_LEADER']:
    x = i.split(';')
    if len(x) == 1:
        y = x[0]
        Active_Inactive.append(y)
    else:
        z = x[2]
        Active_Inactive.append(z.upper())

In [116]:
Active_Inactive

['nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'INACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'INACTIVE',
 'ACTIVE',
 'INACTIVE',
 'nan',
 'nan',
 'INACTIVE',
 'ACTIVE',
 'ACTIVE',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'INACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'INACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'ACTIVE',
 'nan',
 'INACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'INACTIVE',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'ACTIVE',
 'nan',
 'nan',
 'nan',
 'nan',
 ...]

In [117]:
stage3['Active_Inactive'] = Active_Inactive

In [118]:
stage3.rename(columns = {'KEC':'KEC_Short_Code'}, inplace = True)

In [119]:
stage3['KEC'] = stage3['KEC_NAME'].str.upper()

In [120]:
stage3.rename(columns = {'KEC_CODE':'KEC_Long_Code'}, inplace = True)

In [121]:
stage3.rename(columns = {'TEAM_LEADER_LEAVE_DATE':'Team_leader_Leave_Date'}, inplace = True)

In [122]:
stage3.rename(columns = {'KEC_JOIN_DATE':'KEC_Join_Date'}, inplace = True)

In [123]:
stage3.rename(columns = {'KEC_LEAVE_DATE':'KEC_Leave_Date'}, inplace = True)

In [124]:
stage3.rename(columns = {'TEAM_LEADER_JOINING_DATE':'Team_leader_Joining_Date'}, inplace = True)

In [125]:
stage3.rename(columns = {'EQRY_ENQRY_NO':'Link_Enquiry_No'}, inplace = True)

In [126]:
stage3.rename(columns = {'EQRY_DLR_NO':'Dealer_No'}, inplace = True)

In [127]:
stage3.rename(columns = {'Active_Inactive':'Active/Inactive'}, inplace = True)

In [128]:
stage3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3436397 entries, 0 to 3436396
Data columns (total 13 columns):
 #   Column                    Dtype
---  ------                    -----
 0   TEAM_LEADER               object
 1   Team_leader_Joining_Date  object
 2   Team_leader_Leave_Date    object
 3   KEC_Short_Code            object
 4   KEC_NAME                  object
 5   KEC_Long_Code             object
 6   KEC_Join_Date             object
 7   KEC_Leave_Date            object
 8   Link_Enquiry_No           object
 9   Dealer_No                 object
 10  Team_Leader_Code          object
 11  Active/Inactive           object
 12  KEC                       object
dtypes: object(13)
memory usage: 340.8+ MB

In [129]:
stage3

,TEAM_LEADER,Team_leader_Joining_Date,Team_leader_Leave_Date,KEC_Short_Code,KEC_NAME,KEC_Long_Code,KEC_Join_Date,KEC_Leave_Date,Link_Enquiry_No,Dealer_No,Team_Leader_Code,Active/Inactive,KEC
0,nan,NaN,NaN,EAP3020001,Aditya Soni,TRAP30220190001,2019-07-14,NaN,E201900003,TRAP302,nan,nan,ADITYA SONI
1,nan,NaN,NaN,EUP4030004,KASHISH SHARMA,TRUP40320190004,2019-07-10,1970-01-01 00:00:00.020210817,E201900001,TRUP403,nan,nan,KASHISH SHARMA
2,EUP4030014;VISHAL SHARMA;Active,2019-07-14,NaN,EUP4030002,HIMANSHU MITTAL,TRUP40320190002,2019-07-10,NaN,E201900003,TRUP403,EUP4030014,ACTIVE,HIMANSHU MITTAL
3,nan,NaN,NaN,EUP4030001,RANJANA SAXENA,TRUP40320190001,2019-07-10,NaN,E201900006,TRUP403,nan,nan,RANJANA SAXENA
4,nan,NaN,NaN,EUP4030001,RANJANA SAXENA,TRUP40320190001,2019-07-10,NaN,E201900007,TRUP403,nan,nan,RANJANA SAXENA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3436392,nan,NaN,NaN,EKA5020055,MUSTAFA S MULLA,TRKA50220210030,2021-09-14,NaN,E202201318,TRKA502,nan,nan,MUSTAFA S MULLA
3436393,ERJ3020004;Mohit Sharma;Active,2021-02-11,NaN,ERJ3020012,REKHA JAIN,TRRJ30220210003,2021-02-11,NaN,E202205715,TRRJ302,ERJ3020004,ACTIVE,REKHA JAIN
3436394,EPB1010017;RAJBIR SINGH;Active,2019-10-11,NaN,EPB1010034,ANKUR SETHI,TRPB10120200012,2020-02-22,NaN,E202203370,TRPB101,EPB1010017,ACTIVE,ANKUR SETHI
3436395,EMH4100076;LAXMIKANT RAMSIRJAN PANDEY;Active,2020-08-18,NaN,EMH4100089,RAVIKANT RAJESH MISHRA,TR,2020-11-10,NaN,E202207685,TRMH410,EMH4100076,ACTIVE,RAVIKANT RAJESH MISHRA
3436396,EMH4050061;Amol Chandrakant Chavan;Active,2020-08-01,NaN,EMH4050029,Reshma Pralhad Channe,TRMH40520190006,2019-12-20,NaN,E202207084,TRMH405,EMH4050061,ACTIVE,RESHMA PRALHAD CHANNE

In [130]:
applyMap2.shape

(953387, 39)

In [131]:
stage3.shape

(3436397, 13)

In [132]:
stage3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3436397 entries, 0 to 3436396
Data columns (total 13 columns):
 #   Column                    Dtype
---  ------                    -----
 0   TEAM_LEADER               object
 1   Team_leader_Joining_Date  object
 2   Team_leader_Leave_Date    object
 3   KEC_Short_Code            object
 4   KEC_NAME                  object
 5   KEC_Long_Code             object
 6   KEC_Join_Date             object
 7   KEC_Leave_Date            object
 8   Link_Enquiry_No           object
 9   Dealer_No                 object
 10  Team_Leader_Code          object
 11  Active/Inactive           object
 12  KEC                       object
dtypes: object(13)
memory usage: 340.8+ MB

In [133]:
# JOIN LEFT FOR ABOVE TABLE

In [134]:
applyMap2 = applyMap2[0:50000]

In [135]:
applyMap2

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,Link_Date,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE,Booking_Date,Booking_Status
0,TRAP301B201900001,TRAP301,B201900001,A10VA,K,2019-08-14,TI,2.0,GWP,NaN,...,None,None,None,nan,DMS,NAN,None,None,14/08/2019,Payment
1,TRAP301B201900002,TRAP301,B201900002,A10VA,K,2019-08-16,TI,7.0,GWP,NaN,...,None,None,None,nan,DMS,NAN,None,None,16/08/2019,Without Payment
2,TRAP301B201900003,TRAP301,B201900003,A10VA,K,2019-08-16,TI,4.0,GWP,NaN,...,None,None,None,nan,DMS,NAN,None,None,16/08/2019,Without Payment
3,TRAP301B201900004,TRAP301,B201900004,A10VA,K,2019-08-16,TI,4.0,KDG,NaN,...,None,None,None,nan,DMS,NAN,None,None,16/08/2019,Without Payment
4,TRAP301B201900005,TRAP301,B201900005,A10VA,K,2019-08-16,TI,15.0,A6R,NaN,...,None,None,None,nan,DMS,NAN,None,None,16/08/2019,Without Payment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,TRAS402B202201776,TRAS402,B202201776,A10VA,K,2022-07-21,SX,316.0,GWP,NaN,...,Nagaon,None,None,nan,DMS,NAN,None,None,21/07/2022,Without Payment
49996,TRAS402B202201777,TRAS402,B202201777,A10VA,K,2022-07-21,TI,300.0,GWP,NaN,...,Nagaon,None,None,nan,DMS,NAN,None,None,21/07/2022,Without Payment
49997,TRAS402B202201778,TRAS402,B202201778,A10VA,K,2022-07-22,TI,378.0,ABP,NaN,...,Jorhat,None,None,nan,DMS,NAN,None,None,22/07/2022,Without Payment
49998,TRAS402B202201779,TRAS402,B202201779,A10VA,K,2022-07-22,SX,372.0,ABP,NaN,...,Shillong,None,None,nan,DMS,NAN,None,None,22/07/2022,Without Payment
49999,TRAS402B202201780,TRAS402,B202201780,A10VA,K,2022-07-22,TY,354.0,GWP,NaN,...,Nagaon,None,None,nan,DMS,NAN,None,None,22/07/2022,Without Payment

In [136]:
stage3 = stage3[0:50000]

In [137]:
stage3

,TEAM_LEADER,Team_leader_Joining_Date,Team_leader_Leave_Date,KEC_Short_Code,KEC_NAME,KEC_Long_Code,KEC_Join_Date,KEC_Leave_Date,Link_Enquiry_No,Dealer_No,Team_Leader_Code,Active/Inactive,KEC
0,nan,NaN,NaN,EAP3020001,Aditya Soni,TRAP30220190001,2019-07-14,NaN,E201900003,TRAP302,nan,nan,ADITYA SONI
1,nan,NaN,NaN,EUP4030004,KASHISH SHARMA,TRUP40320190004,2019-07-10,1970-01-01 00:00:00.020210817,E201900001,TRUP403,nan,nan,KASHISH SHARMA
2,EUP4030014;VISHAL SHARMA;Active,2019-07-14,NaN,EUP4030002,HIMANSHU MITTAL,TRUP40320190002,2019-07-10,NaN,E201900003,TRUP403,EUP4030014,ACTIVE,HIMANSHU MITTAL
3,nan,NaN,NaN,EUP4030001,RANJANA SAXENA,TRUP40320190001,2019-07-10,NaN,E201900006,TRUP403,nan,nan,RANJANA SAXENA
4,nan,NaN,NaN,EUP4030001,RANJANA SAXENA,TRUP40320190001,2019-07-10,NaN,E201900007,TRUP403,nan,nan,RANJANA SAXENA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,EDL4040001;SUNNY PHOGATE;Active,2019-07-12,NaN,EDL4040028,MONU KUMAR,TRDL40420190016,2019-07-28,NaN,E201900750,TRDL404,EDL4040001,ACTIVE,MONU KUMAR
49996,nan,NaN,NaN,EHR4030030,Naman Sahadev,TRHR40320190016,2019-07-26,1970-01-01 00:00:00.020200309,E201901174,TRHR403,nan,nan,NAMAN SAHADEV
49997,nan,NaN,NaN,EKA3060010,PURUSHOTHAMA POOJARY,TRKA30620190005,2019-07-15,1970-01-01 00:00:00.020200731,E201900477,TRKA306,nan,nan,PURUSHOTHAMA POOJARY
49998,nan,NaN,NaN,EKA1020018,MAHESH,TRKA10220190011,2019-07-16,1970-01-01 00:00:00.020211216,E201900596,TRKA102,nan,nan,MAHESH
49999,EMH3020049;SANJAY MOTIRAM MUNGE ;Active,2020-03-10,NaN,EMH3020004,Nilesh Ashok Wanzal,TRMH30220190004,2019-07-09,1970-01-01 00:00:00.020211125,E201900302,TRMH302,EMH3020049,ACTIVE,NILESH ASHOK WANZAL

In [138]:
# How can a LEFT OUTER JOIN return more records than exist in the left table?

# The LEFT OUTER JOIN will return all records from the LEFT table joined with the RIGHT table where possible.

# If there are matches though, it will still return all rows that match, therefore, one row in LEFT that matches 
# two rows in RIGHT will return as two ROWS, just like an INNER JOIN.

# It isn't impossible. The number of records in the left table is the minimum number of records it will return.
# If the right table has two records that match to one record in the left table, it will return two records.

# src: https://stackoverflow.com/questions/916414/how-can-a-left-outer-join-return-more-records-than-exist-in-the-left-table

In [139]:
stage3['Dealer_No'] = stage3["Dealer_No"].map(str)

C:\Users\15442\AppData\Local\Temp\ipykernel_12500\3683547797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stage3['Dealer_No'] = stage3["Dealer_No"].map(str)

In [140]:
stage3.shape

(50000, 13)

In [141]:
applyMap2['Dealer_No'] = applyMap2["Dealer_No"].map(str)

C:\Users\15442\AppData\Local\Temp\ipykernel_12500\2015335572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  applyMap2['Dealer_No'] = applyMap2["Dealer_No"].map(str)

In [142]:
applyMap2.shape

(50000, 39)

In [143]:
join1 = applyMap2.merge(
    stage3, 
    how="left", 
    on=["Dealer_No"]
)

In [144]:
join1.shape

(8520934, 51)

In [145]:
# My Efforts for getting exact column without trimming (but due to hardware of this pc I'm unable to)

# join1_gb = join1.groupby('Dealer_No')
# join1_gb
# join1_gb = pd.DataFrame(join1_gb.size().reset_index())
# join1_gb.shape
# applyMap2_gb = applyMap2.groupby('Dealer_No')
# stage3_gb = stage3.groupby('Dealer_No')
# applyMap2_gb = pd.DataFrame(applyMap2_gb.size().reset_index())
# stage3_gb = pd.DataFrame(stage3_gb.size().reset_index())
# applyMap2_gb.shape
# stage3_gb.shape

# ------------------------------------------------------------------------------------------------------------------------------------------------------------

# import platform
# platform.architecture()[0]

# ------------------------------------------------------------------------------------------------------------------------------------------------------------

# ! pip install dask  
# import dask.dataframe as dd
# applyMap2_ddf = dd.from_pandas(applyMap2, npartitions=10000)
# stage3_ddf = dd.from_pandas(stage3, npartitions=10000)

# joined_ddf = applyMap2_ddf.merge(
#     stage3_ddf, 
#     how="left", 
#     on=["Dealer_No"]
# )

# joined_ddf1 = joined_ddf.compute()

# applyMap2_pd = dd.read_parquet('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\2nd Table\\Parquet file\\applyMap2(m)',engine='pyarrow')
# stage3_pd = dd.read_parquet('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\2nd Table\\Parquet file\\stage3(m)',engine='pyarrow')

# joined_ddf10 = joined_ddf1.compute()
# stage3_pd['Dealer_No'] = stage3_pd["Dealer_No"].map(str)
# applyMap2_pd['Dealer_No'] = applyMap2_pd["Dealer_No"].map(str)

# joined1 = applyMap2_pd.merge(
#     stage3_pd, 
#     how="left", 
#     on=["Dealer_No"]
# )

# joined1.to_parquet('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\2nd Table\\Parquet file\\joined.parquet, index=False)


# turn dask dataframe into pandas dataframe
# joined1 = joined1.compute()

# ------------------------------------------------------------------------------------------------------------------------------------------------------------

# merge_step5 = pd.merge(applyMap2, stage3, how='left', on=['Dealer_No']).groupby(['Dealer_No']).first().reset_index()      
## MEMORY ERROR
# SIZE OF CSV IS LARGER, MY APPROACH HERE TO CONVERT THE ABOVE TWO DATAFRAME TO PARQUET AND THEN APPLY MERGE

# ------------------------------------------------------------------------------------------------------------------------------------------------------------

# import pyarrow 
# import pandas as pd
# #read parquet file into pandas dataframe
# df=pd.read_parquet('file_location/file_path.parquet',engine='pyarrow')
# #writing dataframe back to source file
# df.to_parquet('file_location/file_path.parquet', engine='pyarrow')

# import pyarrow 
# applyMap2.to_parquet('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\2nd Table\\Parquet file\\applyMap2(m)', engine='pyarrow')
# stage3.to_parquet('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\2nd Table\\Parquet file\\stage3(m)', engine='pyarrow')
# applyMap2_p = pd.read_parquet('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\2nd Table\\Parquet file\\applyMap2(m)',engine='pyarrow')
# stage3_p = pd.read_parquet('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\2nd Table\\Parquet file\\stage3(m)',engine='pyarrow')
# applyMap2_p.shape
# stage3_p.shape
# stage3_p['Dealer_No'] = stage3_p["Dealer_No"].map(str)
# applyMap2_p['Dealer_No'] = applyMap2_p["Dealer_No"].map(str)
# stage3_p.info()
# applyMap2_p.info()
# merge_step3_p2 = pd.merge(applyMap2_p, stage3_p, how='left', on=['Dealer_No'])

# ------------------------------------------------------------------------------------------------------------------------------------------------------------

# !pip install --upgrade terality
# import terality as te
# import terality as te
# 
# # Load all parquet files at this S3 location
# df = te.read_parquet("s3://my-datasets/path/to/objects/")
# 
# # Load a CSV file from disk
# df = te.read_csv("/path/to/my/data.csv")
# applyMap2_pt = te.read_parquet('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\2nd Table\\Parquet file\\applyMap2(m)',engine='pyarrow')

In [146]:
# ------------------------------------------
# STAGE 4
# ------------------------------------------

In [147]:
SCEQRY_TB = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_AfterSales_CRM_SCEQRY_TB.csv')

C:\Users\15442\AppData\Local\Temp\ipykernel_12500\628635663.py:1: DtypeWarning: Columns (25,32,33,34,35,42,43,50,58,64,65,71,72,73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  SCEQRY_TB = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_AfterSales_CRM_SCEQRY_TB.csv')

In [148]:
SCEQRY_TB.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3457854 entries, 0 to 3457853
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   EQRY_DLR_NO             object
 1   EQRY_ENQRY_NO           object
 2   EQRY_CORP_NO            object
 3   EQRY_CMPN_NO            object
 4   EQRY_DATE               object
 5   EQRY_SRC_CODE           object
 6   EQRY_STAT               int64
 7   EQRY_TYPE               object
 8   EQRY_TEST_DRVR_DATE     float64
 9   EQRY_FNCE_YN            object
 10  EQRY_FNCER_CODE         object
 11  EQRY_LOAN_AMT           float64
 12  EQRY_TENOR_MNTHS        int64
 13  EQRY_EXCHG_YN           object
 14  EQRY_EXCHG_MODEL_CODE   object
 15  EQRY_EXCHG_SRC_CODE     float64
 16  EQRY_EXPCT_PRICE        float64
 17  EQRY_QUOTD_PRICE        float64
 18  EQRY_CLSE_DATE          object
 19  EQRY_CLSE_TYPE          float64
 20  EQRY_CLSE_RMRKS         object
 21  EQRY_EMP_NO             object
 22  EQRY_CUST_NO            object
 23  EQRY_LISTD_CORP         object
 24  EQRY_CORP_NAME          object
 25  EQRY_RFRL_BY            object
 26  EQRY_CRTE_DTIME         object
 27  EQRY_CRTE_EMP_NO        object
 28  EQRY_UPDT_DTIME         object
 29  EQRY_UPDT_EMP_NO        object
 30  EQRY_EQFU_SEQ           float64
 31  EQRY_UPDT_DATE          float64
 32  EQRY_TEST_DRIVE_YN      object
 33  EQRY_SR_NUM             object
 34  EQRY_SR_TYPE            object
 35  EQRY_FLW_STATUS         object
 36  EQRY_ASSOCIATE_ID       float64
 37  EQRY_RSO_ID             float64
 38  EQRY_FUEL_TYPE          object
 39  EQRY_PRESENT_CAR_YN     object
 40  EQRY_MAKER_CODE         object
 41  EQRY_TD_VIN             float64
 42  EQRY_CUST_BLOCK         object
 43  EQRY_BULK_SALE          object
 44  EQRY_P_MODL_YEAR        float64
 45  EQRY_CLS_VAL            float64
 46  EQRY_INCOM_GROUP        float64
 47  EQRY_REFL_ID            float64
 48  EQRY_REFL_PUNCH_DLR_NO  float64
 49  EQRY_PLAN_DATE          float64
 50  EQRY_ATIVT_NAME_CODE    object
 51  EQRY_ATIVT_LOC_CODE     float64
 52  EQRY_NEWCAR_YN          object
 53  EQRY_FCALL_EMP_NO       object
 54  EQRY_APNT_DTIME         float64
 55  VIST_DTIME              float64
 56  LEAV_DTIME              float64
 57  EQRY_CTGR_CODE          float64
 58  EQRY_SUB_SRC_CODE       object
 59  EQRY_CLSE_GRP_TYPE      object
 60  EQRY_BUDG_TYPE          float64
 61  EQRY_CERT_TYPE          float64
 62  EQRY_UC_SC_EMP_NO       float64
 63  EQRY_TDRIVE_RMRKS       object
 64  EQRY_VC_RMRKS           object
 65  EQRY_REQ_TYPE           object
 66  EQRY_EMAILSEND_YN       float64
 67  EQRY_SRC_FLG            object
 68  EQRY_SR_NUM_REAL        object
 69  EQRY_ENG_TYP            object
 70  EQRY_TRNSM_TYP          object
 71  SOQ_TAG_YN              object
 72  EQRY_EVAL_YN            object
 73  EQRY_EXCH_DN            object
 74  EQRY_FINAL_BP           float64
 75  EQRY_CAMPGN_NO          object
dtypes: float64(27), int64(2), object(47)
memory usage: 2.0+ GB

In [149]:
SCEQRY_TB.shape

(3457854, 76)

In [150]:
SCEQRY_TB.isna().sum()

EQRY_DLR_NO             0
EQRY_ENQRY_NO           0
EQRY_CORP_NO            0
EQRY_CMPN_NO            0
EQRY_DATE               0
                   ...
SOQ_TAG_YN        3355301
EQRY_EVAL_YN      3395079
EQRY_EXCH_DN      3426136
EQRY_FINAL_BP     3344650
EQRY_CAMPGN_NO    3457853
Length: 76, dtype: int64

In [151]:
SCEQRY_TB_l = []
for i in SCEQRY_TB:
    if SCEQRY_TB[i].isna().sum() == 3457854:
        SCEQRY_TB_l.append(i)

In [152]:
SCEQRY_TB_l

['EQRY_TEST_DRVR_DATE',
 'EQRY_UPDT_DATE',
 'EQRY_TD_VIN',
 'EQRY_REFL_ID',
 'EQRY_REFL_PUNCH_DLR_NO',
 'EQRY_PLAN_DATE',
 'EQRY_ATIVT_LOC_CODE',
 'EQRY_APNT_DTIME',
 'VIST_DTIME',
 'LEAV_DTIME',
 'EQRY_BUDG_TYPE',
 'EQRY_UC_SC_EMP_NO',
 'EQRY_EMAILSEND_YN']

In [153]:
SCEQRY_TB.drop(['EQRY_TEST_DRVR_DATE',
 'EQRY_TD_VIN',
 'EQRY_REFL_ID',
 'EQRY_REFL_PUNCH_DLR_NO',
 'EQRY_PLAN_DATE',
 'EQRY_ATIVT_LOC_CODE',
 'EQRY_APNT_DTIME',
 'VIST_DTIME',
 'LEAV_DTIME',
 'EQRY_BUDG_TYPE',
 'EQRY_UC_SC_EMP_NO',
 'EQRY_EMAILSEND_YN'], axis=1, inplace = True)

In [154]:
SCEQRY_TB.shape

(3457854, 64)

In [155]:
SCEQRY_TB['Key'] = SCEQRY_TB['EQRY_ENQRY_NO']+SCEQRY_TB['EQRY_DLR_NO']

In [156]:
SCEQRY_TB

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,EQRY_SRC_FLG,EQRY_SR_NUM_REAL,EQRY_ENG_TYP,EQRY_TRNSM_TYP,SOQ_TAG_YN,EQRY_EVAL_YN,EQRY_EXCH_DN,EQRY_FINAL_BP,EQRY_CAMPGN_NO,Key
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,MOB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E201900003TRAP302
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E201900001TRUP403
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,NaN,NaN,C,B,Y,NaN,NaN,NaN,NaN,E201900003TRUP403
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,E201900006TRUP403
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,NaN,NaN,C,B,NaN,NaN,NaN,NaN,NaN,E201900007TRUP403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,MOB,KA310MS2208060244162843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202202843TRKA310
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,MOB,KA403MS2208060244238509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202208509TRKA403
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,MOB,JH501MS2208060244570622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202200622TRJH501
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,MOB,TN403MS2208060245026171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202206171TRTN403
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,MOB,MH406MS2208060245097137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202207137TRMH406

In [157]:
SCEQRY_TB["EQRY_SRC_FLG"] = SCEQRY_TB["EQRY_SRC_FLG"].astype(str)

In [158]:
SCEQRY_TB['EQRY_SRC_FLG']

0          MOB
1          nan
2          nan
3          nan
4          nan
          ...
3457849    MOB
3457850    MOB
3457851    MOB
3457852    MOB
3457853    MOB
Name: EQRY_SRC_FLG, Length: 3457854, dtype: object

In [159]:
EQRY_SRC_FLG_list = []
for i in SCEQRY_TB["EQRY_SRC_FLG"]:
        EQRY_SRC_FLG_list.append(i)

In [160]:
for i in range(len(EQRY_SRC_FLG_list)):
    if EQRY_SRC_FLG_list[i] == 'MOB':
        EQRY_SRC_FLG_list[i] = 'MySales'

In [161]:
for i in range(len(EQRY_SRC_FLG_list)):
    if EQRY_SRC_FLG_list[i] != 'nan' and EQRY_SRC_FLG_list[i] != 'MySales':
        EQRY_SRC_FLG_list[i] = 'Online'
    elif EQRY_SRC_FLG_list[i] == 'nan':
        EQRY_SRC_FLG_list[i] = 'DMS'

In [162]:
SCEQRY_TB['Enquiry_Source_Type'] = EQRY_SRC_FLG_list

In [163]:
SCEQRY_TB['EQRY_FNCE_YN']

0            N
1          NaN
2            N
3            N
4            N
          ...
3457849      N
3457850      N
3457851      N
3457852      N
3457853      N
Name: EQRY_FNCE_YN, Length: 3457854, dtype: object

In [164]:
SCEQRY_TB['Finance/Not Finance'] = SCEQRY_TB['EQRY_FNCE_YN'].apply(lambda x: 'Finance' if x == 'Y' else 'Not-Finance')

In [165]:
SCEQRY_TB['Finance/Not Finance']

0          Not-Finance
1          Not-Finance
2          Not-Finance
3          Not-Finance
4          Not-Finance
              ...
3457849    Not-Finance
3457850    Not-Finance
3457851    Not-Finance
3457852    Not-Finance
3457853    Not-Finance
Name: Finance/Not Finance, Length: 3457854, dtype: object

In [166]:
# 1st applyMap of this step

In [167]:
applyMap_s4_12 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\RAW files\\Stage1_Sales_CRM_SDENSC_TB.csv')

In [168]:
applyMap_s4_12.shape

(34, 12)

In [169]:
applyMap_s4_12 = applyMap_s4_12[applyMap_s4_12['ENSC_GRP_CODE'] == 'DSO0001']

In [170]:
applyMap_s4_12

,ENSC_CMPN_NO,ENSC_CORP_NO,ENSC_GRP_CODE,ENSC_CODE,ENSC_GRP_NAME,ENSC_NAME,ENSC_PRIORITY,ENSC_DELYN,ENSC_CRTE_EMP_NO,ENSC_CRTE_DTIME,ENSC_UPDT_EMP_NO,ENSC_UPDT_DTIME
0,K,A10VA,DSO0001,1,Telephone,Inbound Calls,1,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
1,K,A10VA,DSO0001,3,Field,Cold Visit,3,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
2,K,A10VA,DSO0001,7,Walkin,Ads,1,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
3,K,A10VA,DSO0001,8,Walkin,Referral,1,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
4,K,A10VA,DSO0001,9,Walkin,Workshop,1,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
5,K,A10VA,DSO0001,11,Telephone,Outbound Calls,1,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
6,K,A10VA,DSO0001,16,Referral,Happiness Check List,5,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
7,K,A10VA,DSO0001,32,Field,Dealer Planned Events,3,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
8,K,A10VA,DSO0001,33,Online/CRM,Call Centre,4,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
9,K,A10VA,DSO0001,34,Field,KMI Planned Events,3,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
10,K,A10VA,DSO0001,35,Online/CRM,Other Websites,4,N,Shashi,2017-10-27 13:35:03,Shashi,2017-10-27 13:35:03
11,K,A10VA,DSO0001,40,Online/CRM,Dealer Website,4,N,Shashi,2018-05-30 10:59:51,Shashi,2018-05-30 10:59:51
12,K,A10VA,DSO0001,41,Online/CRM,KMI Website,4,N,Shashi,2018-05-30 11:00:09,Shashi,2018-05-30 11:00:09
13,K,A10VA,DSO0001,42,Field,Referral,3,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
14,K,A10VA,DSO0001,44,Referral,TL Reference,5,N,Shashi,2016-05-01 09:26:14,Shashi,2016-05-01 09:26:14
15,K,A10VA,DSO0001,65,Online/CRM,SBI Yono,4,N,Shashi,2018-05-30 11:00:09,Shashi,2018-05-30 11:00:09
16,K,A10VA,DSO0001,67,Online/CRM,MYKIA,4,N,Shashi,2022-02-15 11:00:09,Shashi,2022-02-15 11:00:09

In [171]:
applyMap_s4_12.rename(columns = {'ENSC_CODE':'EQRY_SUB_SRC_CODE'}, inplace = True)

In [172]:
applyMap_s4_12.columns

Index(['ENSC_CMPN_NO', 'ENSC_CORP_NO', 'ENSC_GRP_CODE', 'EQRY_SUB_SRC_CODE',
       'ENSC_GRP_NAME', 'ENSC_NAME', 'ENSC_PRIORITY', 'ENSC_DELYN',
       'ENSC_CRTE_EMP_NO', 'ENSC_CRTE_DTIME', 'ENSC_UPDT_EMP_NO',
       'ENSC_UPDT_DTIME'],
      dtype='object')

In [173]:
applyMap_s4_12.drop(['ENSC_CMPN_NO',
 'ENSC_CORP_NO',
 'ENSC_GRP_CODE',
 'ENSC_PRIORITY',
 'ENSC_DELYN',
 'ENSC_CRTE_EMP_NO',
 'ENSC_CRTE_DTIME',
 'ENSC_UPDT_EMP_NO',
 'ENSC_UPDT_DTIME'], axis=1, inplace = True)

In [174]:
applyMap_s4_12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EQRY_SUB_SRC_CODE  17 non-null     int64
 1   ENSC_GRP_NAME      17 non-null     object
 2   ENSC_NAME          17 non-null     object
dtypes: int64(1), object(2)
memory usage: 544.0+ bytes

In [175]:
applyMap_s4_12

    EQRY_SUB_SRC_CODE ENSC_GRP_NAME              ENSC_NAME
0                   1     Telephone          Inbound Calls
1                   3         Field             Cold Visit
2                   7        Walkin                    Ads
3                   8        Walkin               Referral
4                   9        Walkin               Workshop
5                  11     Telephone         Outbound Calls
6                  16      Referral   Happiness Check List
7                  32         Field  Dealer Planned Events
8                  33    Online/CRM            Call Centre
9                  34         Field     KMI Planned Events
10                 35    Online/CRM         Other Websites
11                 40    Online/CRM         Dealer Website
12                 41    Online/CRM            KMI Website
13                 42         Field               Referral
14                 44      Referral           TL Reference
15                 65    Online/CRM               SBI Yono
16                 67    Online/CRM                  MYKIA

In [176]:
applyMap_s4_1 = applyMap_s4_12.copy()

In [177]:
applyMap_s4_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EQRY_SUB_SRC_CODE  17 non-null     int64
 1   ENSC_GRP_NAME      17 non-null     object
 2   ENSC_NAME          17 non-null     object
dtypes: int64(1), object(2)
memory usage: 544.0+ bytes

In [178]:
applyMap_s4_1.drop("ENSC_GRP_NAME", axis=1, inplace = True)

In [179]:
applyMap_s4_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EQRY_SUB_SRC_CODE  17 non-null     int64
 1   ENSC_NAME          17 non-null     object
dtypes: int64(1), object(1)
memory usage: 408.0+ bytes

In [180]:
applyMap_s4_2 = applyMap_s4_12.copy()

In [181]:
applyMap_s4_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EQRY_SUB_SRC_CODE  17 non-null     int64
 1   ENSC_GRP_NAME      17 non-null     object
 2   ENSC_NAME          17 non-null     object
dtypes: int64(1), object(2)
memory usage: 544.0+ bytes

In [182]:
applyMap_s4_2.drop("ENSC_NAME", axis=1, inplace = True)

In [183]:
applyMap_s4_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EQRY_SUB_SRC_CODE  17 non-null     int64
 1   ENSC_GRP_NAME      17 non-null     object
dtypes: int64(1), object(1)
memory usage: 408.0+ bytes

In [184]:
# SCEQRY_TB.info()
# print('----------------------------------------------------------')
SCEQRY_TB.shape

(3457854, 67)

In [185]:
after_applyMap_s4_1 = pd.merge(SCEQRY_TB, applyMap_s4_1, how='left', on=['EQRY_SUB_SRC_CODE'])

In [186]:
after_applyMap_s4_1.shape

(3457854, 68)

In [187]:
after_applyMap_s4_1['EQRY_SUB_SRC_CODE']

0          40
1          16
2           8
3           1
4           8
           ..
3457849     7
3457850     1
3457851     1
3457852     7
3457853     7
Name: EQRY_SUB_SRC_CODE, Length: 3457854, dtype: object

In [188]:
after_applyMap_s4_1["ENSC_NAME"] = after_applyMap_s4_1["ENSC_NAME"].astype(str)

In [189]:
after_applyMap_s4_1['ENSC_NAME'] = after_applyMap_s4_1['ENSC_NAME'].apply(lambda x: 'ADVERTISEMENTS' if x == 'Ads' else x.upper())

In [190]:
after_applyMap_s4_1['ENSC_NAME']

0                DEALER WEBSITE
1          HAPPINESS CHECK LIST
2                      REFERRAL
3                 INBOUND CALLS
4                      REFERRAL
                   ...
3457849          ADVERTISEMENTS
3457850           INBOUND CALLS
3457851           INBOUND CALLS
3457852          ADVERTISEMENTS
3457853          ADVERTISEMENTS
Name: ENSC_NAME, Length: 3457854, dtype: object

In [191]:
after_applyMap_s4_1.rename(columns={"ENSC_NAME":"Enquiry_Sub_Source_Name"},inplace = True)

In [192]:
after_applyMap_s4_1.shape

(3457854, 68)

In [193]:
after_applyMap_s4_2 = pd.merge(after_applyMap_s4_1, applyMap_s4_2, how='left', on=['EQRY_SUB_SRC_CODE'])

In [194]:
after_applyMap_s4_2.shape

(3457854, 69)

In [195]:
after_applyMap_s4_2["ENSC_GRP_NAME"] = after_applyMap_s4_2["ENSC_GRP_NAME"].astype(str)

In [196]:
after_applyMap_s4_2['Enquiry_Source'] = after_applyMap_s4_2['ENSC_GRP_NAME'].str.upper()

In [197]:
applyMap_s4_345 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_AfterSales_CMM_CMCD_TB.csv')

In [198]:
applyMap_s4_345.shape

(8487, 16)

In [199]:
applyMap_s4_3 = applyMap_s4_345.copy()

In [200]:
applyMap_s4_4 = applyMap_s4_345.copy()

In [201]:
applyMap_s4_5 = applyMap_s4_345.copy()

In [202]:
applyMap_s4_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8487 entries, 0 to 8486
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CMPN_NO        8487 non-null   object
 1   CORP_NO        8487 non-null   object
 2   CMM_GRP_CODE   8487 non-null   object
 3   CMM_CODE       8483 non-null   object
 4   CMM_CODE_NAME  8484 non-null   object
 5   REMARK_1       2331 non-null   object
 6   REMARK_2       559 non-null    object
 7   REMARK_3       55 non-null     object
 8   REMARK_4       46 non-null     object
 9   REMARK_5       11 non-null     object
 10  USED_YN        8487 non-null   object
 11  PRIORITY       8475 non-null   float64
 12  CRTE_EMP_NO    8487 non-null   object
 13  CRTE_DTIME     8487 non-null   object
 14  UPDT_EMP_NO    6450 non-null   object
 15  UPDT_DTIME     6450 non-null   object
dtypes: float64(1), object(15)
memory usage: 1.0+ MB

In [203]:
applyMap_s4_3.shape

(8487, 16)

In [204]:
applyMap_s4_3 = applyMap_s4_3[applyMap_s4_3['CMM_GRP_CODE'] == 'DSO0002']

In [205]:
applyMap_s4_3

,CMPN_NO,CORP_NO,CMM_GRP_CODE,CMM_CODE,CMM_CODE_NAME,REMARK_1,REMARK_2,REMARK_3,REMARK_4,REMARK_5,USED_YN,PRIORITY,CRTE_EMP_NO,CRTE_DTIME,UPDT_EMP_NO,UPDT_DTIME
1934,K,A10VA,DSO0002,10,Enquiry,NaN,NaN,NaN,NaN,NaN,Y,1.0,A10AA001,2005-01-31 12:00:00 AM,A10AA003,2005-03-04 00:00:00
1935,K,A10VA,DSO0002,20,Booking,NaN,NaN,NaN,NaN,NaN,Y,2.0,A10AA001,2005-01-31 12:00:00 AM,A10AA003,2005-03-04 00:00:00
1936,K,A10VA,DSO0002,30,Assignment,NaN,NaN,NaN,NaN,NaN,Y,3.0,A10AA001,2005-01-31 12:00:00 AM,A10AA001,2005-01-31 00:00:00
1937,K,A10VA,DSO0002,40,Invoice,NaN,NaN,NaN,NaN,NaN,Y,4.0,A10AA001,2005-01-31 12:00:00 AM,A10AA001,2005-01-31 00:00:00
1938,K,A10VA,DSO0002,45,Retail,NaN,NaN,NaN,NaN,NaN,Y,5.0,A10AA001,2005-01-31 12:00:00 AM,A10AA001,2005-01-31 00:00:00
1939,K,A10VA,DSO0002,50,Enquiry Cancel,NaN,NaN,NaN,NaN,NaN,Y,6.0,A10AA001,2005-01-31 12:00:00 AM,ZZZZZZ,2007-01-16 00:00:00
1940,K,A10VA,DSO0002,60,Booking Cancel,NaN,NaN,NaN,NaN,NaN,Y,7.0,A10AA001,2005-01-31 12:00:00 AM,A10AA001,2005-01-31 00:00:00
1941,K,A10VA,DSO0002,70,Assignment Cancel,NaN,NaN,NaN,NaN,NaN,Y,8.0,A10AA001,2005-01-31 12:00:00 AM,A10AA001,2005-01-31 00:00:00
1942,K,A10VA,DSO0002,80,Invoice Cancel,NaN,NaN,NaN,NaN,NaN,Y,9.0,A10AA001,2005-01-31 12:00:00 AM,A10AA001,2005-01-31 00:00:00
1943,K,A10VA,DSO0002,90,Lost,NaN,NaN,NaN,NaN,NaN,Y,10.0,A10AA001,2005-01-31 12:00:00 AM,A10AA001,2005-01-31 00:00:00
4289,K,A10VA,DSO0002,15,Prebooking,NaN,NaN,NaN,NaN,NaN,Y,7.0,KOREA,2019-07-16 02:00:01 AM,NaN,NaN
5333,K,A10VA,DSO0002,86,Appointed cancellation approval,NaN,NaN,NaN,NaN,NaN,Y,6.0,SANGWOO,2019-04-26 03:01:35 PM,NaN,NaN
5556,K,A10VA,DSO0002,55,Appointed Enquiry Cancel,NaN,NaN,NaN,NaN,NaN,Y,6.0,DEP_CRM,2018-12-05 09:45:00 AM,DEP_CRM,2018-12-05 09:45:00
5557,K,A10VA,DSO0002,57,Customer Meeting Cancel,NaN,NaN,NaN,NaN,NaN,Y,6.0,DEP_CRM,2018-12-05 09:45:00 AM,DEP_CRM,2018-12-05 09:45:00
5558,K,A10VA,DSO0002,59,Enquiry Follow up Cancel,NaN,NaN,NaN,NaN,NaN,Y,6.0,DEP_CRM,2018-12-05 09:45:00 AM,DEP_CRM,2018-12-05 09:45:00
6064,K,A10VA,DSO0002,85,Enquiry cancellation approval,NaN,NaN,NaN,NaN,NaN,Y,6.0,SANGWOO,2019-04-26 03:01:35 PM,NaN,NaN
6319,K,A10VA,DSO0002,1,Lead,NaN,NaN,NaN,NaN,NaN,Y,0.0,DEP_CRM,2018-09-28 06:50:34 AM,DEP_CRM,2018-09-28 06:50:34
6320,K,A10VA,DSO0002,5,Appointed Enquiry,NaN,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-09-28 06:50:35 AM,DEP_CRM,2018-09-28 06:50:35
6321,K,A10VA,DSO0002,7,Customer Meeting,NaN,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-09-28 06:50:36 AM,DEP_CRM,2018-09-28 06:50:36
6322,K,A10VA,DSO0002,9,Enquiry Follow up,NaN,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-09-28 06:50:37 AM,DEP_CRM,2018-09-28 06:50:37

In [206]:
applyMap_s4_3.columns

Index(['CMPN_NO', 'CORP_NO', 'CMM_GRP_CODE', 'CMM_CODE', 'CMM_CODE_NAME',
       'REMARK_1', 'REMARK_2', 'REMARK_3', 'REMARK_4', 'REMARK_5', 'USED_YN',
       'PRIORITY', 'CRTE_EMP_NO', 'CRTE_DTIME', 'UPDT_EMP_NO', 'UPDT_DTIME'],
      dtype='object')

In [207]:
applyMap_s4_3.drop(['CMPN_NO',
 'CORP_NO',
 'CMM_GRP_CODE',
 'REMARK_1',
 'REMARK_2',
 'REMARK_3',
 'REMARK_4',
 'REMARK_5',
 'USED_YN',
 'PRIORITY',
 'CRTE_EMP_NO',
 'CRTE_DTIME',
 'UPDT_EMP_NO',
 'UPDT_DTIME'], axis=1, inplace = True)

In [208]:
applyMap_s4_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 1934 to 6322
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CMM_CODE       20 non-null     object
 1   CMM_CODE_NAME  20 non-null     object
dtypes: object(2)
memory usage: 480.0+ bytes

In [209]:
applyMap_s4_3.rename(columns = {'CMM_CODE':'EQRY_STAT'}, inplace = True)

In [210]:
after_applyMap_s4_2.shape

(3457854, 70)

In [211]:
applyMap_s4_3.shape

(20, 2)

In [212]:
after_applyMap_s4_2['EQRY_STAT'] = after_applyMap_s4_2['EQRY_STAT'].astype(str)

In [213]:
applyMap_s4_3['EQRY_STAT'] = applyMap_s4_3['EQRY_STAT'].astype(str)

In [214]:
after_applyMap_s4_3 = pd.merge(after_applyMap_s4_2, applyMap_s4_3, how='left', on=['EQRY_STAT'])

In [215]:
after_applyMap_s4_3.shape

(3457854, 71)

In [216]:
after_applyMap_s4_3.rename(columns = {'CMM_CODE_NAME':'Enquiry_Status'}, inplace = True)

In [217]:
# after_applyMap_s4_3

In [218]:
applyMap_s4_4.shape

(8487, 16)

In [219]:
applyMap_s4_4 = applyMap_s4_4[applyMap_s4_4['CMM_GRP_CODE'] == 'DSO0013']

In [220]:
applyMap_s4_4 = applyMap_s4_4[applyMap_s4_4['CMM_CODE'] != 'N']

In [221]:
applyMap_s4_4

,CMPN_NO,CORP_NO,CMM_GRP_CODE,CMM_CODE,CMM_CODE_NAME,REMARK_1,REMARK_2,REMARK_3,REMARK_4,REMARK_5,USED_YN,PRIORITY,CRTE_EMP_NO,CRTE_DTIME,UPDT_EMP_NO,UPDT_DTIME
5911,K,A10VA,DSO0013,H,Hot,NaN,NaN,NaN,NaN,NaN,Y,1.0,aaaa,2019-04-24 11:59:43 AM,aaaa,2019-04-24 11:59:43
5912,K,A10VA,DSO0013,C,Cold,NaN,NaN,NaN,NaN,NaN,Y,3.0,aaaa,2019-04-24 05:28:52 PM,aaaa,2019-04-24 17:28:52
6061,K,A10VA,DSO0013,W,Warm,NaN,NaN,NaN,NaN,NaN,Y,2.0,aaaa,2019-04-24 05:29:16 PM,aaaa,2019-04-24 17:29:16

In [222]:
applyMap_s4_4.columns

Index(['CMPN_NO', 'CORP_NO', 'CMM_GRP_CODE', 'CMM_CODE', 'CMM_CODE_NAME',
       'REMARK_1', 'REMARK_2', 'REMARK_3', 'REMARK_4', 'REMARK_5', 'USED_YN',
       'PRIORITY', 'CRTE_EMP_NO', 'CRTE_DTIME', 'UPDT_EMP_NO', 'UPDT_DTIME'],
      dtype='object')

In [223]:
applyMap_s4_4.drop(['CMPN_NO', 'CORP_NO', 'CMM_GRP_CODE',
       'REMARK_1', 'REMARK_2', 'REMARK_3', 'REMARK_4', 'REMARK_5', 'USED_YN',
       'PRIORITY', 'CRTE_EMP_NO', 'CRTE_DTIME', 'UPDT_EMP_NO', 'UPDT_DTIME'], axis=1, inplace = True)

In [224]:
applyMap_s4_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 5911 to 6061
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CMM_CODE       3 non-null      object
 1   CMM_CODE_NAME  3 non-null      object
dtypes: object(2)
memory usage: 72.0+ bytes

In [225]:
applyMap_s4_4.rename(columns = {'CMM_CODE':'EQRY_TYPE'}, inplace = True)

In [226]:
applyMap_s4_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 5911 to 6061
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EQRY_TYPE      3 non-null      object
 1   CMM_CODE_NAME  3 non-null      object
dtypes: object(2)
memory usage: 72.0+ bytes

In [227]:
applyMap_s4_4.shape

(3, 2)

In [228]:
after_applyMap_s4_4 = pd.merge(after_applyMap_s4_3, applyMap_s4_4, how='left', on=['EQRY_TYPE'])

In [229]:
after_applyMap_s4_4.shape

(3457854, 72)

In [230]:
after_applyMap_s4_4.rename(columns = {'CMM_CODE_NAME':'Enquiry_Type2'}, inplace = True)

In [231]:
after_applyMap_s4_4

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,EQRY_FINAL_BP,EQRY_CAMPGN_NO,Key,Enquiry_Source_Type,Finance/Not Finance,Enquiry_Sub_Source_Name,ENSC_GRP_NAME,Enquiry_Source,Enquiry_Status,Enquiry_Type2
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,NaN,NaN,E201900003TRAP302,MySales,Not-Finance,DEALER WEBSITE,Online/CRM,ONLINE/CRM,Appointed Enquiry Cancel,Warm
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,E201900001TRUP403,DMS,Not-Finance,HAPPINESS CHECK LIST,Referral,REFERRAL,Booking Cancel,Hot
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,NaN,NaN,E201900003TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Booking Cancel,Hot
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,NaN,E201900006TRUP403,DMS,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking Cancel,Hot
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,NaN,NaN,E201900007TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Retail,Hot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,E202202843TRKA310,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Cold
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,NaN,NaN,E202208509TRKA403,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Enquiry Follow up,Hot
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,NaN,NaN,E202200622TRJH501,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking,Hot
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,E202206171TRTN403,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Cold
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,NaN,NaN,E202207137TRMH406,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Hot

In [232]:
# applyMap_s4_5

In [233]:
applyMap_s4_5.shape

(8487, 16)

In [234]:
applyMap_s4_5 = applyMap_s4_5[applyMap_s4_5['CMM_GRP_CODE'] == 'DSO0012']

In [235]:
applyMap_s4_5

,CMPN_NO,CORP_NO,CMM_GRP_CODE,CMM_CODE,CMM_CODE_NAME,REMARK_1,REMARK_2,REMARK_3,REMARK_4,REMARK_5,USED_YN,PRIORITY,CRTE_EMP_NO,CRTE_DTIME,UPDT_EMP_NO,UPDT_DTIME
3822,K,A10VA,DSO0012,11,Individual,I,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-10-10 11:29:00 AM,DEP_CRM,2018-10-10 11:29:00
3823,K,A10VA,DSO0012,12,Corporate Individual,I,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-10-10 11:29:00 AM,DEP_CRM,2018-10-10 11:29:00
3824,K,A10VA,DSO0012,13,Handicapped,I,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-10-10 11:29:00 AM,DEP_CRM,2018-10-10 11:29:00
3825,K,A10VA,DSO0012,14,Government Individual,I,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-10-10 11:29:00 AM,AUTOEVER,2020-06-10 20:12:00
3826,K,A10VA,DSO0012,15,Others,I,NaN,NaN,NaN,NaN,N,1.0,DEP_CRM,2018-10-10 11:29:00 AM,AUTOEVER,2020-06-10 20:09:00
3827,K,A10VA,DSO0012,16,Taxi Customer[Taxi Customer],C,NaN,NaN,NaN,NaN,N,1.0,DEP_CRM,2018-10-10 11:29:00 AM,AUTOEVER,2020-06-10 20:25:00
3828,K,A10VA,DSO0012,21,Corporate Company,C,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-10-10 11:29:00 AM,DEP_CRM,2018-10-10 11:29:00
3829,K,A10VA,DSO0012,22,Fleet & Taxi Company,C,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-10-10 11:29:00 AM,AUTOEVER,2020-06-10 20:24:00
3830,K,A10VA,DSO0012,23,Rent a car Company,C,NaN,NaN,NaN,NaN,N,1.0,DEP_CRM,2018-10-10 11:29:00 AM,AUTOEVER,2020-06-10 20:27:00
3831,K,A10VA,DSO0012,24,Leasing Company,C,NaN,NaN,NaN,NaN,Y,1.0,DEP_CRM,2018-10-10 11:29:00 AM,DEP_CRM,2018-10-10 11:29:00
3832,K,A10VA,DSO0012,31,Other Government Buying,GM,NaN,NaN,NaN,NaN,Y,4.0,DEP_CRM,2018-10-10 11:29:00 AM,AUTOEVER,2020-06-10 20:26:00
3833,K,A10VA,DSO0012,32,CSD,GM,NaN,NaN,NaN,NaN,Y,3.0,DEP_CRM,2018-10-10 11:29:00 AM,AUTOEVER,2020-06-10 20:26:00
3834,K,A10VA,DSO0012,33,CPC,GM,NaN,NaN,NaN,NaN,Y,2.0,DEP_CRM,2018-10-10 11:29:00 AM,AUTOEVER,2020-06-10 20:26:00
5478,K,A10VA,DSO0012,34,DGSnD,GM,NaN,NaN,NaN,NaN,N,99.0,DEP_CRM,2018-12-03 08:39:00 PM,DEP_CRM,2018-12-03 20:39:00
6671,K,A10VA,DSO0012,18,Embassy/High commission,C,NaN,NaN,NaN,NaN,Y,1.0,KOREA,2020-05-01 09:04:00 PM,L1ADMIN,2020-05-20 15:32:08
6675,K,A10VA,DSO0012,35,Fleet and Taxi Individual,I,NaN,NaN,NaN,NaN,Y,1.0,AUTOEVER,2020-06-10 08:11:00 PM,AUTOEVER,2020-06-24 11:56:19
6676,K,A10VA,DSO0012,38,Government-PSU-PSB,C,NaN,NaN,NaN,NaN,Y,1.0,AUTOEVER,2020-06-10 08:29:00 PM,NaN,NaN
7489,K,A10VA,DSO0012,36,GeM,GM,NaN,NaN,NaN,NaN,Y,1.0,AUTOEVER,2020-06-10 08:20:00 PM,NaN,NaN
7490,K,A10VA,DSO0012,37,Corporate Bulk Purchase,C,NaN,NaN,NaN,NaN,Y,1.0,AUTOEVER,2020-06-10 08:28:00 PM,NaN,NaN
7491,K,A10VA,DSO0012,41,Special Economic Zone ( SEZ),C,NaN,NaN,NaN,NaN,Y,1.0,AUTOEVER,2020-06-10 09:41:00 PM,NaN,NaN

In [236]:
applyMap_s4_5.columns

Index(['CMPN_NO', 'CORP_NO', 'CMM_GRP_CODE', 'CMM_CODE', 'CMM_CODE_NAME',
       'REMARK_1', 'REMARK_2', 'REMARK_3', 'REMARK_4', 'REMARK_5', 'USED_YN',
       'PRIORITY', 'CRTE_EMP_NO', 'CRTE_DTIME', 'UPDT_EMP_NO', 'UPDT_DTIME'],
      dtype='object')

In [237]:
applyMap_s4_5.drop(['CMPN_NO', 'CORP_NO', 'CMM_GRP_CODE','REMARK_1', 'REMARK_2', 'REMARK_3', 'REMARK_4', 'REMARK_5', 'USED_YN',
       'PRIORITY', 'CRTE_EMP_NO', 'CRTE_DTIME', 'UPDT_EMP_NO', 'UPDT_DTIME'], axis=1, inplace = True)

In [238]:
applyMap_s4_5.rename(columns = {'CMM_CODE':'EQRY_TYPE'}, inplace = True)

In [239]:
applyMap_s4_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 3822 to 7491
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EQRY_TYPE      20 non-null     object
 1   CMM_CODE_NAME  20 non-null     object
dtypes: object(2)
memory usage: 480.0+ bytes

In [240]:
applyMap_s4_5.rename(columns = {'EQRY_TYPE':'EQRY_CTGR_CODE'}, inplace = True)

In [241]:
applyMap_s4_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 3822 to 7491
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EQRY_CTGR_CODE  20 non-null     object
 1   CMM_CODE_NAME   20 non-null     object
dtypes: object(2)
memory usage: 480.0+ bytes

In [242]:
after_applyMap_s4_4.shape

(3457854, 72)

In [243]:
applyMap_s4_5.shape

(20, 2)

In [244]:
applyMap_s4_5

     EQRY_CTGR_CODE                 CMM_CODE_NAME
3822             11                    Individual
3823             12          Corporate Individual
3824             13                   Handicapped
3825             14         Government Individual
3826             15                        Others
3827             16  Taxi Customer[Taxi Customer]
3828             21             Corporate Company
3829             22          Fleet & Taxi Company
3830             23            Rent a car Company
3831             24               Leasing Company
3832             31       Other Government Buying
3833             32                           CSD
3834             33                           CPC
5478             34                         DGSnD
6671             18       Embassy/High commission
6675             35     Fleet and Taxi Individual
6676             38            Government-PSU-PSB
7489             36                           GeM
7490             37       Corporate Bulk Purchase
7491             41  Special Economic Zone ( SEZ)

In [245]:
# after_applyMap_s4_4['EQRY_CTGR_CODE'] = after_applyMap_s4_4['EQRY_CTGR_CODE'].astype(int)

In [246]:
# applyMap_s4_5['EQRY_CTGR_CODE'] = applyMap_s4_5['EQRY_CTGR_CODE'].astype(int)

In [247]:
after_applyMap_s4_4['EQRY_CTGR_CODE']

0          11.0
1          21.0
2          11.0
3          11.0
4          11.0
           ...
3457849    11.0
3457850    11.0
3457851    11.0
3457852    11.0
3457853    11.0
Name: EQRY_CTGR_CODE, Length: 3457854, dtype: float64

In [248]:
import numpy as np

In [249]:
after_applyMap_s4_4['EQRY_CTGR_CODE'] = after_applyMap_s4_4['EQRY_CTGR_CODE'].fillna(0)

In [250]:
after_applyMap_s4_4['EQRY_CTGR_CODE'] = after_applyMap_s4_4['EQRY_CTGR_CODE'].apply(np.int64)

In [251]:
applyMap_s4_5['EQRY_CTGR_CODE'] = applyMap_s4_5['EQRY_CTGR_CODE'].apply(np.int64)

In [252]:
after_applyMap_s4_5 = pd.merge(after_applyMap_s4_4, applyMap_s4_5, how='left', on=['EQRY_CTGR_CODE'])

In [253]:
after_applyMap_s4_5.shape

(3457854, 73)

In [254]:
after_applyMap_s4_5.rename(columns = {'CMM_CODE_NAME':'Enquiry_Category_Type'}, inplace = True)

In [255]:
after_applyMap_s4_5

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,EQRY_CAMPGN_NO,Key,Enquiry_Source_Type,Finance/Not Finance,Enquiry_Sub_Source_Name,ENSC_GRP_NAME,Enquiry_Source,Enquiry_Status,Enquiry_Type2,Enquiry_Category_Type
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,NaN,E201900003TRAP302,MySales,Not-Finance,DEALER WEBSITE,Online/CRM,ONLINE/CRM,Appointed Enquiry Cancel,Warm,Individual
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,E201900001TRUP403,DMS,Not-Finance,HAPPINESS CHECK LIST,Referral,REFERRAL,Booking Cancel,Hot,Corporate Company
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,NaN,E201900003TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Booking Cancel,Hot,Individual
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,E201900006TRUP403,DMS,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking Cancel,Hot,Individual
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,NaN,E201900007TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Retail,Hot,Individual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,E202202843TRKA310,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Cold,Individual
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,NaN,E202208509TRKA403,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Enquiry Follow up,Hot,Individual
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,NaN,E202200622TRJH501,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking,Hot,Individual
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,E202206171TRTN403,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Cold,Individual
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,NaN,E202207137TRMH406,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Hot,Individual

In [256]:
after_applyMap_s4_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3457854 entries, 0 to 3457853
Data columns (total 73 columns):
 #   Column                   Dtype
---  ------                   -----
 0   EQRY_DLR_NO              object
 1   EQRY_ENQRY_NO            object
 2   EQRY_CORP_NO             object
 3   EQRY_CMPN_NO             object
 4   EQRY_DATE                object
 5   EQRY_SRC_CODE            object
 6   EQRY_STAT                object
 7   EQRY_TYPE                object
 8   EQRY_FNCE_YN             object
 9   EQRY_FNCER_CODE          object
 10  EQRY_LOAN_AMT            float64
 11  EQRY_TENOR_MNTHS         int64
 12  EQRY_EXCHG_YN            object
 13  EQRY_EXCHG_MODEL_CODE    object
 14  EQRY_EXCHG_SRC_CODE      float64
 15  EQRY_EXPCT_PRICE         float64
 16  EQRY_QUOTD_PRICE         float64
 17  EQRY_CLSE_DATE           object
 18  EQRY_CLSE_TYPE           float64
 19  EQRY_CLSE_RMRKS          object
 20  EQRY_EMP_NO              object
 21  EQRY_CUST_NO             object
 22  EQRY_LISTD_CORP          object
 23  EQRY_CORP_NAME           object
 24  EQRY_RFRL_BY             object
 25  EQRY_CRTE_DTIME          object
 26  EQRY_CRTE_EMP_NO         object
 27  EQRY_UPDT_DTIME          object
 28  EQRY_UPDT_EMP_NO         object
 29  EQRY_EQFU_SEQ            float64
 30  EQRY_UPDT_DATE           float64
 31  EQRY_TEST_DRIVE_YN       object
 32  EQRY_SR_NUM              object
 33  EQRY_SR_TYPE             object
 34  EQRY_FLW_STATUS          object
 35  EQRY_ASSOCIATE_ID        float64
 36  EQRY_RSO_ID              float64
 37  EQRY_FUEL_TYPE           object
 38  EQRY_PRESENT_CAR_YN      object
 39  EQRY_MAKER_CODE          object
 40  EQRY_CUST_BLOCK          object
 41  EQRY_BULK_SALE           object
 42  EQRY_P_MODL_YEAR         float64
 43  EQRY_CLS_VAL             float64
 44  EQRY_INCOM_GROUP         float64
 45  EQRY_ATIVT_NAME_CODE     object
 46  EQRY_NEWCAR_YN           object
 47  EQRY_FCALL_EMP_NO        object
 48  EQRY_CTGR_CODE           int64
 49  EQRY_SUB_SRC_CODE        object
 50  EQRY_CLSE_GRP_TYPE       object
 51  EQRY_CERT_TYPE           float64
 52  EQRY_TDRIVE_RMRKS        object
 53  EQRY_VC_RMRKS            object
 54  EQRY_REQ_TYPE            object
 55  EQRY_SRC_FLG             object
 56  EQRY_SR_NUM_REAL         object
 57  EQRY_ENG_TYP             object
 58  EQRY_TRNSM_TYP           object
 59  SOQ_TAG_YN               object
 60  EQRY_EVAL_YN             object
 61  EQRY_EXCH_DN             object
 62  EQRY_FINAL_BP            float64
 63  EQRY_CAMPGN_NO           object
 64  Key                      object
 65  Enquiry_Source_Type      object
 66  Finance/Not Finance      object
 67  Enquiry_Sub_Source_Name  object
 68  ENSC_GRP_NAME            object
 69  Enquiry_Source           object
 70  Enquiry_Status           object
 71  Enquiry_Type2            object
 72  Enquiry_Category_Type    object
dtypes: float64(14), int64(2), object(57)
memory usage: 1.9+ GB

In [257]:
after_applyMap_s4_5.columns

Index(['EQRY_DLR_NO', 'EQRY_ENQRY_NO', 'EQRY_CORP_NO', 'EQRY_CMPN_NO',
       'EQRY_DATE', 'EQRY_SRC_CODE', 'EQRY_STAT', 'EQRY_TYPE', 'EQRY_FNCE_YN',
       'EQRY_FNCER_CODE', 'EQRY_LOAN_AMT', 'EQRY_TENOR_MNTHS', 'EQRY_EXCHG_YN',
       'EQRY_EXCHG_MODEL_CODE', 'EQRY_EXCHG_SRC_CODE', 'EQRY_EXPCT_PRICE',
       'EQRY_QUOTD_PRICE', 'EQRY_CLSE_DATE', 'EQRY_CLSE_TYPE',
       'EQRY_CLSE_RMRKS', 'EQRY_EMP_NO', 'EQRY_CUST_NO', 'EQRY_LISTD_CORP',
       'EQRY_CORP_NAME', 'EQRY_RFRL_BY', 'EQRY_CRTE_DTIME', 'EQRY_CRTE_EMP_NO',
       'EQRY_UPDT_DTIME', 'EQRY_UPDT_EMP_NO', 'EQRY_EQFU_SEQ',
       'EQRY_UPDT_DATE', 'EQRY_TEST_DRIVE_YN', 'EQRY_SR_NUM', 'EQRY_SR_TYPE',
       'EQRY_FLW_STATUS', 'EQRY_ASSOCIATE_ID', 'EQRY_RSO_ID', 'EQRY_FUEL_TYPE',
       'EQRY_PRESENT_CAR_YN', 'EQRY_MAKER_CODE', 'EQRY_CUST_BLOCK',
       'EQRY_BULK_SALE', 'EQRY_P_MODL_YEAR', 'EQRY_CLS_VAL',
       'EQRY_INCOM_GROUP', 'EQRY_ATIVT_NAME_CODE', 'EQRY_NEWCAR_YN',
       'EQRY_FCALL_EMP_NO', 'EQRY_CTGR_CODE', 'EQRY_SUB_SRC_CODE',
       'EQRY_CLSE_GRP_TYPE', 'EQRY_CERT_TYPE', 'EQRY_TDRIVE_RMRKS',
       'EQRY_VC_RMRKS', 'EQRY_REQ_TYPE', 'EQRY_SRC_FLG', 'EQRY_SR_NUM_REAL',
       'EQRY_ENG_TYP', 'EQRY_TRNSM_TYP', 'SOQ_TAG_YN', 'EQRY_EVAL_YN',
       'EQRY_EXCH_DN', 'EQRY_FINAL_BP', 'EQRY_CAMPGN_NO', 'Key',
       'Enquiry_Source_Type', 'Finance/Not Finance', 'Enquiry_Sub_Source_Name',
       'ENSC_GRP_NAME', 'Enquiry_Source', 'Enquiry_Status', 'Enquiry_Type2',
       'Enquiry_Category_Type'],
      dtype='object')

In [258]:
after_applyMap_s4_5.rename(columns={'EQRY_DLR_NO':'Dealer_No',
                                    'EQRY_ENQRY_NO':'Link_Enquiry_No',
                                    'EQRY_CORP_NO':'Corporation_No',
                                    'EQRY_CMPN_NO':'Company_No',
                                    'EQRY_DATE':'link_date'
                                   }, inplace=True)

In [259]:
list_after_applyMap_s4_5 = ['Dealer_No', 'Link_Enquiry_No', 'Corporation_No', 'Company_No',
       'link_date', 'EQRY_SRC_CODE', 'EQRY_STAT', 'EQRY_TYPE', 'EQRY_FNCE_YN',
       'EQRY_FNCER_CODE', 'EQRY_LOAN_AMT', 'EQRY_TENOR_MNTHS', 'EQRY_EXCHG_YN',
       'EQRY_EXCHG_MODEL_CODE', 'EQRY_EXCHG_SRC_CODE', 'EQRY_EXPCT_PRICE',
       'EQRY_QUOTD_PRICE', 'EQRY_CLSE_DATE', 'EQRY_CLSE_TYPE',
       'EQRY_CLSE_RMRKS', 'EQRY_EMP_NO', 'EQRY_CUST_NO', 'EQRY_LISTD_CORP',
       'EQRY_CORP_NAME', 'EQRY_RFRL_BY', 'EQRY_CRTE_DTIME', 'EQRY_CRTE_EMP_NO',
       'EQRY_UPDT_DTIME', 'EQRY_UPDT_EMP_NO', 'EQRY_EQFU_SEQ',
       'EQRY_UPDT_DATE', 'EQRY_TEST_DRIVE_YN', 'EQRY_SR_NUM', 'EQRY_SR_TYPE',
       'EQRY_FLW_STATUS', 'EQRY_ASSOCIATE_ID', 'EQRY_RSO_ID', 'EQRY_FUEL_TYPE',
       'EQRY_PRESENT_CAR_YN', 'EQRY_MAKER_CODE', 'EQRY_CUST_BLOCK',
       'EQRY_BULK_SALE', 'EQRY_P_MODL_YEAR', 'EQRY_CLS_VAL',
       'EQRY_INCOM_GROUP', 'EQRY_ATIVT_NAME_CODE', 'EQRY_NEWCAR_YN',
       'EQRY_FCALL_EMP_NO', 'EQRY_CTGR_CODE', 'EQRY_SUB_SRC_CODE',
       'EQRY_CLSE_GRP_TYPE', 'EQRY_CERT_TYPE', 'EQRY_TDRIVE_RMRKS',
       'EQRY_VC_RMRKS', 'EQRY_REQ_TYPE', 'EQRY_SRC_FLG', 'EQRY_SR_NUM_REAL',
       'EQRY_ENG_TYP', 'EQRY_TRNSM_TYP', 'SOQ_TAG_YN', 'EQRY_EVAL_YN',
       'EQRY_EXCH_DN', 'EQRY_FINAL_BP', 'EQRY_CAMPGN_NO', 'Key',
       'Enquiry_Source_Type', 'Finance/Not Finance', 'Enquiry_Sub_Source_Name',
       'ENSC_GRP_NAME', 'Enquiry_Source', 'Enquiry_Status', 'Enquiry_Type2',
       'Enquiry_Category_Type']

In [260]:
col_removal_list2 = ['Dealer_No',
 'Link_Enquiry_No',
 'Corporation_No',
 'Company_No',
 'link_date',
 'Key',
 'Enquiry_Source_Type',
 'Finance/Not Finance',
 'EQRY_STAT',
 'Enquiry_Sub_Source_Name',
 'Enquiry_Source',
 'EQRY_SUB_SRC_CODE',
 'Enquiry_Status',
 'EQRY_TYPE',
 'Enquiry_Type2',
 'EQRY_EXCHG_YN',
 'EQRY_EXCHG_MODEL_CODE',
 'EQRY_EXCHG_SRC_CODE',
 'EQRY_CLSE_DATE',
 'EQRY_CLSE_TYPE',
 'EQRY_CLSE_RMRKS',
 'EQRY_EMP_NO',
 'EQRY_CORP_NAME',
 'EQRY_CRTE_DTIME',
 'EQRY_CRTE_EMP_NO',
 'EQRY_UPDT_DTIME',
 'EQRY_EQFU_SEQ',
 'EQRY_UPDT_DATE',
 'EQRY_SR_TYPE',
 'EQRY_FLW_STATUS',
 'EQRY_P_MODL_YEAR',
 'EQRY_FCALL_EMP_NO',
 'EQRY_CTGR_CODE',
 'Enquiry_Category_Type']

In [261]:
# lst3 = [value for value in col_removal_list if value in list_after_applyMap_s4_5]      #performed intersection

In [262]:
a = set(list_after_applyMap_s4_5)
b1 = set(col_removal_list2)

In [263]:
c1 = set(a) ^ set(b1)

In [264]:
c1

{'ENSC_GRP_NAME',
 'EQRY_ASSOCIATE_ID',
 'EQRY_ATIVT_NAME_CODE',
 'EQRY_BULK_SALE',
 'EQRY_CAMPGN_NO',
 'EQRY_CERT_TYPE',
 'EQRY_CLSE_GRP_TYPE',
 'EQRY_CLS_VAL',
 'EQRY_CUST_BLOCK',
 'EQRY_CUST_NO',
 'EQRY_ENG_TYP',
 'EQRY_EVAL_YN',
 'EQRY_EXCH_DN',
 'EQRY_EXPCT_PRICE',
 'EQRY_FINAL_BP',
 'EQRY_FNCER_CODE',
 'EQRY_FNCE_YN',
 'EQRY_FUEL_TYPE',
 'EQRY_INCOM_GROUP',
 'EQRY_LISTD_CORP',
 'EQRY_LOAN_AMT',
 'EQRY_MAKER_CODE',
 'EQRY_NEWCAR_YN',
 'EQRY_PRESENT_CAR_YN',
 'EQRY_QUOTD_PRICE',
 'EQRY_REQ_TYPE',
 'EQRY_RFRL_BY',
 'EQRY_RSO_ID',
 'EQRY_SRC_CODE',
 'EQRY_SRC_FLG',
 'EQRY_SR_NUM',
 'EQRY_SR_NUM_REAL',
 'EQRY_TDRIVE_RMRKS',
 'EQRY_TENOR_MNTHS',
 'EQRY_TEST_DRIVE_YN',
 'EQRY_TRNSM_TYP',
 'EQRY_UPDT_EMP_NO',
 'EQRY_VC_RMRKS',
 'SOQ_TAG_YN'}

In [265]:
len(a)

73

In [266]:
# after_applyMap_s4_5.drop(['ENSC_GRP_NAME',
#  'EQRY_ASSOCIATE_ID',
#  'EQRY_ATIVT_NAME_CODE',
#  'EQRY_BULK_SALE',
#  'EQRY_CAMPGN_NO',
#  'EQRY_CERT_TYPE',
#  'EQRY_CLSE_GRP_TYPE',
#  'EQRY_CLS_VAL',
#  'EQRY_CUST_BLOCK',
#  'EQRY_CUST_NO',
#  'EQRY_ENG_TYP',
#  'EQRY_EVAL_YN',
#  'EQRY_EXCH_DN',
#  'EQRY_EXPCT_PRICE',
#  'EQRY_FINAL_BP',
#  'EQRY_FNCER_CODE',
#  'EQRY_FNCE_YN',
#  'EQRY_FUEL_TYPE',
#  'EQRY_INCOM_GROUP',
#  'EQRY_LISTD_CORP',
#  'EQRY_LOAN_AMT',
#  'EQRY_MAKER_CODE',
#  'EQRY_NEWCAR_YN',
#  'EQRY_PRESENT_CAR_YN',
#  'EQRY_QUOTD_PRICE',
#  'EQRY_REQ_TYPE',
#  'EQRY_RFRL_BY',
#  'EQRY_RSO_ID',
#  'EQRY_SRC_CODE',
#  'EQRY_SRC_FLG',
#  'EQRY_SR_NUM',
#  'EQRY_SR_NUM_REAL',
#  'EQRY_TDRIVE_RMRKS',
#  'EQRY_TENOR_MNTHS',
#  'EQRY_TEST_DRIVE_YN',
#  'EQRY_TRNSM_TYP',
#  'EQRY_UPDT_EMP_NO',
#  'EQRY_VC_RMRKS',
#  'SOQ_TAG_YN'], axis=1, inplace = True)

In [267]:
# Here while dropping cloumns, I was getting memory error so I decided to drop few rows and then apply the drop()

In [268]:
# stage3 = stage3[0:50000]
after_applyMap_s4_5.shape

(3457854, 73)

In [269]:
after_applyMap_s4_5 = after_applyMap_s4_5[0:500000]

In [270]:
after_applyMap_s4_5.drop(['ENSC_GRP_NAME',
 'EQRY_ASSOCIATE_ID',
 'EQRY_ATIVT_NAME_CODE',
 'EQRY_BULK_SALE',
 'EQRY_CAMPGN_NO',
 'EQRY_CERT_TYPE',
 'EQRY_CLSE_GRP_TYPE',
 'EQRY_CLS_VAL',
 'EQRY_CUST_BLOCK',
 'EQRY_CUST_NO',
 'EQRY_ENG_TYP',
 'EQRY_EVAL_YN',
 'EQRY_EXCH_DN',
 'EQRY_EXPCT_PRICE',
 'EQRY_FINAL_BP',
 'EQRY_FNCER_CODE',
 'EQRY_FNCE_YN',
 'EQRY_FUEL_TYPE',
 'EQRY_INCOM_GROUP',
 'EQRY_LISTD_CORP',
 'EQRY_LOAN_AMT',
 'EQRY_MAKER_CODE',
 'EQRY_NEWCAR_YN',
 'EQRY_PRESENT_CAR_YN',
 'EQRY_QUOTD_PRICE',
 'EQRY_REQ_TYPE',
 'EQRY_RFRL_BY',
 'EQRY_RSO_ID',
 'EQRY_SRC_CODE',
 'EQRY_SRC_FLG',
 'EQRY_SR_NUM',
 'EQRY_SR_NUM_REAL',
 'EQRY_TDRIVE_RMRKS',
 'EQRY_TENOR_MNTHS',
 'EQRY_TEST_DRIVE_YN',
 'EQRY_TRNSM_TYP',
 'EQRY_UPDT_EMP_NO',
 'EQRY_VC_RMRKS',
 'SOQ_TAG_YN'], axis=1, inplace = True)

C:\Users\15442\AppData\Local\Temp\ipykernel_12500\1307550641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after_applyMap_s4_5.drop(['ENSC_GRP_NAME',

In [271]:
after_applyMap_s4_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 500000 entries, 0 to 499999
Data columns (total 34 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Dealer_No                500000 non-null  object
 1   Link_Enquiry_No          500000 non-null  object
 2   Corporation_No           500000 non-null  object
 3   Company_No               500000 non-null  object
 4   link_date                500000 non-null  object
 5   EQRY_STAT                500000 non-null  object
 6   EQRY_TYPE                500000 non-null  object
 7   EQRY_EXCHG_YN            205501 non-null  object
 8   EQRY_EXCHG_MODEL_CODE    10878 non-null   object
 9   EQRY_EXCHG_SRC_CODE      407 non-null     float64
 10  EQRY_CLSE_DATE           438579 non-null  object
 11  EQRY_CLSE_TYPE           390562 non-null  float64
 12  EQRY_CLSE_RMRKS          348627 non-null  object
 13  EQRY_EMP_NO              493375 non-null  object
 14  EQRY_CORP_NAME           374 non-null     object
 15  EQRY_CRTE_DTIME          500000 non-null  object
 16  EQRY_CRTE_EMP_NO         500000 non-null  object
 17  EQRY_UPDT_DTIME          500000 non-null  object
 18  EQRY_EQFU_SEQ            475212 non-null  float64
 19  EQRY_UPDT_DATE           0 non-null       float64
 20  EQRY_SR_TYPE             61283 non-null   object
 21  EQRY_FLW_STATUS          61283 non-null   object
 22  EQRY_P_MODL_YEAR         10627 non-null   float64
 23  EQRY_FCALL_EMP_NO        246809 non-null  object
 24  EQRY_CTGR_CODE           500000 non-null  int64
 25  EQRY_SUB_SRC_CODE        500000 non-null  object
 26  Key                      500000 non-null  object
 27  Enquiry_Source_Type      500000 non-null  object
 28  Finance/Not Finance      500000 non-null  object
 29  Enquiry_Sub_Source_Name  500000 non-null  object
 30  Enquiry_Source           500000 non-null  object
 31  Enquiry_Status           500000 non-null  object
 32  Enquiry_Type2            500000 non-null  object
 33  Enquiry_Category_Type    499587 non-null  object
dtypes: float64(5), int64(1), object(28)
memory usage: 133.5+ MB

In [272]:
join1.shape

(8520934, 51)

In [273]:
join1 = join1[0:25000]

In [274]:
after_applyMap_s4_5.shape

(500000, 34)

In [275]:
after_applyMap_s4_5 = after_applyMap_s4_5[0:25000]

In [276]:
join2 = join1.merge(
    after_applyMap_s4_5, 
    how="left", 
    on=["Dealer_No"]
)

In [277]:
join2.shape

(900170, 84)

In [278]:
join2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 900170 entries, 0 to 900169
Data columns (total 84 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Dealer_Booking            900170 non-null  object
 1   Dealer_No                 900170 non-null  object
 2   Booking_No                900170 non-null  object
 3   Corporation_No_x          900170 non-null  object
 4   Company_No_x              900170 non-null  object
 5   Link_Date                 900170 non-null  object
 6   Model_Code                900170 non-null  object
 7   TRIM_Code                 900170 non-null  float64
 8   Ext.Colour_Code           900170 non-null  object
 9   BKNG_EXPCT_DLVRY_DATE     20901 non-null   float64
 10  BKNG_VRNT_PRICE           663534 non-null  float64
 11  Booking_Amt               900170 non-null  int32
 12  BKNG_RCPT_TOTAL_AMT       386863 non-null  float64
 13  BKNG_ALCN_DATE            388657 non-null  object
 14  BKNG_FNCE_TYPE            773611 non-null  float64
 15  BKNG_DSA_NAME             463 non-null     object
 16  BKNG_DO_AMT               1 non-null       float64
 17  BKNG_CNCL_DATE            0 non-null       float64
 18  Link_Enquiry_No_x         900170 non-null  object
 19  BKNG_EMP_NO               0 non-null       object
 20  Customer_No               0 non-null       object
 21  BKNG_CRTE_DTIME           900170 non-null  object
 22  BKNG_CRTE_EMP_NO          900170 non-null  object
 23  BKNG_UPDT_DTIME           900170 non-null  object
 24  BKNG_CMTD_DLVRY_DATE      20786 non-null   object
 25  BKNG_SALE_TYPE            402550 non-null  float64
 26  Int.Colour_Code           900170 non-null  object
 27  BKNG_BILL_TO_STATE        28469 non-null   object
 28  BKNG_BILL_TO_CITY         28468 non-null   object
 29  BKNG_BILL_TO_TEHSIL       28404 non-null   object
 30  BKNG_BILL_TO_VILLAGE      178 non-null     object
 31  BKNG_RMRKS                0 non-null       object
 32  BKNG_SRC_FLG              900170 non-null  object
 33  Booking_Source_Type       900170 non-null  object
 34  Booking_Source            900170 non-null  object
 35  MOB_EMAIL_DATE            1009 non-null    object
 36  DMS_EMAIL_DATE            24245 non-null   object
 37  Booking_Date              900170 non-null  object
 38  Booking_Status            900170 non-null  object
 39  TEAM_LEADER               893934 non-null  object
 40  Team_leader_Joining_Date  532332 non-null  object
 41  Team_leader_Leave_Date    0 non-null       object
 42  KEC_Short_Code            893934 non-null  object
 43  KEC_NAME                  885909 non-null  object
 44  KEC_Long_Code             893934 non-null  object
 45  KEC_Join_Date             885909 non-null  object
 46  KEC_Leave_Date            107892 non-null  object
 47  Link_Enquiry_No_y         893934 non-null  object
 48  Team_Leader_Code          893934 non-null  object
 49  Active/Inactive           893934 non-null  object
 50  KEC                       885909 non-null  object
 51  Link_Enquiry_No           893934 non-null  object
 52  Corporation_No_y          893934 non-null  object
 53  Company_No_y              893934 non-null  object
 54  link_date                 893934 non-null  object
 55  EQRY_STAT                 893934 non-null  object
 56  EQRY_TYPE                 893934 non-null  object
 57  EQRY_EXCHG_YN             356984 non-null  object
 58  EQRY_EXCHG_MODEL_CODE     0 non-null       object
 59  EQRY_EXCHG_SRC_CODE       0 non-null       float64
 60  EQRY_CLSE_DATE            582503 non-null  object
 61  EQRY_CLSE_TYPE            561025 non-null  float64
 62  EQRY_CLSE_RMRKS           437585 non-null  object
 63  EQRY_EMP_NO               893934 non-null  object
 64  EQRY_CORP_NAME            0 non-null       object
 65  EQRY_CRTE_DTIME           893934 non-null  object
 66  EQRY_CRTE_EMP_NO          893934 non-null  object
 67  EQRY_UPDT_DTIME           893934 non-null  object
 68  EQRY_EQFU_SEQ             561025 non-null  float64
 69  EQRY_UPDT_DATE            0 non-null       float64
 70  EQRY_SR_TYPE              332909 non-null  object
 71  EQRY_FLW_STATUS           332909 non-null  object
 72  EQRY_P_MODL_YEAR          0 non-null       float64
 73  EQRY_FCALL_EMP_NO         440299 non-null  object
 74  EQRY_CTGR_CODE            893934 non-null  float64
 75  EQRY_SUB_SRC_CODE         893934 non-null  object
 76  Key                       893934 non-null  object
 77  Enquiry_Source_Type       893934 non-null  object
 78  Finance/Not Finance       893934 non-null  object
 79  Enquiry_Sub_Source_Name   893934 non-null  object
 80  Enquiry_Source            893934 non-null  object
 81  Enquiry_Status            893934 non-null  object
 82  Enquiry_Type2             893934 non-null  object
 83  Enquiry_Category_Type     893934 non-null  object
dtypes: float64(14), int32(1), object(69)
memory usage: 580.3+ MB

In [279]:
# ------------------------------------------
# STAGE 5
# ------------------------------------------

In [280]:
stage5_df = pd.read_csv("C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_CRM_SCEQCR_TB.csv")

In [281]:
stage5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614260 entries, 0 to 1614259
Data columns (total 19 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   EQCR_DLR_NO          1614260 non-null  object
 1   EQCR_ENQRY_NO        1614260 non-null  object
 2   EQCR_SEQ             1614260 non-null  int64
 3   EQCR_CORP_NO         1614260 non-null  object
 4   EQCR_CMPN_NO         1614260 non-null  object
 5   EQCR_MODEL_CODE      1614259 non-null  object
 6   EQCR_VRNT_CODE       1440534 non-null  float64
 7   EQCR_COLOR_CODE      1394445 non-null  object
 8   EQCR_QTY             1614260 non-null  int64
 9   EQCR_CRTE_DTIME      1614260 non-null  object
 10  EQCR_CRTE_EMP_NO     1614260 non-null  object
 11  EQCR_UPDT_DTIME      1614260 non-null  object
 12  EQCR_UPDT_EMP_NO     1614260 non-null  object
 13  EQCR_INTCOLOR_CODE   1236663 non-null  object
 14  EQCR_MAKER_CODE      288139 non-null   object
 15  EQCR_INT_COLOR_CODE  1352046 non-null  object
 16  EQCR_QUOTED_PRICE    311009 non-null   float64
 17  EQCR_EXPECTED_PRICE  179573 non-null   float64
 18  EQCR_FUEL_TYPE       1612581 non-null  object
dtypes: float64(3), int64(2), object(14)
memory usage: 234.0+ MB

In [282]:
stage5_df.shape

(1614260, 19)

In [283]:
stage5_df.columns

Index(['EQCR_DLR_NO', 'EQCR_ENQRY_NO', 'EQCR_SEQ', 'EQCR_CORP_NO',
       'EQCR_CMPN_NO', 'EQCR_MODEL_CODE', 'EQCR_VRNT_CODE', 'EQCR_COLOR_CODE',
       'EQCR_QTY', 'EQCR_CRTE_DTIME', 'EQCR_CRTE_EMP_NO', 'EQCR_UPDT_DTIME',
       'EQCR_UPDT_EMP_NO', 'EQCR_INTCOLOR_CODE', 'EQCR_MAKER_CODE',
       'EQCR_INT_COLOR_CODE', 'EQCR_QUOTED_PRICE', 'EQCR_EXPECTED_PRICE',
       'EQCR_FUEL_TYPE'],
      dtype='object')

In [284]:
stage5_df_list1 = ['EQCR_DLR_NO',
 'EQCR_ENQRY_NO',
 'EQCR_SEQ',
 'EQCR_CORP_NO',
 'EQCR_CMPN_NO',
 'EQCR_QTY',
 'EQCR_QUOTED_PRICE',
 'EQCR_EXPECTED_PRICE']

In [285]:
stage5_df_list = []
for i in stage5_df:
    stage5_df_list.append(i)

In [286]:
stage5_df_list

['EQCR_DLR_NO',
 'EQCR_ENQRY_NO',
 'EQCR_SEQ',
 'EQCR_CORP_NO',
 'EQCR_CMPN_NO',
 'EQCR_MODEL_CODE',
 'EQCR_VRNT_CODE',
 'EQCR_COLOR_CODE',
 'EQCR_QTY',
 'EQCR_CRTE_DTIME',
 'EQCR_CRTE_EMP_NO',
 'EQCR_UPDT_DTIME',
 'EQCR_UPDT_EMP_NO',
 'EQCR_INTCOLOR_CODE',
 'EQCR_MAKER_CODE',
 'EQCR_INT_COLOR_CODE',
 'EQCR_QUOTED_PRICE',
 'EQCR_EXPECTED_PRICE',
 'EQCR_FUEL_TYPE']

In [287]:
stage5_df_list3 = []
for i in stage5_df_list:
    if i not in stage5_df_list1:
        stage5_df_list3.append(i)

In [288]:
stage5_df_list3

['EQCR_MODEL_CODE',
 'EQCR_VRNT_CODE',
 'EQCR_COLOR_CODE',
 'EQCR_CRTE_DTIME',
 'EQCR_CRTE_EMP_NO',
 'EQCR_UPDT_DTIME',
 'EQCR_UPDT_EMP_NO',
 'EQCR_INTCOLOR_CODE',
 'EQCR_MAKER_CODE',
 'EQCR_INT_COLOR_CODE',
 'EQCR_FUEL_TYPE']

In [289]:
stage5_df.drop(['EQCR_MODEL_CODE',
 'EQCR_VRNT_CODE',
 'EQCR_COLOR_CODE',
 'EQCR_CRTE_DTIME',
 'EQCR_CRTE_EMP_NO',
 'EQCR_UPDT_DTIME',
 'EQCR_UPDT_EMP_NO',
 'EQCR_INTCOLOR_CODE',
 'EQCR_MAKER_CODE',
 'EQCR_INT_COLOR_CODE',
 'EQCR_FUEL_TYPE'], axis=1, inplace = True)

In [290]:
stage5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614260 entries, 0 to 1614259
Data columns (total 8 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   EQCR_DLR_NO          1614260 non-null  object
 1   EQCR_ENQRY_NO        1614260 non-null  object
 2   EQCR_SEQ             1614260 non-null  int64
 3   EQCR_CORP_NO         1614260 non-null  object
 4   EQCR_CMPN_NO         1614260 non-null  object
 5   EQCR_QTY             1614260 non-null  int64
 6   EQCR_QUOTED_PRICE    311009 non-null   float64
 7   EQCR_EXPECTED_PRICE  179573 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 98.5+ MB

In [291]:
column_indices = [0,
 1,
 2,
 3,
 4,
 5,
 6,
 7]
new_names = ['Dealer_No',
 'Link_Enquiry_No',
 'EQCR_SEQ',
 'Corporation_No',
 'Company_No',
 'Booking_Qty1',
 'EQCR_QUOTED_PRICE',
 'EQCR_EXPECTED_PRICE']
old_names = stage5_df.columns[column_indices]
stage5_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

In [292]:
stage5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614260 entries, 0 to 1614259
Data columns (total 8 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Dealer_No            1614260 non-null  object
 1   Link_Enquiry_No      1614260 non-null  object
 2   EQCR_SEQ             1614260 non-null  int64
 3   Corporation_No       1614260 non-null  object
 4   Company_No           1614260 non-null  object
 5   Booking_Qty1         1614260 non-null  int64
 6   EQCR_QUOTED_PRICE    311009 non-null   float64
 7   EQCR_EXPECTED_PRICE  179573 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 98.5+ MB

In [293]:
stage5_df.shape

(1614260, 8)

In [294]:
join2 = join2[0:25000]

In [295]:
join2.shape

(25000, 84)

In [296]:
stage5_df = stage5_df[0:25000]

In [297]:
stage5_df.shape

(25000, 8)

In [298]:
stage5_join = join2.merge(
    stage5_df, 
    how="left", 
    on=["Dealer_No"]
)

C:\Users\15442\AppData\Local\Temp\ipykernel_12500\1758837981.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Link_Enquiry_No_x'} in the result is deprecated and will raise a MergeError in a future version.
  stage5_join = join2.merge(

In [299]:
# ------------------------------------------
# STAGE 6
# ------------------------------------------

In [300]:
stage6_df = pd.read_csv("C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_SAL_SWINVC_TB.csv")

C:\Users\15442\AppData\Local\Temp\ipykernel_12500\4079049289.py:1: DtypeWarning: Columns (24,25,26,44,45,53) have mixed types. Specify dtype option on import or set low_memory=False.
  stage6_df = pd.read_csv("C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_SAL_SWINVC_TB.csv")

MemoryError: Unable to allocate 174. MiB for an array with shape (24, 951070) and data type float64

In [ ]:
stage6_df.info()

In [ ]:
stage6_df['Delivery_Date'] = pd.to_datetime(stage6_df['INVC_DLVRY_DATE'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [ ]:
stage6_df['Delivery_Date']

In [ ]:
import numpy as np

In [ ]:
stage6_df["INVC_BASIC_PRCE"] = stage6_df["INVC_BASIC_PRCE"].fillna(0)

In [ ]:
stage6_df["INVC_BASIC_PRCE"] = stage6_df["INVC_BASIC_PRCE"].apply(np.int64)

In [ ]:
stage6_df["INVC_BASIC_PRCE"]

In [ ]:
stage6_df["INVC_BASIC_PRCE"] = stage6_df["INVC_BASIC_PRCE"].astype(str)

In [ ]:
stage6_df['INVC_BASIC_PRCE'] = stage6_df['INVC_BASIC_PRCE'].str.slice(3, 5)

In [ ]:
stage6_df['INVC_BASIC_PRCE'] = pd.to_numeric(stage6_df['INVC_BASIC_PRCE'])

In [ ]:
stage6_df["INVC_BASIC_PRCE"] = stage6_df["INVC_BASIC_PRCE"].fillna(0)

In [ ]:
stage6_df["INVC_BASIC_PRCE"] = stage6_df["INVC_BASIC_PRCE"].apply(np.int64)

In [ ]:
stage6_df["INVC_BASIC_PRCE"]

In [ ]:
import datetime

In [ ]:
from time import strftime

In [ ]:
stage6_df['INVC_CNFM_DATE']

In [ ]:
stage6_df['INVC_CNFM_DATE'] =  pd.to_datetime(stage6_df['INVC_CNFM_DATE']).dt.date.astype("datetime64[ns]")

In [ ]:
stage6_df['Invoice_Cofirmation_Date'] = pd.to_datetime(stage6_df['INVC_CNFM_DATE'])

In [ ]:
stage6_df['Invoice_Cofirmation_Date'] = pd.to_datetime(stage6_df['INVC_CNFM_DATE'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [ ]:
stage6_df['INVC_CNFM_DATE']

In [ ]:
stage6_df.info()

In [ ]:
stage6_df.drop(['INVC_VIN_NO','INVC_MYKIA','INVC_MYKIA_REG_DATE','INVC_MK_VINLINK_DT'], axis=1, inplace = True)

In [ ]:
stage6_df.shape

In [ ]:
stage6_df = stage6_df.rename(columns={"INVC_DLR_NO":"Dealer_No","INVC_NO":"Invoice_No","INVC_CORP_NO":"Corporation_No","INVC_CMPN_NO":" Company_No",
                      "INVC_DATE":"Invoice_Date","INVC_ENQRY_NO":"Link_Enquiry_No","INVC_BKNG_NO":"Booking_No","INVC_REGI_CUST_NO":"Customer_No" })

In [ ]:
stage6_df.info()

In [ ]:
stage6_df.shape

In [ ]:
stage6_df = stage6_df[0:25000]

In [ ]:
stage6_df.shape

In [ ]:
stage5_join.shape

In [ ]:
stage5_join = stage5_join[0:25000]

In [ ]:
final = stage5_join.merge(
    stage6_df, 
    how="left", 
    on=["Dealer_No"]
)

In [ ]:
final.shape

In [ ]:
final.info(verbose = True)

In [ ]:
rename_listf = ['Dealer_No',
 'Customer_No',
 'BKNG_EMP_NO',
 'Booking_Source_Type',
 'Booking_Source',
 'TEAM_LEADER',
 'Team_Leader_Name',
 'Team_Leader_Code',
 'Enquiry source type',
 'Enquiry_Sub_Source_Name',
 'Enquiry_Source',
 'EQRY_TYPE',
 'EQRY_EMP_NO',
 'Enquiry_Category_Type',
 'Invoice_Type Name',
 'Booking_No',
 'Enquiry_No',
 'Booking Amt',
 'Invoice_No',
 'BKNG_CRTE_DTIME',
 'Team_leader_Leave_Date',
 'KEC_Join_Date',
 'KEC_Leave_Date',
 'Team_leader_Joining_Date',
 'Link_Date',
 'EQRY_CRTE_DTIME',
 'Invoice_Date',
 'Delivery_Date',
 'Active/Inactive',
 'Enquiry_Status',
 'Company No',
 'Flag']