In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\15442\appdata\roaming\python\python310\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\15442\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\1st Table\\Stage1_Sales_SAL_SOBKNG_TB(m).csv')

C:\Users\15442\AppData\Local\Temp\ipykernel_14276\661781421.py:1: DtypeWarning: Columns (18,31) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\1st Table\\Stage1_Sales_SAL_SOBKNG_TB(m).csv')

In [4]:
df2 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\1st Table\\MOB_Docket_Date(m).csv')

In [5]:
df1.shape

(953389, 35)

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953389 entries, 0 to 953388
Data columns (total 35 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Dealer_No              953388 non-null  object
 1   Booking_No             953388 non-null  object
 2   Corporation_No         953388 non-null  object
 3   Company_No             953388 non-null  object
 4   BKNG_DATE              953388 non-null  object
 5   Model_Code             953388 non-null  object
 6   TRIM_Code              953388 non-null  float64
 7   Ext.Colour_Code        953387 non-null  object
 8   BKNG_EXPCT_DLVRY_DATE  167443 non-null  float64
 9   BKNG_VRNT_PRICE        942063 non-null  float64
 10  Booking_Amt            953389 non-null  int64
 11  BKNG_RCPT_TOTAL_AMT    906449 non-null  float64
 12  BKNG_ALCN_DATE         507786 non-null  object
 13  BKNG_FNCE_TYPE         943447 non-null  float64
 14  BKNG_DSA_NAME          6473 non-null    object
 15  BKNG_DO_AMT            26839 non-null   float64
 16  BKNG_CNCL_DATE         1906 non-null    float64
 17  Link_Enquiry_No        953388 non-null  object
 18  BKNG_EMP_NO            1 non-null       object
 19  Customer_No            0 non-null       float64
 20  BKNG_CRTE_DTIME        953388 non-null  object
 21  BKNG_CRTE_EMP_NO       953388 non-null  object
 22  BKNG_UPDT_DTIME        953388 non-null  object
 23  BKNG_CMTD_DLVRY_DATE   170220 non-null  object
 24  BKNG_SALE_TYPE         518116 non-null  float64
 25  Int.Colour_Code        953378 non-null  object
 26  BKNG_BILL_TO_STATE     110381 non-null  object
 27  BKNG_BILL_TO_CITY      110365 non-null  object
 28  BKNG_BILL_TO_TEHSIL    104185 non-null  object
 29  BKNG_BILL_TO_VILLAGE   16487 non-null   object
 30  BKNG_RMRKS             6641 non-null    object
 31  BKNG_SRC_FLG           555044 non-null  object
 32  Booking_Source_Type    953389 non-null  object
 33  Booking_Source         953389 non-null  object
 34  Dealer_Booking         953387 non-null  object
dtypes: float64(9), int64(1), object(25)
memory usage: 254.6+ MB

In [7]:
df2.shape

(953461, 3)

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MOB_EMAIL_DATE  256450 non-null  object
 1   DMS_EMAIL_DATE  429549 non-null  object
 2   Dealer_Booking  953460 non-null  object
dtypes: object(3)
memory usage: 21.8+ MB

In [9]:
df3 = df2.copy()

In [10]:
df3.drop(['DMS_EMAIL_DATE'], axis=1, inplace = True)

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MOB_EMAIL_DATE  256450 non-null  object
 1   Dealer_Booking  953460 non-null  object
dtypes: object(2)
memory usage: 14.5+ MB

In [12]:
df3

             MOB_EMAIL_DATE     Dealer_Booking
0                       NaN  TRUP403B201900001
1                       NaN  TRUP403B201900009
2                       NaN  TRUP403B201900044
3       2020-11-09 12:07:00  TRUP403B202002961
4                       NaN  TRUP403B201900011
...                     ...                ...
953456  2022-06-08 17:17:00  TRHP501B202201066
953457                  NaN  TRMH502B202201296
953458  2022-06-08 16:22:00  TRMH404B202204636
953459                  NaN  TRKA304B202208511
953460                  NaN  TRJH501B202200585

[953461 rows x 2 columns]

In [13]:
# https://stackoverflow.com/questions/26258996/can-one-perform-a-left-join-in-pandas-that-selects-only-the-first-match-on-the-r

df4 = pd.merge(df1, df3, how='left', on=['Dealer_Booking']).groupby(['Dealer_Booking']).first().reset_index()
# appMap1= df4.groupby(['Dealer_Booking'])['MOB_EMAIL_DATE'].first().reset_index()
# appMap1

In [14]:
df4.head()

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,BKNG_DATE,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,Int.Colour_Code,BKNG_BILL_TO_STATE,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE
0,TRAP301B201900001,TRAP301,B201900001,A10VA,K,2019-08-14,TI,2.0,GWP,NaN,...,WK,None,None,None,None,None,None,DMS,NAN,None
1,TRAP301B201900002,TRAP301,B201900002,A10VA,K,2019-08-16,TI,7.0,GWP,NaN,...,GYT,None,None,None,None,None,None,DMS,NAN,None
2,TRAP301B201900003,TRAP301,B201900003,A10VA,K,2019-08-16,TI,4.0,GWP,NaN,...,WK,None,None,None,None,None,None,DMS,NAN,None
3,TRAP301B201900004,TRAP301,B201900004,A10VA,K,2019-08-16,TI,4.0,KDG,NaN,...,GYT,None,None,None,None,None,None,DMS,NAN,None
4,TRAP301B201900005,TRAP301,B201900005,A10VA,K,2019-08-16,TI,15.0,A6R,NaN,...,WK,None,None,None,None,None,None,DMS,NAN,None

In [15]:
df4.shape

(953387, 36)

In [16]:
result = df4[df4['Dealer_Booking']=='TRUP304B202102356']

In [17]:
result

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,BKNG_DATE,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,Int.Colour_Code,BKNG_BILL_TO_STATE,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE
876429,TRUP304B202102356,TRUP304,B202102356,A10VA,K,2021-03-31,TI,294.0,GB2,NaN,...,WK,None,None,None,None,None,None,DMS,NAN,2021-03-31 12:28:00

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   MOB_EMAIL_DATE  256450 non-null  object
 1   DMS_EMAIL_DATE  429549 non-null  object
 2   Dealer_Booking  953460 non-null  object
dtypes: object(3)
memory usage: 21.8+ MB

In [19]:
df5 = df2.copy()

In [20]:
df5.drop(['MOB_EMAIL_DATE'], axis=1, inplace = True)

In [21]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953461 entries, 0 to 953460
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DMS_EMAIL_DATE  429549 non-null  object
 1   Dealer_Booking  953460 non-null  object
dtypes: object(2)
memory usage: 14.5+ MB

In [22]:
df5

             DMS_EMAIL_DATE     Dealer_Booking
0                       NaN  TRUP403B201900001
1                       NaN  TRUP403B201900009
2                       NaN  TRUP403B201900044
3                       NaN  TRUP403B202002961
4                       NaN  TRUP403B201900011
...                     ...                ...
953456                  NaN  TRHP501B202201066
953457  2022-06-08 18:12:00  TRMH502B202201296
953458  2022-06-08 16:16:00  TRMH404B202204636
953459                  NaN  TRKA304B202208511
953460                  NaN  TRJH501B202200585

[953461 rows x 2 columns]

In [23]:
df6 = pd.merge(df4, df5, how='left', on=['Dealer_Booking']).groupby(['Dealer_Booking']).first().reset_index()

In [24]:
df6.head()

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,BKNG_DATE,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_STATE,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE
0,TRAP301B201900001,TRAP301,B201900001,A10VA,K,2019-08-14,TI,2.0,GWP,NaN,...,None,None,None,None,None,None,DMS,NAN,None,None
1,TRAP301B201900002,TRAP301,B201900002,A10VA,K,2019-08-16,TI,7.0,GWP,NaN,...,None,None,None,None,None,None,DMS,NAN,None,None
2,TRAP301B201900003,TRAP301,B201900003,A10VA,K,2019-08-16,TI,4.0,GWP,NaN,...,None,None,None,None,None,None,DMS,NAN,None,None
3,TRAP301B201900004,TRAP301,B201900004,A10VA,K,2019-08-16,TI,4.0,KDG,NaN,...,None,None,None,None,None,None,DMS,NAN,None,None
4,TRAP301B201900005,TRAP301,B201900005,A10VA,K,2019-08-16,TI,15.0,A6R,NaN,...,None,None,None,None,None,None,DMS,NAN,None,None

In [25]:
df6.shape

(953387, 37)

In [26]:
result1 = df6[df6['Dealer_Booking']=='TRTN102B202103016']

In [27]:
result1

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,BKNG_DATE,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_STATE,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE
723911,TRTN102B202103016,TRTN102,B202103016,A10VA,K,2021-10-25,SX,372.0,GWP,NaN,...,None,None,None,None,None,MOB,MySales,MOBILE,2021-10-27 14:17:00,2022-01-13 11:34:00

In [28]:
df6['Date'] = pd.to_datetime(df6['BKNG_DATE'], format='%Y-%m-%d').dt.strftime('%d/%m/%Y')

In [29]:
df6['Date']

0         14/08/2019
1         16/08/2019
2         16/08/2019
3         16/08/2019
4         16/08/2019
             ...
953382    15/07/2022
953383    15/07/2022
953384    18/07/2022
953385    25/07/2022
953386    05/08/2022
Name: Date, Length: 953387, dtype: object

In [34]:
df6

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,Link_Date,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_CITY,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE,Booking_Date
0,TRAP301B201900001,TRAP301,B201900001,A10VA,K,2019-08-14,TI,2.0,GWP,NaN,...,None,None,None,None,None,DMS,NAN,None,None,14/08/2019
1,TRAP301B201900002,TRAP301,B201900002,A10VA,K,2019-08-16,TI,7.0,GWP,NaN,...,None,None,None,None,None,DMS,NAN,None,None,16/08/2019
2,TRAP301B201900003,TRAP301,B201900003,A10VA,K,2019-08-16,TI,4.0,GWP,NaN,...,None,None,None,None,None,DMS,NAN,None,None,16/08/2019
3,TRAP301B201900004,TRAP301,B201900004,A10VA,K,2019-08-16,TI,4.0,KDG,NaN,...,None,None,None,None,None,DMS,NAN,None,None,16/08/2019
4,TRAP301B201900005,TRAP301,B201900005,A10VA,K,2019-08-16,TI,15.0,A6R,NaN,...,None,None,None,None,None,DMS,NAN,None,None,16/08/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953382,TRWB501B202200105,TRWB501,B202200105,A10VA,K,2022-07-15,TI,391.0,GWP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:58:00,15/07/2022
953383,TRWB501B202200106,TRWB501,B202200106,A10VA,K,2022-07-15,TY,354.0,GWP,NaN,...,SINGTAM,Singtam,None,None,None,DMS,NAN,None,2022-07-18 17:44:00,15/07/2022
953384,TRWB501B202200107,TRWB501,B202200107,A10VA,K,2022-07-18,TY,350.0,ABP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-18 17:42:00,18/07/2022
953385,TRWB501B202200108,TRWB501,B202200108,A10VA,K,2022-07-25,TI,8.0,KCS,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:59:00,25/07/2022
953386,TRWB501B202200109,TRWB501,B202200109,A10VA,K,2022-08-05,SX,282.0,ABP,NaN,...,None,None,None,None,MOB,MySales,MOBILE,None,None,05/08/2022

In [31]:
df6.rename(columns = {'Date':'Booking_Date'}, inplace = True)

In [33]:
df6.rename(columns = {'BKNG_DATE':'Link_Date'}, inplace = True)

In [35]:
df6['Booking_Amt']

0         25000
1             0
2             0
3             0
4             0
          ...
953382        0
953383        0
953384        0
953385        0
953386        0
Name: Booking_Amt, Length: 953387, dtype: int64

In [36]:
df6['Booking_Status'] = df6['Booking_Amt'].apply(lambda x: 'Without Payment' if x == 0 else 'Payment')

In [38]:
df6

,Dealer_Booking,Dealer_No,Booking_No,Corporation_No,Company_No,Link_Date,Model_Code,TRIM_Code,Ext.Colour_Code,BKNG_EXPCT_DLVRY_DATE,...,BKNG_BILL_TO_TEHSIL,BKNG_BILL_TO_VILLAGE,BKNG_RMRKS,BKNG_SRC_FLG,Booking_Source_Type,Booking_Source,MOB_EMAIL_DATE,DMS_EMAIL_DATE,Booking_Date,Booking_Status
0,TRAP301B201900001,TRAP301,B201900001,A10VA,K,2019-08-14,TI,2.0,GWP,NaN,...,None,None,None,None,DMS,NAN,None,None,14/08/2019,Payment
1,TRAP301B201900002,TRAP301,B201900002,A10VA,K,2019-08-16,TI,7.0,GWP,NaN,...,None,None,None,None,DMS,NAN,None,None,16/08/2019,Without Payment
2,TRAP301B201900003,TRAP301,B201900003,A10VA,K,2019-08-16,TI,4.0,GWP,NaN,...,None,None,None,None,DMS,NAN,None,None,16/08/2019,Without Payment
3,TRAP301B201900004,TRAP301,B201900004,A10VA,K,2019-08-16,TI,4.0,KDG,NaN,...,None,None,None,None,DMS,NAN,None,None,16/08/2019,Without Payment
4,TRAP301B201900005,TRAP301,B201900005,A10VA,K,2019-08-16,TI,15.0,A6R,NaN,...,None,None,None,None,DMS,NAN,None,None,16/08/2019,Without Payment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953382,TRWB501B202200105,TRWB501,B202200105,A10VA,K,2022-07-15,TI,391.0,GWP,NaN,...,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:58:00,15/07/2022,Without Payment
953383,TRWB501B202200106,TRWB501,B202200106,A10VA,K,2022-07-15,TY,354.0,GWP,NaN,...,Singtam,None,None,None,DMS,NAN,None,2022-07-18 17:44:00,15/07/2022,Without Payment
953384,TRWB501B202200107,TRWB501,B202200107,A10VA,K,2022-07-18,TY,350.0,ABP,NaN,...,None,None,None,MOB,MySales,MOBILE,None,2022-07-18 17:42:00,18/07/2022,Without Payment
953385,TRWB501B202200108,TRWB501,B202200108,A10VA,K,2022-07-25,TI,8.0,KCS,NaN,...,None,None,None,MOB,MySales,MOBILE,None,2022-07-25 11:59:00,25/07/2022,Without Payment
953386,TRWB501B202200109,TRWB501,B202200109,A10VA,K,2022-08-05,SX,282.0,ABP,NaN,...,None,None,None,MOB,MySales,MOBILE,None,None,05/08/2022,Without Payment

In [39]:
df6.shape

(953387, 39)