In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\15442\appdata\roaming\python\python310\site-packages (1.4.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (1.23.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\15442\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_AfterSales_CRM_SCEQRY_TB.csv')

C:\Users\15442\AppData\Local\Temp\ipykernel_19920\2067842348.py:1: DtypeWarning: Columns (25,32,33,34,35,42,43,50,58,64,65,71,72,73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL\\Stage1_Sales_AfterSales_CRM_SCEQRY_TB.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3457854 entries, 0 to 3457853
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   EQRY_DLR_NO             object
 1   EQRY_ENQRY_NO           object
 2   EQRY_CORP_NO            object
 3   EQRY_CMPN_NO            object
 4   EQRY_DATE               object
 5   EQRY_SRC_CODE           object
 6   EQRY_STAT               int64
 7   EQRY_TYPE               object
 8   EQRY_TEST_DRVR_DATE     float64
 9   EQRY_FNCE_YN            object
 10  EQRY_FNCER_CODE         object
 11  EQRY_LOAN_AMT           float64
 12  EQRY_TENOR_MNTHS        int64
 13  EQRY_EXCHG_YN           object
 14  EQRY_EXCHG_MODEL_CODE   object
 15  EQRY_EXCHG_SRC_CODE     float64
 16  EQRY_EXPCT_PRICE        float64
 17  EQRY_QUOTD_PRICE        float64
 18  EQRY_CLSE_DATE          object
 19  EQRY_CLSE_TYPE          float64
 20  EQRY_CLSE_RMRKS         object
 21  EQRY_EMP_NO             object
 22  EQRY_CUST_NO            object
 23  EQRY_LISTD_CORP         object
 24  EQRY_CORP_NAME          object
 25  EQRY_RFRL_BY            object
 26  EQRY_CRTE_DTIME         object
 27  EQRY_CRTE_EMP_NO        object
 28  EQRY_UPDT_DTIME         object
 29  EQRY_UPDT_EMP_NO        object
 30  EQRY_EQFU_SEQ           float64
 31  EQRY_UPDT_DATE          float64
 32  EQRY_TEST_DRIVE_YN      object
 33  EQRY_SR_NUM             object
 34  EQRY_SR_TYPE            object
 35  EQRY_FLW_STATUS         object
 36  EQRY_ASSOCIATE_ID       float64
 37  EQRY_RSO_ID             float64
 38  EQRY_FUEL_TYPE          object
 39  EQRY_PRESENT_CAR_YN     object
 40  EQRY_MAKER_CODE         object
 41  EQRY_TD_VIN             float64
 42  EQRY_CUST_BLOCK         object
 43  EQRY_BULK_SALE          object
 44  EQRY_P_MODL_YEAR        float64
 45  EQRY_CLS_VAL            float64
 46  EQRY_INCOM_GROUP        float64
 47  EQRY_REFL_ID            float64
 48  EQRY_REFL_PUNCH_DLR_NO  float64
 49  EQRY_PLAN_DATE          float64
 50  EQRY_ATIVT_NAME_CODE    object
 51  EQRY_ATIVT_LOC_CODE     float64
 52  EQRY_NEWCAR_YN          object
 53  EQRY_FCALL_EMP_NO       object
 54  EQRY_APNT_DTIME         float64
 55  VIST_DTIME              float64
 56  LEAV_DTIME              float64
 57  EQRY_CTGR_CODE          float64
 58  EQRY_SUB_SRC_CODE       object
 59  EQRY_CLSE_GRP_TYPE      object
 60  EQRY_BUDG_TYPE          float64
 61  EQRY_CERT_TYPE          float64
 62  EQRY_UC_SC_EMP_NO       float64
 63  EQRY_TDRIVE_RMRKS       object
 64  EQRY_VC_RMRKS           object
 65  EQRY_REQ_TYPE           object
 66  EQRY_EMAILSEND_YN       float64
 67  EQRY_SRC_FLG            object
 68  EQRY_SR_NUM_REAL        object
 69  EQRY_ENG_TYP            object
 70  EQRY_TRNSM_TYP          object
 71  SOQ_TAG_YN              object
 72  EQRY_EVAL_YN            object
 73  EQRY_EXCH_DN            object
 74  EQRY_FINAL_BP           float64
 75  EQRY_CAMPGN_NO          object
dtypes: float64(27), int64(2), object(47)
memory usage: 2.0+ GB

In [5]:
df.shape

(3457854, 76)

In [6]:
df.isna().sum()

EQRY_DLR_NO             0
EQRY_ENQRY_NO           0
EQRY_CORP_NO            0
EQRY_CMPN_NO            0
EQRY_DATE               0
                   ...
SOQ_TAG_YN        3355301
EQRY_EVAL_YN      3395079
EQRY_EXCH_DN      3426136
EQRY_FINAL_BP     3344650
EQRY_CAMPGN_NO    3457853
Length: 76, dtype: int64

In [7]:
list = []
for i in df:
    if df[i].isna().sum() == 3457854:
        list.append(i)

In [8]:
list

['EQRY_TEST_DRVR_DATE',
 'EQRY_UPDT_DATE',
 'EQRY_TD_VIN',
 'EQRY_REFL_ID',
 'EQRY_REFL_PUNCH_DLR_NO',
 'EQRY_PLAN_DATE',
 'EQRY_ATIVT_LOC_CODE',
 'EQRY_APNT_DTIME',
 'VIST_DTIME',
 'LEAV_DTIME',
 'EQRY_BUDG_TYPE',
 'EQRY_UC_SC_EMP_NO',
 'EQRY_EMAILSEND_YN']

In [9]:
df.drop(['EQRY_TEST_DRVR_DATE',
 'EQRY_TD_VIN',
 'EQRY_REFL_ID',
 'EQRY_REFL_PUNCH_DLR_NO',
 'EQRY_PLAN_DATE',
 'EQRY_ATIVT_LOC_CODE',
 'EQRY_APNT_DTIME',
 'VIST_DTIME',
 'LEAV_DTIME',
 'EQRY_BUDG_TYPE',
 'EQRY_UC_SC_EMP_NO',
 'EQRY_EMAILSEND_YN'], axis=1, inplace = True)

In [10]:
df.shape

(3457854, 64)

In [11]:
df['Key'] = df['EQRY_ENQRY_NO']+df['EQRY_DLR_NO']

In [12]:
df

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,EQRY_SRC_FLG,EQRY_SR_NUM_REAL,EQRY_ENG_TYP,EQRY_TRNSM_TYP,SOQ_TAG_YN,EQRY_EVAL_YN,EQRY_EXCH_DN,EQRY_FINAL_BP,EQRY_CAMPGN_NO,Key
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,MOB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E201900003TRAP302
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E201900001TRUP403
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,NaN,NaN,C,B,Y,NaN,NaN,NaN,NaN,E201900003TRUP403
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,E201900006TRUP403
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,NaN,NaN,C,B,NaN,NaN,NaN,NaN,NaN,E201900007TRUP403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,MOB,KA310MS2208060244162843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202202843TRKA310
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,MOB,KA403MS2208060244238509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202208509TRKA403
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,MOB,JH501MS2208060244570622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202200622TRJH501
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,MOB,TN403MS2208060245026171,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202206171TRTN403
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,MOB,MH406MS2208060245097137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E202207137TRMH406

In [13]:
df["EQRY_SRC_FLG"] = df["EQRY_SRC_FLG"].astype(str)

In [14]:
df['EQRY_SRC_FLG']

0          MOB
1          nan
2          nan
3          nan
4          nan
          ...
3457849    MOB
3457850    MOB
3457851    MOB
3457852    MOB
3457853    MOB
Name: EQRY_SRC_FLG, Length: 3457854, dtype: object

In [15]:
EQRY_SRC_FLG_list = []
for i in df["EQRY_SRC_FLG"]:
        EQRY_SRC_FLG_list.append(i)

In [16]:
for i in range(len(EQRY_SRC_FLG_list)):
    if EQRY_SRC_FLG_list[i] == 'MOB':
        EQRY_SRC_FLG_list[i] = 'MySales'

In [17]:
for i in range(len(EQRY_SRC_FLG_list)):
    if EQRY_SRC_FLG_list[i] != 'nan' and EQRY_SRC_FLG_list[i] != 'MySales':
        EQRY_SRC_FLG_list[i] = 'Online'
    elif EQRY_SRC_FLG_list[i] == 'nan':
        EQRY_SRC_FLG_list[i] = 'DMS'

In [18]:
df['Enquiry_Source_Type'] = EQRY_SRC_FLG_list

In [19]:
df['EQRY_FNCE_YN']

0            N
1          NaN
2            N
3            N
4            N
          ...
3457849      N
3457850      N
3457851      N
3457852      N
3457853      N
Name: EQRY_FNCE_YN, Length: 3457854, dtype: object

In [20]:
df['Finance/Not Finance'] = df['EQRY_FNCE_YN'].apply(lambda x: 'Finance' if x == 'Y' else 'Not-Finance')

In [21]:
df['Finance/Not Finance']

0          Not-Finance
1          Not-Finance
2          Not-Finance
3          Not-Finance
4          Not-Finance
              ...
3457849    Not-Finance
3457850    Not-Finance
3457851    Not-Finance
3457852    Not-Finance
3457853    Not-Finance
Name: Finance/Not Finance, Length: 3457854, dtype: object

In [22]:
# result = df[df['Finance/Not Finance']=='Finance']

In [23]:
# result

In [24]:
appMap1 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\3rd Table\\ENSC_NAME(m).csv')

In [25]:
appMap2 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\3rd Table\\ENSC_GRP_NAME(m).csv')

In [26]:
appMap1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EQRY_SUB_SRC_CODE  17 non-null     int64
 1   ENSC_NAME          17 non-null     object
dtypes: int64(1), object(1)
memory usage: 400.0+ bytes

In [27]:
appMap2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EQRY_SUB_SRC_CODE  17 non-null     int64
 1   ENSC_GRP_NAME      17 non-null     object
dtypes: int64(1), object(1)
memory usage: 400.0+ bytes

In [28]:
df.shape

(3457854, 67)

In [29]:
# df['EQRY_SUB_SRC_CODE'].isna().sum()

In [30]:
appMap1.shape

(17, 2)

In [31]:
# n_df = pd.merge(df, appMap1, how='left', on=['EQRY_SUB_SRC_CODE']).groupby(['EQRY_SUB_SRC_CODE']).first().reset_index()

In [32]:
# n_df.shape

In [33]:
# n_df

In [34]:
n1_df = pd.merge(df, appMap1, how='left', on=['EQRY_SUB_SRC_CODE'])

In [35]:
n1_df.shape

(3457854, 68)

In [36]:
n1_df

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,EQRY_TRNSM_TYP,SOQ_TAG_YN,EQRY_EVAL_YN,EQRY_EXCH_DN,EQRY_FINAL_BP,EQRY_CAMPGN_NO,Key,Enquiry_Source_Type,Finance/Not Finance,ENSC_NAME
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E201900003TRAP302,MySales,Not-Finance,Dealer Website
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E201900001TRUP403,DMS,Not-Finance,Happiness Check List
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,B,Y,NaN,NaN,NaN,NaN,E201900003TRUP403,DMS,Not-Finance,Referral
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E201900006TRUP403,DMS,Not-Finance,Inbound Calls
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,B,NaN,NaN,NaN,NaN,NaN,E201900007TRUP403,DMS,Not-Finance,Referral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E202202843TRKA310,MySales,Not-Finance,Ads
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E202208509TRKA403,MySales,Not-Finance,Inbound Calls
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E202200622TRJH501,MySales,Not-Finance,Inbound Calls
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E202206171TRTN403,MySales,Not-Finance,Ads
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,E202207137TRMH406,MySales,Not-Finance,Ads

In [37]:
n1_df['EQRY_SUB_SRC_CODE']

0          40
1          16
2           8
3           1
4           8
           ..
3457849     7
3457850     1
3457851     1
3457852     7
3457853     7
Name: EQRY_SUB_SRC_CODE, Length: 3457854, dtype: object

In [38]:
n1_df.shape

(3457854, 68)

In [39]:
n1_df["ENSC_NAME"] = n1_df["ENSC_NAME"].astype(str)

In [40]:
n1_df['ENSC_NAME'] = n1_df['ENSC_NAME'].apply(lambda x: 'ADVERTISEMENTS' if x == 'Ads' else x.upper())

In [41]:
n1_df['ENSC_NAME']

0                DEALER WEBSITE
1          HAPPINESS CHECK LIST
2                      REFERRAL
3                 INBOUND CALLS
4                      REFERRAL
                   ...
3457849          ADVERTISEMENTS
3457850           INBOUND CALLS
3457851           INBOUND CALLS
3457852          ADVERTISEMENTS
3457853          ADVERTISEMENTS
Name: ENSC_NAME, Length: 3457854, dtype: object

In [42]:
n1_df.rename(columns={"ENSC_NAME":"Enquiry_Sub_Source_Name"},inplace = True)

In [43]:
n1_df.shape

(3457854, 68)

In [44]:
n2_df = pd.merge(n1_df, appMap2, how='left', on=['EQRY_SUB_SRC_CODE'])

In [45]:
n2_df.shape

(3457854, 69)

In [46]:
n2_df

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,SOQ_TAG_YN,EQRY_EVAL_YN,EQRY_EXCH_DN,EQRY_FINAL_BP,EQRY_CAMPGN_NO,Key,Enquiry_Source_Type,Finance/Not Finance,Enquiry_Sub_Source_Name,ENSC_GRP_NAME
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,NaN,NaN,NaN,NaN,NaN,E201900003TRAP302,MySales,Not-Finance,DEALER WEBSITE,Online/CRM
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,E201900001TRUP403,DMS,Not-Finance,HAPPINESS CHECK LIST,Referral
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,Y,NaN,NaN,NaN,NaN,E201900003TRUP403,DMS,Not-Finance,REFERRAL,Walkin
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,E201900006TRUP403,DMS,Not-Finance,INBOUND CALLS,Telephone
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,E201900007TRUP403,DMS,Not-Finance,REFERRAL,Walkin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,NaN,NaN,NaN,E202202843TRKA310,MySales,Not-Finance,ADVERTISEMENTS,Walkin
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,E202208509TRKA403,MySales,Not-Finance,INBOUND CALLS,Telephone
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,E202200622TRJH501,MySales,Not-Finance,INBOUND CALLS,Telephone
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,NaN,NaN,NaN,E202206171TRTN403,MySales,Not-Finance,ADVERTISEMENTS,Walkin
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,NaN,NaN,NaN,NaN,NaN,E202207137TRMH406,MySales,Not-Finance,ADVERTISEMENTS,Walkin

In [47]:
n2_df["ENSC_GRP_NAME"] = n2_df["ENSC_GRP_NAME"].astype(str)

In [48]:
n2_df['Enquiry_Source'] = n2_df['ENSC_GRP_NAME'].str.upper()

In [49]:
df_next1 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\3rd Table\\Enquiry_Status(m).csv')

In [51]:
n2_df.shape

(3457854, 70)

In [52]:
df_next1.shape

(20, 2)

In [50]:
df_next1

    EQRY_STAT                    CMM_CODE_NAME
0          10                          Enquiry
1          20                          Booking
2          30                       Assignment
3          40                          Invoice
4          45                           Retail
5          50                   Enquiry Cancel
6          60                   Booking Cancel
7          70                Assignment Cancel
8          80                   Invoice Cancel
9          90                             Lost
10         15                       Prebooking
11         86  Appointed cancellation approval
12         55         Appointed Enquiry Cancel
13         57          Customer Meeting Cancel
14         59         Enquiry Follow up Cancel
15         85    Enquiry cancellation approval
16          1                             Lead
17          5                Appointed Enquiry
18          7                 Customer Meeting
19          9                Enquiry Follow up

In [53]:
merge1 = pd.merge(n2_df, df_next1, how='left', on=['EQRY_STAT'])

In [54]:
merge1.shape

(3457854, 71)

In [56]:
merge1.rename(columns = {'CMM_CODE_NAME':'Enquiry_Status'}, inplace = True)

In [57]:
merge1

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,EQRY_EXCH_DN,EQRY_FINAL_BP,EQRY_CAMPGN_NO,Key,Enquiry_Source_Type,Finance/Not Finance,Enquiry_Sub_Source_Name,ENSC_GRP_NAME,Enquiry_Source,Enquiry_Status
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,NaN,NaN,NaN,E201900003TRAP302,MySales,Not-Finance,DEALER WEBSITE,Online/CRM,ONLINE/CRM,Appointed Enquiry Cancel
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,NaN,E201900001TRUP403,DMS,Not-Finance,HAPPINESS CHECK LIST,Referral,REFERRAL,Booking Cancel
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,NaN,NaN,NaN,E201900003TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Booking Cancel
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,NaN,NaN,E201900006TRUP403,DMS,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking Cancel
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,NaN,NaN,NaN,E201900007TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Retail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,NaN,E202202843TRKA310,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,NaN,NaN,NaN,E202208509TRKA403,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Enquiry Follow up
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,NaN,NaN,NaN,E202200622TRJH501,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,NaN,E202206171TRTN403,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,NaN,NaN,NaN,E202207137TRMH406,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up

In [58]:
df_next2 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\3rd Table\\Enquiry_Type2(m).csv')

In [59]:
merge1.shape

(3457854, 71)

In [60]:
df_next2.shape

(3, 2)

In [61]:
df_next2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EQRY_TYPE      3 non-null      object
 1   CMM_CODE_NAME  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [62]:
merge2 = pd.merge(merge1, df_next2, how='left', on=['EQRY_TYPE'])

In [63]:
merge2.shape

(3457854, 72)

In [64]:
merge2.rename(columns = {'CMM_CODE_NAME':'Enquiry_Type2'}, inplace = True)

In [65]:
merge2

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,EQRY_FINAL_BP,EQRY_CAMPGN_NO,Key,Enquiry_Source_Type,Finance/Not Finance,Enquiry_Sub_Source_Name,ENSC_GRP_NAME,Enquiry_Source,Enquiry_Status,Enquiry_Type2
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,NaN,NaN,E201900003TRAP302,MySales,Not-Finance,DEALER WEBSITE,Online/CRM,ONLINE/CRM,Appointed Enquiry Cancel,Warm
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,E201900001TRUP403,DMS,Not-Finance,HAPPINESS CHECK LIST,Referral,REFERRAL,Booking Cancel,Hot
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,NaN,NaN,E201900003TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Booking Cancel,Hot
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,NaN,E201900006TRUP403,DMS,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking Cancel,Hot
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,NaN,NaN,E201900007TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Retail,Hot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,E202202843TRKA310,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Cold
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,NaN,NaN,E202208509TRKA403,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Enquiry Follow up,Hot
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,NaN,NaN,E202200622TRJH501,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking,Hot
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,NaN,E202206171TRTN403,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Cold
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,NaN,NaN,E202207137TRMH406,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Hot

In [66]:
df_next3 = pd.read_csv('C:\\Users\\15442\\Desktop\\Files\\ETL Through Code\\Modified files\\3rd Table\\Enquiry_Category_Type(m).csv')

In [67]:
merge2.shape

(3457854, 72)

In [68]:
df_next3.shape

(20, 2)

In [69]:
df_next3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EQRY_CTGR_CODE  20 non-null     int64
 1   CMM_CODE_NAME   20 non-null     object
dtypes: int64(1), object(1)
memory usage: 448.0+ bytes

In [70]:
merge3 = pd.merge(merge2, df_next3, how='left', on=['EQRY_CTGR_CODE'])

In [71]:
merge3.shape

(3457854, 73)

In [74]:
merge3

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_FNCE_YN,EQRY_FNCER_CODE,...,EQRY_CAMPGN_NO,Key,Enquiry_Source_Type,Finance/Not Finance,Enquiry_Sub_Source_Name,ENSC_GRP_NAME,Enquiry_Source,Enquiry_Status,Enquiry_Type2,Enquiry_Category_Type
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,N,NaN,...,NaN,E201900003TRAP302,MySales,Not-Finance,DEALER WEBSITE,Online/CRM,ONLINE/CRM,Appointed Enquiry Cancel,Warm,Individual
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,E201900001TRUP403,DMS,Not-Finance,HAPPINESS CHECK LIST,Referral,REFERRAL,Booking Cancel,Hot,Corporate Company
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,N,NaN,...,NaN,E201900003TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Booking Cancel,Hot,Individual
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,N,NaN,...,NaN,E201900006TRUP403,DMS,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking Cancel,Hot,Individual
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,N,NaN,...,NaN,E201900007TRUP403,DMS,Not-Finance,REFERRAL,Walkin,WALKIN,Retail,Hot,Individual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,E202202843TRKA310,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Cold,Individual
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,N,NaN,...,NaN,E202208509TRKA403,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Enquiry Follow up,Hot,Individual
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,N,NaN,...,NaN,E202200622TRJH501,MySales,Not-Finance,INBOUND CALLS,Telephone,TELEPHONE,Booking,Hot,Individual
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,N,NaN,...,NaN,E202206171TRTN403,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Cold,Individual
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,N,NaN,...,NaN,E202207137TRMH406,MySales,Not-Finance,ADVERTISEMENTS,Walkin,WALKIN,Enquiry Follow up,Hot,Individual

In [73]:
merge3.rename(columns = {'CMM_CODE_NAME':'Enquiry_Category_Type'}, inplace = True)

In [75]:
merge3.columns

Index(['EQRY_DLR_NO', 'EQRY_ENQRY_NO', 'EQRY_CORP_NO', 'EQRY_CMPN_NO',
       'EQRY_DATE', 'EQRY_SRC_CODE', 'EQRY_STAT', 'EQRY_TYPE', 'EQRY_FNCE_YN',
       'EQRY_FNCER_CODE', 'EQRY_LOAN_AMT', 'EQRY_TENOR_MNTHS', 'EQRY_EXCHG_YN',
       'EQRY_EXCHG_MODEL_CODE', 'EQRY_EXCHG_SRC_CODE', 'EQRY_EXPCT_PRICE',
       'EQRY_QUOTD_PRICE', 'EQRY_CLSE_DATE', 'EQRY_CLSE_TYPE',
       'EQRY_CLSE_RMRKS', 'EQRY_EMP_NO', 'EQRY_CUST_NO', 'EQRY_LISTD_CORP',
       'EQRY_CORP_NAME', 'EQRY_RFRL_BY', 'EQRY_CRTE_DTIME', 'EQRY_CRTE_EMP_NO',
       'EQRY_UPDT_DTIME', 'EQRY_UPDT_EMP_NO', 'EQRY_EQFU_SEQ',
       'EQRY_UPDT_DATE', 'EQRY_TEST_DRIVE_YN', 'EQRY_SR_NUM', 'EQRY_SR_TYPE',
       'EQRY_FLW_STATUS', 'EQRY_ASSOCIATE_ID', 'EQRY_RSO_ID', 'EQRY_FUEL_TYPE',
       'EQRY_PRESENT_CAR_YN', 'EQRY_MAKER_CODE', 'EQRY_CUST_BLOCK',
       'EQRY_BULK_SALE', 'EQRY_P_MODL_YEAR', 'EQRY_CLS_VAL',
       'EQRY_INCOM_GROUP', 'EQRY_ATIVT_NAME_CODE', 'EQRY_NEWCAR_YN',
       'EQRY_FCALL_EMP_NO', 'EQRY_CTGR_CODE', 'EQRY_SUB_SRC_CODE',
       'EQRY_CLSE_GRP_TYPE', 'EQRY_CERT_TYPE', 'EQRY_TDRIVE_RMRKS',
       'EQRY_VC_RMRKS', 'EQRY_REQ_TYPE', 'EQRY_SRC_FLG', 'EQRY_SR_NUM_REAL',
       'EQRY_ENG_TYP', 'EQRY_TRNSM_TYP', 'SOQ_TAG_YN', 'EQRY_EVAL_YN',
       'EQRY_EXCH_DN', 'EQRY_FINAL_BP', 'EQRY_CAMPGN_NO', 'Key',
       'Enquiry_Source_Type', 'Finance/Not Finance', 'Enquiry_Sub_Source_Name',
       'ENSC_GRP_NAME', 'Enquiry_Source', 'Enquiry_Status', 'Enquiry_Type2',
       'Enquiry_Category_Type'],
      dtype='object')